<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block extraCss %}
<style>
.approved-btn:hover {
  cursor: default;
}
</style>
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
      		<div class="m-portlet__head-caption">
      			<div class="m-portlet__head-title">
      				<h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
      					{{ backup_period }}
      				</h3>
      			</div>
      		</div>
        </div>
        <div class="m-portlet__body">
            <table class="table table-striped m-table m-table--head-separator-bloom dataTable">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Similar</th>
                        <th>Backup</th>
                        <th>Basecamp link</th>
                        <th>Assign</th>
                        <th>Approved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for backup in backup_period.backup_set.all %}
                    <tr>
                        <td>
                            {{ backup.account }}
                        </td>
                        <td>
                            Coming soon
                        </td>
                        <td>
                            {{ backup.member }}
                        </td>
                        <td>
                            {{ backup.bc_link }}
                        </td>
                        <td>
                            <button class="btn btn-sm" data-toggle="modal" data-target="#modal_add_backup" data-account="{{ backup.account.id }}">Assign</button>
                        </td>
                        <td>
                            <button class="btn btn-sm">Approve</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>

<!-- Add backup modal -->
<div class="modal fade" id="modal_add_backup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Add Backup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="m-form" method="POST">
              {% csrf_token %}
              <input name="type" type="text" value="backup" style="display:none;" />
              <input name="period" id="period_input" type="text" value="{{ backup_period.id }}" style="display:none;" />
              <input name="account" id="account_input" type="text" value="" style="display:none;" />
              <div class="modal-body">
                <div class="m-portlet__body">
                  <div class="form-group m-form__group">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Member:</label>
                        <select class="form-control m-input"
                                name="member"
                                style="width: 100%;">
                                {% for member in members %}
                                <option value="{{ member.id }}">{{ member.user.get_full_name }} - {{ member.hours_available }} hours</option>
                                {% endfor %}
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label>Basecamp link:</label>
                        <input type="text" name="bc_link" class="form-control" placeholder="Basecamp link">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <input type="submit" value="Add Backup" class="btn btn-brand">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- End Add backup -->

<!-- Edit backup modal -->
<div class="modal fade" id="modal_edit_backup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Edit Backup <span="edit-backup-str"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="m-form" method="POST">
              {% csrf_token %}
              <input name="type" type="text" value="edit" style="display:none;" />
              <input name="edit-bu-id" id="edit_bu_id" type="text" value="" style="display:none;" />
              <div class="modal-body">
                <div class="m-portlet__body">
                  <div class="form-group m-form__group">
                    <div class="row">
                      <div class="col-md-6">
                        <label>Member:</label>
                        <select class="form-control m-input"
                                id="edit_bu_member"
                                name="member"
                                style="width: 100%;">
                        </select>
                      </div>
                      <div class="col-md-6">
                        <label>Account:</label>
                        <select class="form-control m-input"
                                id="edit_bu_account"
                                name="account"
                                style="width: 100%;">
                        </select>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <label>Basecamp link:</label>
                        <input type="text" id="edit_bu_bc" name="bc_link" class="form-control" placeholder="Basecamp link">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                  <input type="submit" value="Edit Backup" class="btn btn-brand">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- End Edit backup -->


<!-- Delete backup modal -->
<div class="modal fade" id="modal_delete_backup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to delete <code id="delete_backup_str"></code>? This cannot be undone.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="m-form" method="POST">
              {% csrf_token %}
              <input name="type" type="text" value="delete" style="display:none;" />
              <input name="bu_id" id="bu_id_del" type="text" value="" style="display:none;" />
              <div class="modal-footer">
                  <input type="submit" value="Delete" class="btn btn-danger">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- End delete backup -->

<!-- Template backup -->
<template id="backup_template">
  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <a href="" class="member-link"><h5 class="card-title member-name"></h5></a>
        <a href="" class="account-id"><p class="card-text account-name"></p></a>
        <p class="card-text bc-link"></p>
        <button type="button" class="btn btn-sm approve-btn" data-backup-id="{{ backup.id }}"></button>
        <button type="button" class="btn btn-sm edit-modal-btn" data-toggle="modal" data-target="#modal_edit_backup" data-backup-id="{{ backup.id }}" data-backup-member="{{ backup.member.id }}" data-backup-account="{{ backup.account.id }}" data-backup-bc="{{ backup.bc_link }}">Edit</button>
        <button type="button" class="btn btn-sm btn-danger delete-btn" data-toggle="modal" data-target="#modal_delete_backup" data-backup-str="{{ backup }}" data-backup-id="{{ backup.id }}">Delete</button>
      </div>
    </div>
  </div>
</template>
<!-- end template backup -->
{% endblock %}

{% block extraJs %}
<script>
$(document).ready(function () {
    let $assignBtn = $('.assign-btn');
    $assignBtn.on('show.bs.modal', function (e) {
        let period_id = $(e.relatedTarget).data('period');
        let account_id = $(e.relatedTarget).data('account');
        $periodInput.attr('value', period_id);
    });


  // Old
  let $dueDatePickers = $('.m_datepicker');
  let $addBackupBtn = $('.add-bk-btn');
  let $modalAddBackup = $('#modal_add_backup');
  let $modalDeleteBackup = $('#modal_delete_backup');
  let $periodInput = $('#period_input');
  let $approval = $('.approve');
  let $buIdDel = $('#bu_id_del');
  let $delBuStr = $('#delete_backup_str');
  let $load = $('.load-btn');

  /**
   * DOM elements for editing backups
   */
  let $editBuId = $('#edit_bu_id');
  let $editBuMember = $('#edit_bu_member');
  let $editBuAccount = $('#edit_bu_account');
  let $editBuBc = $('#edit_bu_bc');
  let $editModal = $('#modal_edit_backup');

  const spawnBackupTemplate = function (backupJson) {
      const template = document.getElementById('backup_template').content;
      const parentRow = document.getElementById('bp-' + backupJson['row_id']);
      const buId = backupJson['bu_id'];

      $(template.querySelector('.member-link')).attr('href', '/user_management/members/' + backupJson['member_id']);
      template.querySelector('.member-name').innerHTML = backupJson['member_name'];
      $(template.querySelector('.account-link')).attr('href', '/clients/accounts/' + backupJson['account_id']);
      template.querySelector('.account-name').innerHTML = backupJson['account_name'];

      // Handle basecamp link
      let bcLinkEl = template.querySelector('.bc-link');
      if (backupJson['bc_link'] == 'None') {
        bcLinkEl.innerHTML = 'Warning: no Basecamp link!';
      } else {
        bcLinkEl.innerHTML = '<a href="' + backupJson['bc_link']  + '">Basecamp link</a>';
      }

      // handle approve button
      let apprBtn = template.querySelector('.approve-btn');
      apprBtn.setAttribute('data-backup-id', buId);
      if (backupJson['approved']) {
        apprBtn.innerHTML = 'Approved';
        apprBtn.disabled = true
        apprBtn.classList.add('btn-success');
        apprBtn.classList.add('approved-btn');
      } else {
        apprBtn.innerHTML = 'Approve';
        apprBtn.classList.add('approve');
      }

      // handle edit button
      let editBtn = template.querySelector('.edit-modal-btn');
      editBtn.setAttribute('data-backup-id', buId);
      editBtn.setAttribute('data-backup-member', backupJson['member_id']);
      editBtn.setAttribute('data-backup-account', backupJson['account_id']);
      editBtn.setAttribute('data-backup-bc', backupJson['bc_link']);

      //handle delete btn
      let delBtn = template.querySelector('.delete-btn');
      delBtn.setAttribute('data-backup-id', buId);
      delBtn.setAttribute('data-backup-str', backupJson['bu_str']);

      const clone = document.importNode(template, true);
      parentRow.appendChild(clone);
  };

  $dueDatePickers.datepicker({
      todayHighlight: !0,
      autoclose: !0,
      format: 'yyyy-mm-dd',
      orientation: "bottom left",
      templates: {
          leftArrow: '<i class="la la-angle-left"></i>',
          rightArrow: '<i class="la la-angle-right"></i>'
      }
  }).on('show.bs.modal', function (event) {
      event.stopPropagation();
  });

  $editModal.on('show.bs.modal', function (e) {
      let buId = $(e.relatedTarget).data('backup-id');
      let buMember = $(e.relatedTarget).data('backup-member');
      let buAccount = $(e.relatedTarget).data('backup-account');
      let buBc = $(e.relatedTarget).data('backup-bc');

      console.log(buMember);

      $editBuId.attr('value', buId);
      $editBuMember.val(buMember);
      $editBuAccount.val(buAccount);
      $editBuBc.attr('value', buBc);
      // $periodInput.attr('value', period_id);
  });

  $modalAddBackup.on('show.bs.modal', function (e) {
      let period_id = $(e.relatedTarget).data('period');
      $periodInput.attr('value', period_id);
  });

  $modalDeleteBackup.on('show.bs.modal', function (e) {
      let buId = $(e.relatedTarget).data('backup-id');
      $buIdDel.attr('value', buId);
      $delBuStr.html($(e.relatedTarget).data('backup-str'));
  });

  $('body').on('click', '.approve', function () {
      let buId = $(this).data('backup-id');
      let $this = $(this);
      $.ajax({
          url: '/user_management/backups',
          data: {
              'bu_id': buId,
              'type': 'approval'
          },
          headers: {
              'X-CSRFToken': csrftoken
          },
          type: 'POST',
          success: function (data) {
              console.log(data);
              $this.removeClass('approve');
              $this.addClass('btn-success');
              $this.addClass('approved-btn');
              $this.html('Approved');
              $this.prop('disabled', 'disabled');
          }
      });
  });

  $load.click(function () {
    let bpId = $(this).data('period');
    console.log(bpId);
    $.ajax({
        url: '/user_management/backups',
        data: {
            'period': bpId,
            'type': 'expand'
        },
        headers: {
            'X-CSRFToken': csrftoken
        },
        type: 'POST',
        success: function (data) {
            console.log(data);
            for (id in data) {
              spawnBackupTemplate(data[id]);
            }
        }
    });
  });

  /**
   * Load members
   */


});
</script>
{% endblock %}
