<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block extraCss %}
<style>
  #members_datatable {
    width: 100%;
  }
  .long-header-row {
    text-align: center;
  }
  th {
    white-space: nowrap;
  }
  td {
    text-align: center;
  }
</style>
{% endblock %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Members</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
          <table class='table table-striped m-table m-table--head-separator-bloom dataTable' id="members_datatable">
            <thead class="thead-inverse">
              <tr class="long-header-row">
                <th colspan="4" style="background: #a5c7ff;">
                  Member
                </th>
                <th colspan="9" style="background: #30c141;">
                  Buffer Time Allocation
                </th>
                <th colspan="15" style="background: #fc9374;">
                  Skills
                </th>
                <th colspan="2" style="background: #f268ff;">
                  Incidents
                </th>
              </tr>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>
                  Role
                </th>
                <th>
                  Total
                </th>
                <th>
                  Learning
                </th>
                <th>
                  Trainers
                </th>
                <th>
                  Sales
                </th>
                <th>
                  Planning
                </th>
                <th>
                  Internal
                </th>
                <th>
                  Seniority
                </th>
                <th>
                  Percentage
                </th>
                <th>
                  Hours Available
                </th>
                <th>
                  SEO
                </th>
                <th>
                  CRO
                </th>
                <th>
                  FB
                </th>
                <th>
                  Adwords
                </th>
                <th>
                  Bing
                </th>
                <th>
                  LinkedIn
                </th>
                <th>
                  Pinterest
                </th>
                <th>
                  Twitter
                </th>
                <th>
                  English
                </th>
                <th>
                  French
                </th>
                <th>
                  Technical
                </th>
                <th>
                  Confident
                </th>
                <th>
                  Communication
                </th>
                <th>
                  Last Check
                </th>
                <th>
                  Last Language Check
                </th>
                <th>Incident Count</th>
                <th>Latest Incident</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>
                  {{ member.user.first_name }}
                </td>
                <td>
                  {{ member.user.last_name }}
                </td>
                <td>
                  {{ member.team.name }}
                </td>
                <td>
                  {{ member.role }}
                </td>
                <td>
                  {{ member.buffer_total_percentage }}
                </td>
                <td>
                  {{ member.buffer_learning_percentage }}
                </td>
                <td>
                  {{ member.buffer_trainers_percentage }}
                </td>
                <td>
                  {{ member.buffer_sales_percentage }}
                </td>
                <td>
                  {{ member.buffer_planning_percentage }}
                </td>
                <td>
                  {{ member.buffer_internal_percentage }}
                </td>
                <td>
                  {{ member.buffer_seniority_percentage }}
                </td>
                <td>
                  {{ member.buffer_buffer_percentage }}
                </td>
                <td>
                  {{ member.buffer_hours_available }}
                </td>
                <td>
                  {{ member.skill_seo }}
                </td>
                <td>
                  {{ member.skill_cro }}
                </td>
                <td>
                  {{ member.skill_fb }}
                </td>
                <td>
                  {{ member.skill_adwords }}
                </td>
                <td>
                  {{ member.skill_bing }}
                </td>
                <td>
                  {{ member.skill_linkedin }}
                </td>
                <td>
                  {{ member.skill_pinterest }}
                </td>
                <td>
                  {{ member.skill_twitter }}
                </td>
                <td>
                  {{ member.skill_english }}
                </td>
                <td>
                  {{ member.skill_french }}
                </td>
                <td>
                  {{ member.skill_technical }}
                </td>
                <td>
                  {{ member.skill_confident }}
                </td>
                <td>
                  {{ member.skill_communication }}
                </td>
                <td>
                  {{ member.last_skill_check }}
                </td>
                <td>
                  {{ member.last_language_check }}
                </td>
                <td>
                  {{ member.incidents }}
                </td>
                <td>
                  {{ member.mostRecentIncident.date }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
<script type="text/javascript">

  function toggleLabels(label_id){
    $("#"+label_id).toggle();
  }

</script>
{% endblock %}
