<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Members</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
          <table class='table table-striped m-table m-table--head-separator-bloom dataTable' id="members_datatable">
            <thead class="thead-inverse">
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>Incident Count</th>
                <th>Latest Incident</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>
                  {{ member.user.first_name }}
                </td>
                <td>
                  {{ member.user.last_name }}
                </td>
                <td>
                  {{ member.team.name }}
                </td>
                <td>
                  {{ member.incidents }}
                </td>
                <td>
                  {{ member.mostRecentIncident.date }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
<script type="text/javascript">

  function toggleLabels(label_id){
    $("#"+label_id).toggle();
  }

</script>
{% endblock %}
