<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-4">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Personal Details</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
          {% if request.user.is_staff %}
            <a href="{{ member.id }}/edit">Edit {{ member.user.first_name }} {{ member.user.last_name }}</a>
          {% endif %}
          <hr />
          <div class="form-group m-form__group">
            <div class="row">
              <div class="col-md-6">
                <label for="input_first_name">First Name:</label>
                <input type="text"class="form-control m-input" value="{{ member.user.first_name }}" disabled>
              </div>
              <div class="col-md-6">
                <label for="input_last_name">Last Name:</label>
                <input type="text" class="form-control m-input" value="{{ member.user.last_name }}" disabled>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <label for="input_email">Email address:</label>
            <input type="email" class="form-control m-input" value="{{ member.user.email }}" disabled>
          </div>
          <div class="m-form__group form-group">
            <label for="">Permissions:</label>
            <div class="m-checkbox-list">
              <label class="m-checkbox">
                <input type="checkbox" name="is_staff" {% if member.user.is_staff %} checked {% endif %} disabled> Admin
                <span></span>
              </label>
            </div>
          </div>
          <h3>Team and Role</h3>
          <hr />
          <div class="form-group m-form__group">
            <div class="row">
              <div class="col-md-6">
                <label for="team">Team:</label>
                {% for team in member.team.all %}
                  <input type="text" class="form-control m-input" value="{{ team.name }}" disabled>
                {% endfor %}
              </div>
              <div class="col-md-6">
                <label for="role">Role:</label>
                <input type="text" class="form-control m-input" value="{{ member.role.name }}" disabled>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Hours and Skills</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
          <h3>Hours</h3>
          <hr />
          <div class="form-group m-form__group">
            <div class="row">
              <div class="col-md-3">
                <label for="buffer_total_percentage">Total Percentage:</label>
                <input type="text" class="form-control m-input"value="{{ member.buffer_total_percentage }}%" disabled>
              </div>
              <div class="col-md-3">
                <label for="buffer_learning_percentage">Learning Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_learning_percentage }}%" disabled>
              </div>
              <div class="col-md-3">
                <label for="buffer_trainers_percentage">Trainers Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_trainers_percentage }}%" disabled>
              </div>
              <div class="col-md-3">
                <label for="buffer_sales_percentage">Sales Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_sales_percentage }}%" disabled>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <div class="row">
              <div class="col-md-3">
                <label for="buffer_planning_percentage">Planning Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_planning_percentage }}%" disabled>
              </div>
              <div class="col-md-3">
                <label for="buffer_internal_percentage">Internal Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_internal_percentage }}%" disabled>
              </div>
              <div class="col-md-3">
                <label for="buffer_seniority_percentage">Seniority Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_seniority_percentage }}%" disabled>
              </div>
              <div class="col-md-3">
                <label for="buffer_buffer_percentage">Buffer Percentage:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_buffer_percentage }}%" disabled>
              </div>
            </div>
          </div>
          <div class="form-group m-form__group">
            <div class="row">
              <div class="col-md-3">
                <label for="buffer_hours_available">Hours Available:</label>
                <input type="text" class="form-control m-input" value="{{ member.buffer_hours_available }}" disabled>
              </div>
            </div>
          </div>
          <br />
          <!-- <h3>Member Skills</h3>
          <hr />
          {% for memberSkill in memberSkills %}
            {% if forloop.first %}
            <div class="form-group m-form__group">
              <div class="row">
            {% else %}
            {% cycle '' '' '' '' '' '<div class="form-group m-form__group"><div class="row">' %}
            {% endif %}
            <div class="col-md-2">
              <label for="skill_{{ memberSkill.skill.name }}">{{ memberSkill.skill.name }}:</label>
              <input type="text" class="form-control m-input" value="{{ memberSkill.score }}" disabled />
            </div>
            {% if forloop.last %}
              </div>
            </div>
            {% else %}
            {% cycle '' '' '' '' '' '</div></div>' %}
            {% endif %}
          {% endfor %}
          <br />  -->
          <h3>Member Skills</h3>
          <hr />
          <canvas id="myChart" width="400" height="200"></canvas>
          <h3>Incidents</h3>
          <hr />
          {% if member.incidents == 0 %}
            <p>You have no incidents!</p>
          {% else %}
            <table class='table table-striped m-table m-table--head-separator-bloom dataTable'>
              <thead>
                <tr>
                  <th>
                    Date
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Members
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for incident in incidents %}
                <tr>
                  <td>
                    {{ incident.date }}
                  </td>
                  <td>
                    {{ incident.description }}
                  </td>
                  <td>
                    {% for offender in incident.members.all %}{{ offender }}<br/>{% endfor %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
{% endblock %}

{% block extraJs %}
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for memberSkill in memberSkills %}"{{ memberSkill.skill.name }}"{% if not forloop.last %},{% endif %}{% endfor %}],
        datasets: [{
            label: '# of Votes',
            data: [{% for memberSkill in memberSkills %}"{{ memberSkill.score }}"{% if not forloop.last %},{% endif %}{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}
