<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
      		<div class="m-portlet__head-caption">
      			<div class="m-portlet__head-title">
      				<h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
      				  Skills
      				</h3>
      			</div>
      		</div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
              <button type="button" class="btn btn-info m-btn add-client"
                      data-toggle="modal"
                      data-target="#m_add_skill"> Add a new skill
              </button>
          </div>
          <table class='table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline' id='skills_datatable'>
            <thead>
              <tr>
                <th>
                  Skill Name
                </th>
                <th>
                  None
                </th>
                <th>
                  Poor
                </th>
                <th>
                  Average
                </th>
                <th>
                  Excellent
                </th>
              </tr>
            </thead>
            <tbody>
              {% for skill in skills %}
              <tr>
                <td>
                  <a href="/user_management/skills/{{ skill.id }}">{{ skill.name }}</a>
                </td>
                <td>
                  {% for skillEntry in skill.score0 %}
                    {{ skillEntry.member.user.first_name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for skillEntry in skill.score1 %}
                    {{ skillEntry.member.user.first_name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for skillEntry in skill.score2 %}
                    {{ skillEntry.member.user.first_name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {% for skillEntry in skill.score3 %}
                    {{ skillEntry.member.user.first_name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!--End::Main Portlet-->
</div>

<!-- Begin add skill modal -->
<div class="modal fade" id="m_add_skill" tabindex="-1" role="dialog" aria-labelledby="m_add_skill">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Skill</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form class="m-form" method="POST" action="/user_management/skills/new" id="m_form_add_skill">
              {% csrf_token %}
              <div class="modal-body">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="input_skillname">Skill name:</label>
                                <input type="text" name="skillname" class="form-control m-input"
                                       placeholder="Please enter a team name">
                                <span class="m-form__help">Required. 150 characters or fewer.</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                  <input type="submit" value="Submit" class="btn btn-brand">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </form>
        </div>
    </div>
</div>
<!-- End add skill modal -->

{% endblock %}
