<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Teams</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">

          <div class="row">
              <button type="button" class="btn btn-info m-btn add-client"
                      data-toggle="modal"
                      data-target="#m_add_team"> Add a new team
              </button>
          </div>

          <hr />

          <table class='table table-striped m-table m-table--head-separator-bloom dataTable' id="teams_datatable">
            <thead class="thead-inverse">
              <tr>
                <th>Team Name</th>
                <th>Members</th>
              </tr>
            </thead>
            <tbody>
              {% for team in teams %}
              <tr>
                <td>
                  {{ team.name }}
                </td>
                <td>
                  {% for member in team.members %}
                    {{ member.user.first_name }}
                  {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>

<!-- Begin add team modal -->
<div class="modal fade" id="m_add_team" tabindex="-1" role="dialog" aria-labelledby="modal_add_user">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create New Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="m-form" id="m_form_add_team">
                    <div class="m-portlet__body">
                        <div class="form-group m-form__group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="input_teamname">Team name:</label>
                                    <input type="text" name="teamname" class="form-control m-input"
                                           placeholder="Please enter a team name">
                                    <span class="m-form__help">Required. 150 characters or fewer.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="submitNewTeam()" class="btn btn-brand">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End add team modal -->


<script type="text/javascript">
function submitNewTeam() {
    let form = $('#m_form_add_team');
    let modal = $('#m_add_team');
    let data = form.serializeArray();

    $.validator.addMethod('specialChars', function (value) {
        return /^[a-zA-Z0-9@.+\-_]+$/.test(value);
    }, 'Letters, digits and  @/./+/-/_ characters are permitted.');

    let validator = form.validate({
        ignore: ":hidden",

        rules: {
            teamname: {
                required: true,
                minlength: 3,
                maxlength: 150,
                specialChars: true,
            }

        },
        messages: {
            teamname: {
                required: 'Please enter a team name.',
                minlength: jQuery.validator.format('At least {0} characters are required.'),
                maxlength: jQuery.validator.format('At least {0} characters are required.'),
                specialChar: true,
            }
        },
    });

    if (validator.form()) {
        $.ajax({
            url: '/user_management/teams/new',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            type: 'POST',
            data: data,

            success: function (data) {
                if (data['error_message']) {
                    toastr.error(data['error_message'])
                } else {
                    toastr.success('Team ' + data['teamname'] + ' successfully created.');
                    modal.modal('hide');
                    form.trigger('reset');
                }
            },
            error: function (ajaxContext) {
                toastr.error(ajaxContext.statusText)
            },
            complete: function () {
                setTimeout(function () {
                    location.reload();
                }, 3500);
            }
        });
    }
}
</script>
{% endblock %}
