<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block extraCss %}
<style>
  #training_datatable {
    width: 100%;
  }
  .long-header-row {
    text-align: center;
  }
  th {
    white-space: nowrap;
  }
  td {
    text-align: center;
  }
</style>
{% endblock %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Members Training</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
          <table class='table table-striped m-table m-table--head-separator-bloom m-datatable__table dataTable' id="training_datatable">
            <thead class="thead-inverse">
              <tr class="long-header-row">
                <th colspan="4" style="background: #2C8BCB; opacity: 0.85; color: #fff;">
                  Member
                </th>
                <th colspan="15" style="background: #ff7f30; opacity: 0.85; color: #fff;">
                  Skills
                </th>
                <th colspan="2" style="background: #4bb786; opacity: 0.85; color: #fff;">
                  Incidents
                </th>
              </tr>
              <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>
                  Role
                </th>
                <th>
                  SEO
                </th>
                <th>
                  CRO
                </th>
                <th>
                  Facebook
                </th>
                <th>
                  Adwords
                </th>
                <th>
                  Bing
                </th>
                <th>
                  LinkedIn
                </th>
                <th>
                  Pinterest
                </th>
                <th>
                  Twitter
                </th>
                <th>
                  English
                </th>
                <th>
                  French
                </th>
                <th>
                  Technical
                </th>
                <th>
                  Confident
                </th>
                <th>
                  Communication
                </th>
                <th>
                  Last Skill Check
                </th>
                <th>
                  Last Language Check
                </th>
                <th>
                  # of Incidents
                </th>
                <th>
                  Most Recent Incident
                </th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>
                  <a href="{{ member.id }}">{{ member.user.first_name }}</a>
                </td>
                <td>
                  {{ member.user.last_name }}
                </td>
                <td>
                  {% for team in member.team.all %}
                    {{ team.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {{ member.role }}
                </td>
                <td>
                  {{ member.skill_seo }}
                </td>
                <td>
                  {{ member.skill_cro }}
                </td>
                <td>
                  {{ member.skill_fb }}
                </td>
                <td>
                  {{ member.skill_adwords }}
                </td>
                <td>
                  {{ member.skill_bing }}
                </td>
                <td>
                  {{ member.skill_linkedin }}
                </td>
                <td>
                  {{ member.skill_pinterest }}
                </td>
                <td>
                  {{ member.skill_twitter }}
                </td>
                <td>
                  {{ member.skill_english }}
                </td>
                <td>
                  {{ member.skill_french }}
                </td>
                <td>
                  {{ member.skill_technical }}
                </td>
                <td>
                  {{ member.skill_confident }}
                </td>
                <td>
                  {{ member.skill_communication }}
                </td>
                <td>
                  {{ member.last_skill_check }}
                </td>
                <td>
                  {{ member.last_language_check }}
                </td>
                <td>
                  {{ member.incidents }}
                </td>
                <td>
                  {{ member.mostRecentIncident.date }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
{% endblock %}
