<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% load template_filters %}

{% block extraCss %}
<style>
#training_datatable {
  width: 100%;
}
.long-header-row {
  text-align: center;
}
.main-table-header {
  background: #f4f3f8;
}
th {
  white-space: nowrap;
}
.m-table.m-table--head-separator-bloom thead th {
  border: 0;
}
td {
  text-align: center;
}
</style>
{% endblock %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
      		<div class="m-portlet__head-caption">
      			<div class="m-portlet__head-title">
      				<h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
      					Member Training Datatable
      				</h3>
      			</div>
      		</div>
        </div>
        <hr />
        <div class="m-portlet__body">
          <table class='table m-table table-striped m-table--head-separator-bloom m-datatable__table dataTable' id="training_datatable">
            <thead class="thead-inverse">
              <tr class="main-table-header">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Team</th>
                <th>
                  Role
                </th>
                {# Just get the skills #}
                {% for skillEntry in members.0.skills %}
                <th>
                  {{ skillEntry.skill.name }}
                </th>
                {% endfor %}
                <th>
                  Last Skill Check
                </th>
                <th>
                  Last Language Check
                </th>
                <th>
                  # of Incidents
                </th>
                <th>
                  Most Recent Incident
                </th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>
                  <a href="{{ member.id }}">{{ member.user.first_name }}</a>
                </td>
                <td>
                  {{ member.user.last_name }}
                </td>
                <td>
                  {% for team in member.team.all %}
                  {{ team.name }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>
                  {{ member.role }}
                </td>
                {% for memberSkill in member.skills %}
                <td>
                  {{ memberSkill.score }}
                </td>
                {% endfor %}
                <td>
                  {{ member.last_skill_check }}
                </td>
                <td>
                  {{ member.last_language_check }}
                </td>
                <td>
                  {{ member.incidents }}
                </td>
                <td>
                  {{ member.mostRecentIncident.date }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<!--End::Main Portlet-->
</div>
{% endblock %}
