.hidden {
    display: none;
}

.m-portlet.m-portlet--creative .m-portlet__head .m-portlet__head-caption .m-portlet__head-label.m-portlet__head-label--bloom {
    color: #fff;
    background: #212529;
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head {
    background-color: #212529;
    border-color: #212529;
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg {
    background: #212529;
    border-color: #212529
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head {
    background-color: #212529;
    border-color: #212529
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-icon {
    color: #f7f7f7
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text {
    color: #fff
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head .m-portlet__head-text small {
    color: #f0f0f0
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon i {
    color: #f7f7f7
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-portlet__nav .m-portlet__nav-item .m-portlet__nav-link.m-portlet__nav-link--icon:hover i {
    color: #fff
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .btn-outline-light {
    border-color: rgba(255, 255, 255, .1)
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line {
    bottom: 0;
    border: 0
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item {
    margin: 0 1px 0 0
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item:last-child {
    margin-right: 0
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link {
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    border: 0;
    opacity: .8
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link > i {
    color: #f0f0f0
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
    border-bottom: 0
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link, .m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active, .m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    opacity: 1;
    background: 0 0;
    color: #fff;
    border: 0;
    background: rgba(255, 255, 255, .08)
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__item.show .m-tabs__link > i, .m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link.active > i, .m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__head-tools .m-tabs-line .m-tabs__link:hover > i {
    color: #fff
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__body {
    background: #fff
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg .m-portlet__foot {
    background: #fff;
    border-color: #212529
}

.progress.m-progress--lg {
    height: 30px;
}

.progress.m-progress--lg .progress-bar {
    height: 30px;
}

.progress.m-progress--lg .progress-bar {
    border-radius: 0;
}

.delete-client {
    margin-left: 5px;
    float: right !important;
}

.add-client {
    margin-left: 15px;
    float: left;
}

.m-wizard.m-wizard--1.m-wizard--success .m-wizard__progress .progress .progress-bar:after {
    display: none;
}

a {
    color: deepskyblue;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:hover {
    color: dodgerblue;
    text-decoration: underline
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

.table-link:hover {
    color: #FFF;
}

.black-marker {
    border-right: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
}

.m-brand {
    background: #1b2127;
}

.m-table.m-table--head-separator-bloom thead th {
    border-top: 0;
    border-bottom: 1px solid #1b2127;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number].table-number {
    -moz-appearance: textfield;
    background-color: inherit;
    text-align: center;
    border: 0px;
    border-bottom: 1px solid #222;
}

.m-portlet.m-portlet--success.m-portlet--head-solid-bg .m-portlet__head--bloom {
    background-color: #212529;
    border-color: #212529;
}

.budget-container {
    position: relative;
}

.budget-container > label.nl {
    position: absolute;
    right: 17px;
    top: 10px;
}

.budget-container > label.yt {
    position: absolute;
    right: 124px;
    top: 10px;
}

m-table--head-separator-bloom {
    background-color: #212529;
}

.m-portlet.m-portlet--bloom.m-portlet--head-solid-bg {
    background: #212529;
    border-color: #212529;
}

.m-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.m-divider > span:first-child {
    width: 100%;
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #EBECF1;
    display: inline-block
}

.m-divider > span:last-child {
    width: 100%;
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #EBECF1;
    display: inline-block
}

.m-divider > span:not(:first-child):not(:last-child) {
    padding: 0 2rem
}

.dataTables_filter {
    float: left !important;
}

.dataTables_filter input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #000;
}


.dataTables_length {
    float: right !important;
}

table.dataTable tbody td {
  vertical-align: middle;
}

.bloom-progress {
    height: 50px !important;
}