<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}
    {% csrf_token %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>PPC Analyser</span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        <select class="form-control m-input" name="analyser"
                                id="select_analyser" style="width: 100%;">
                            <option></option>
                            {% for a in accounts %}
                                <option name="account" value="{{ a.dependent_account_id }}" data-channel="{{ a.channel }}">
                                    A - {{ a.dependent_account_name }}
                                </option>
                            {% endfor %}
                            {% for b in bing_accounts %}
                                <option name="account" value="{{ b.account_id }}" data-channel="{{ b.channel }}">
                                    B - {{ b.account_name }}
                                </option>

                            {% endfor %}
{#                            {% for f in facebook_accounts %}#}
{#                                <option name="account" value="{{ f.account_id }}" data-channel="{{ f.channel }}">#}
{#                                    F - {{ f.account_name }}#}
{#                                </option>#}
{##}
{#                            {% endfor %}#}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!--End::Main Portlet-->
    </div>

{% endblock %}
