<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}
    {% csrf_token %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>Change History -
                                    {% if account.channel == 'adwords' %}
                                        {{ account.dependent_account_name }}
                                    {% else %}
                                        {{ account.account_name }}
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="pull-right">
                            <i class="fa fa-4x fa-play-circle fa-5x" style="font-size: 2.1rem!important;"
                               title="Run reports now" onclick="runReports(
                                    {% if account.channel == 'adwords' %}
                                        '{{ account.dependent_account_id }}',
                                    {% else %}
                                        '{{ account.account_id }}',
                                    {% endif %}
                                    '{{ account.channel }}')">
                            </i>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div id="orangecircle" data-percent="{{ account.changed_score.0|floatformat:2 }}"
                                     class="orange center percircle animate">
                                    <span>{{ account.changed_score.0 }}</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="alert m-alert m-alert--default" role="alert">
                                        This report shows how many changes have been made at account, campaign and ad
                                        group level.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-input" id="select_report">
                                        <option></option>
                                        <option value="trends"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Trends report - {{ account.trends_score|floatformat:2 }}/100
                                        </option>
                                        <option value="qscore"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            QS Report - {{ account.qs_score|floatformat:2 }}/100
                                        </option>
                                        <option>Wasted spend</option>
                                        <option>Account Activity</option>
                                        <option value="changehistory"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Change History Report - {{ account.changed_score.0|floatformat:2 }}
                                        </option>
                                        <option value="disapprovedads"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Disapproved ads report - {{ account.dads_score|floatformat:2 }}/100
                                        </option>
                                        <option>Account Errors</option>
                                        <option>Tags Report</option>
                                        <option>Extension Report</option>
                                        <option>Conversion Tracking</option>
                                        <option>NLC Attribution</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="m-separator"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="myChart">
                                    <canvas id="trendsChart"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <div class="form-group m-form__group">
                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline
                                            alert alert-danger alert-dismissible fade show" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            {{ account.changed_score.1 }}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table m-table m-table--head-separator-primary" id="qs_table">
                                    <thead>
                                    <tr>
                                        <th>Campaign</th>
                                        <th>Ad Group</th>
                                        <th>Changed Keywords</th>
                                        <th>Changed Ads</th>
                                        <th>Removed keywords</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in account.changed_data.changedCampaigns %}
                                        {% if item.campaignChangeStatus == 'FIELDS_CHANGED' %}
                                            {% for ag in item.changedAdGroups %}
                                                <tr>
                                                    <td>
                                                        {% for c in campaigns %}
                                                            {% if item.campaignId|slugify == c.campaign_id %}
                                                                {{ c.campaign_name }}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for a in adgroups %}
                                                            {% if ag.adGroupId|slugify == a.adgroup_id %}
                                                                {{ a.adgroup_name }}
                                                            {% endif %}
                                                        {% endfor %}
                                                        - {{ ag.adGroupId }}
                                                    </td>
                                                    <td>
                                                        {{ ag.changedCriteria }}
                                                    </td>
                                                    <td>
                                                        {% if ag.changedAds|length == 0 %}
                                                            0
                                                        {% else %}
                                                            {{ ag.changedAds }}
                                                        {% endif %}
                                                    </td>
                                                    <td>{% if ag.removedCriteria|length == 0 %}
                                                        0
                                                    {% else %}
                                                        {{ ag.removedCriteria }}
                                                    {% endif %}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Main Portlet-->
    </div>


    <script type="text/javascript">


        function runReports(customer_id, channel) {

            let data = {
                'account_id': customer_id,
                'channel': channel,
                'report': 'changehistory'
            };

            $.ajax({
                url: '{% url 'tools:report_run' %}',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                success: function (data) {
                    toastr.success("Request for QS report sent. Wait a few minutes and refresh the page for updated information.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                },
                complete: function () {
                }
            });
        }
    </script>

{% endblock %}
