<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}
    {% csrf_token %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>Extensions report -
                                    {% if account.channel == 'adwords' %}
                                        {{ account.dependent_account_name }}
                                    {% else %}
                                        {{ account.account_name }}
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="pull-right">
                            <i class="fa fa-4x fa-play-circle fa-5x" style="font-size: 2.1rem!important;"
                               title="Run reports now" onclick="runReports(
                                    {% if account.channel == 'adwords' %}
                                        '{{ account.dependent_account_id }}',
                                    {% else %}
                                        '{{ account.account_id }}',
                                    {% endif %}
                                    '{{ account.channel }}')">
                            </i>
                        </div>

                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div id="orangecircle" data-percent="{{ account.ext_score|floatformat:2 }}"
                                     class="orange center percircle animate">
                                    <span>{{ account.ext_score|floatformat:2 }}</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group m-form__group">
                                    <div class="alert m-alert m-alert--default" role="alert">
                                        This report gives you a quick overview of available and missing extensions from
                                        each active campaign on this account.

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-input" id="select_report">
                                        <option></option>
                                        <option value="trends"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Trends report - {{ account.trends_score|floatformat:2 }}/100
                                        </option>
                                        <option value="qscore"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            QS Report -
                                            {{ account.qs_score|floatformat:2 }}/100
                                        </option>
                                        <option>Wasted spend</option>
                                        <option>Account Activity</option>
                                        <option value="changehistory"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Change History Report - {{ account.changed_score.0|floatformat:2 }}/100
                                        </option>
                                        <option value="disapprovedads"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Disapproved ads report - {{ account.dads_score|floatformat:2 }}/100
                                        </option>
                                        <option value="notrunning"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Account Errors - {{ account.nr_score|floatformat:2 }}/100
                                        </option>
                                        <option>Tags Report</option>
                                        <option value="extensions"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Extension Report - {{ account.ext_score|floatformat:2 }}/100
                                        </option>
                                        <option>Conversion Tracking</option>
                                        <option value="nlc"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            NLC Attribution - {{ account.nlc_score|floatformat:2 }}/100
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="m-separator"></div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="form-group m-form__group">
                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert
                                        alert-danger alert-dismissible fade show"
                                         role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            You'll find, in the table below, the available and missing extensions for
                                            each campaign in this account.
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table m-table m-table--head-separator-primary" id="ext_table">
                                    <thead>
                                    <tr>
                                        <th>Campaign</th>
                                        <th>Available extensions</th>
                                        <th>Missing extensions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in campaigns %}
                                        {% for key, value in account.ext_data.items %}
                                            {% if key|slugify == c.campaign_id %}
                                                <tr>
                                                    <td>
                                                        {{ c.campaign_name }}

                                                    </td>

                                                    <td>
                                                        {% for item in value.already %}
                                                            <span class="m-badge m-badge--success m-badge--wide">
                                                        {{ item }}
                                                    </span>
                                                        {% endfor %}
                                                    </td>
                                                    <td>
                                                        {% for item2 in value.missing %}
                                                            <span class="m-badge m-badge--danger m-badge--wide">
                                                        {{ item2 }}
                                                    </span>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Main Portlet-->
    </div>


    <script type="text/javascript">

        function runReports(customer_id, channel) {

            let data = {
                'account_id': customer_id,
                'channel': channel,
                'report': 'extensions'
            };

            $.ajax({
                url: '{% url 'tools:report_run' %}',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                success: function (data) {
                    toastr.success("Request for Extensions report sent. Wait a few minutes and refresh the page for updated information.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                },
                complete: function () {
                }
            });
        }
    </script>

{% endblock %}
