<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}
    {% csrf_token %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>Account overview -
                                    {% if account.channel == 'adwords' %}
                                        {{ account.dependent_account_name }}
                                    {% else %}
                                        {{ account.account_name }}
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div class="col-md-4">
                                <div class="m-widget24">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title">
                                            Your account score
                                        </h4><br>
                                        <span class="m-widget24__desc">Currently the trends reports score</span>
                                        <span class="m-widget24__stats m--font-brand">
                                        {% if account.channel == 'adwords' %}
                                            <a href="{% url 'tools:account_results' account.dependent_account_id account.channel %}">
                                        {% else %}
                                            <a href="{% url 'tools:account_results' account.account_id account.channel %}">
                                        {% endif %}
				                                {{ account.trends_score }}%
                                            </a>
				                        </span>
                                        <div class="m--space-10"></div>
                                        <div class="progress m-progress--sm">
                                            <div class="progress-bar m--bg-brand" role="progressbar"
                                                 style="width: {{ account.trends_score }}%;"
                                                 aria-valuenow="{{ account.trends_score }}" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="m-widget24">
                                    <div class="m-widget24__item">
                                        <h4 class="m-widget24__title">
                                            <span class="m--font-bolder">Improve your score by following recomandations in the section below</span>
                                        </h4><br>
                                        <div class="m--space-10"></div>
                                        <div class="container-fluid">
                                            <button type="button" class="btn m-btn--pill    btn-outline-info">
                                                Recomandation #1
                                            </button>
                                            <button type="button" class="btn m-btn--pill    btn-outline-info">
                                                Recomandation #2
                                            </button>
                                            <button type="button" class="btn m-btn--pill    btn-outline-info">
                                                Recomandation #3
                                            </button>
                                            <button type="button" class="btn m-btn--pill    btn-outline-info">
                                                Recomandation #4
                                            </button>
                                            <button type="button" class="btn m-btn--pill    btn-outline-info">
                                                Recomandation #5
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--End::Main Portlet-->
    </div>

{% endblock %}
