<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}
    {% csrf_token %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>Trends -
                                    {% if account.channel == 'adwords' %}
                                        {{ account.dependent_account_name }}
                                    {% else %}
                                        {{ account.account_name }}
                                    {% endif %}
                                </span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="pull-right">
                            <i class="fa fa-4x fa-play-circle fa-5x" style="font-size: 2.1rem!important;"
                               title="Run reports now" onclick="runReports(
                                    {% if account.channel == 'adwords' %}
                                        '{{ account.dependent_account_id }}',
                                    {% else %}
                                        '{{ account.account_id }}',
                                    {% endif %}
                                    '{{ account.channel }}')">
                            </i>
                        </div>

                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div id="orangecircle" data-percent="{{ account.trends_score|floatformat:2 }}"
                                     class="orange center percircle animate">
                                    <span>{{ account.trends_score|floatformat:2 }}</span>
                                    <div class="slice">
                                        <div class="bar"></div>
                                        <div class="fill"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group m-form__group">
                                    <div class="alert m-alert m-alert--default" role="alert">
                                        This report gives you a quick overview of the trends in your account's CTR,
                                        number of conversions and conversion rate. By looking at the CTR and CVR as well
                                        the conversion, you have a clear picture of the entirety of the funnel from
                                        click
                                        to transaction, as well as the number of transactions that took place.

                                    </div>
                                    <div class="alert m-alert m-alert--default" role="alert">
                                        <p>Trends score: (CVR+CONV+ROI+CPA+COST) / 5</p>

                                        <div class="row">
                                            <div class="col-md-2">CVR : {{ account.cvr_score.0 }}%</div>
                                            <div class="col-md-2">Conv. : {{ account.conversions_score.0 }}%</div>
                                            <div class="col-md-2">ROI : {{ account.roi_score.0 }}%</div>
                                            <div class="col-md-2">CPA: {{ account.cpa_score.0 }}%</div>
                                            <div class="col-md-3">Cost: {{ account.cost_score.0 }}%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-input" id="select_report">
                                        <option></option>
                                        <option value="trends"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Trends report - {{ account.trends_score|floatformat:2 }}/100
                                        </option>
                                        <option value="qscore"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            QS Report - {{ account.qs_score|floatformat:2 }}/100
                                        </option>
                                        <option value="wspend"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Wasted spend - {{ account.wspend_score|floatformat:2 }}/100
                                        </option>
                                        <option>Account Activity</option>
                                        <option value="changehistory"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Change History Report - {{ account.changed_score.0|floatformat:2 }}/100
                                        </option>
                                        <option value="disapprovedads"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Disapproved ads report - {{ account.dads_score|floatformat:2 }}/100
                                        </option>
                                        <option value="notrunning"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Account Errors - {{ account.nr_score }}/100
                                        </option>
                                        <option>Tags Report</option>
                                        <option value="extensions"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Extension Report - {{ account.ext_score|floatformat:2 }}/100
                                        </option>
                                        <option>Conversion Tracking</option>
                                        <option value="nlc"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            NLC Attribution - {{ account.nlc_score|floatformat:2 }}/100
                                        </option>
                                        <option value="keywordwastage"
                                                {% if account.channel == 'adwords' %}
                                                data-account_id="{{ account.dependent_account_id }}"
                                                {% else %}
                                                data-account_id="{{ account.account_id }}"
                                                {% endif %}
                                                data-channel="{{ account.channel }}">
                                            Keyword wastage - {{ account.kw_score|floatformat:2 }}/100
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="m-separator"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="myChart">
                                    <canvas id="trendsChart"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    {% if account.channel == 'adwords' %}
                                        <a href="{% url 'tools:account_results_weekly' account.dependent_account_id account.channel %}"
                                           class="text-center">Data segmented by week</a>
                                    {% else %}
                                        <a href="{% url 'tools:account_results_weekly' account.account_id account.channel %}"
                                           class="text-center">Data segmented by week</a>
                                    {% endif %}
                                </p>
                                <table class="table m-table m-table--head-separator-primary" id="trends_table">
                                    <thead>
                                    <tr>
                                        <th>Month</th>
                                        {#<th>CTR</th>#}
                                        <th>CVR</th>
                                        <th>Conv.</th>
                                        <th>ROI</th>
                                        <th>CPA</th>
                                        <th>Cost</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key, value in trends.items %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            {#<td>{{ value.ctr }}</td>#}
                                            <td>{{ value.cvr }}</td>
                                            <td>{{ value.conversions }}</td>
                                            <td>{{ value.roi }}</td>
                                            <td>{{ value.cpa|floatformat:2 }}</td>
                                            <td>{{ value.cost }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>

                            <div class="col-md-8 text-center">
                                <div class="form-group m-form__group">
                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert
                                        {% if account.cvr_score.0 > 50 %}
                                        alert-success
                                        {% elif account.cvr_score == 50 %}
                                        alert-info
                                        {% else %}
                                        alert-danger
                                        {% endif %}
                                        alert-dismissible fade show"
                                         role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            {{ account.cvr_score.1 }}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert
                                        {% if account.conversions_score.0 > 50 %}
                                        alert-success
                                        {% elif account.conversions_score == 50 %}
                                        alert-info
                                        {% else %}
                                        alert-danger
                                        {% endif %}
                                        alert-dismissible fade show"
                                         role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            {{ account.conversions_score.1 }}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert
                                        {% if account.roi_score.0 > 50 %}
                                        alert-success
                                        {% elif account.roi_score == 50 %}
                                        alert-info
                                        {% else %}
                                        alert-danger
                                        {% endif %}
                                        alert-dismissible fade show"
                                         role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            {{ account.roi_score.1 }}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert
                                        {% if account.cpa_score.0 > 50 %}
                                        alert-danger
                                        {% elif account.cpa_score == 50.0 %}
                                        alert-info
                                        {% else %}
                                        alert-success
                                        {% endif %}
                                        alert-dismissible fade show"
                                         role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            {{ account.cpa_score.1 }}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>

                                    <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert
                                        {% if account.cost_score.0 > 50 %}
                                        alert-success
                                        {% elif account.cost_score == 50 %}
                                        alert-info
                                        {% else %}
                                        alert-danger
                                        {% endif %}
                                        alert-dismissible fade show"
                                         role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-exclamation-1"></i>
                                            <span></span>
                                        </div>
                                        <div class="m-alert__text">
                                            {{ account.cost_score.1 }}
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert"
                                                    aria-label="Close">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Main Portlet-->
    </div>


    <script type="text/javascript">

        let trends = {{ trends|safe }};

        function gen_xy(data, parameter) {

            lst = [];

            for (key in data) {
                if (data.hasOwnProperty(key)) {

                    if (parameter === 'conversion_rate' || parameter == 'cvr') {

                        lst.push({
                            'x': new Date('2018' + key),
                            'y': data[key][parameter].replace('%', '')
                        })
                    } else {
                        lst.push({
                            'x': new Date('2018' + key),
                            'y': data[key][parameter]
                        })
                    }


                }
            }
            lst.sort(function (a, b) {
                return new Date(b.x) - new Date(a.x);
            });

            return lst
        }

        let config = {
            // The type of chart we want to create
            type: 'line',
            data: {
                datasets: [{
                    label: "CPA",
                    backgroundColor: 'rgba(236, 76, 51)',
                    borderColor: 'rgb(236, 76, 51)',
                    data: gen_xy(trends, 'cpa'),
                    fill: false,
                    borderWidth: 0.90,
                },
                    {
                        label: "Conversion Rate",
                        backgroundColor: 'rgba(51, 204, 51)',
                        borderColor: 'rgb(51, 204, 51)',
                        data: gen_xy(trends, 'cvr'),
                        fill: false,
                        borderWidth: 0.90,
                    },
                    {
                        label: "Conversions",
                        backgroundColor: 'rgba(0, 51, 204)',
                        borderColor: 'rgb(0, 51, 204)',
                        data: gen_xy(trends, 'conversions'),
                        fill: false,
                        borderWidth: 0.90,
                    },
                    {
                        label: "ROI",
                        backgroundColor: 'rgba(212, 151, 224)',
                        borderColor: 'rgb(212, 151, 224)',
                        data: gen_xy(trends, 'roi'),
                        fill: false,
                        borderWidth: 0.90,
                    },
                    {
                        label: "Cost",
                        backgroundColor: 'rgba(112, 51, 124)',
                        borderColor: 'rgb(112, 51, 124)',
                        data: gen_xy(trends, 'cost'),
                        fill: false,
                        borderWidth: 0.90,
                    }
                ]
            },

            // Configuration options go here
            options: {
                responsive: true,
                display: true,
                title: {
                    display: true,
                    text: 'Trends',
                    fontSize: 20,
                    padding: 25,
                    fontStyle: 'normal'
                },
                legend: {
                    display: true,
                    position: 'top',
                    labels: {
                        usePointStyle: true,
                        boxWidth: .5,

                    }
                },
                tooltips: {
                    mode: 'index',
                    intersect: true,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                elements: {
                    point: {
                        pointStyle: 'circle',
                        backgroundColor: 'rgba(0,0,0,0.5)',
                        radius: 2.2,
                        hitRadius: 20,
                        hoverBorderWidth: 1,
                    },
                    line: {
                        tension: 0.4,
                    }
                },
                scales: {
                    xAxes: [{
                        display: true,
                        type: 'time',
                        time: {
                            unit: 'month',
                            tooltipFormat: 'MMM',
                            displayFormats: {
                                month: 'MMM'
                            }

                        },
                        gridLines: {
                            display: false,
                        },
                    }],
                    yAxes: [{
                        display: true,
                        type: 'linear',
                        gridLines: {
                            display: false,
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            },

        };

        window.onload = function () {
            var ctx = document.getElementById('trendsChart').getContext('2d');
            window.myLine = new Chart(ctx, config);
        };

        function runReports(customer_id, channel) {

            let data = {
                'account_id': customer_id,
                'channel': channel,
                'report': 'results'
            };

            $.ajax({
                url: '{% url 'tools:report_run' %}',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                success: function (data) {
                    toastr.success("Request for Trends report sent. Wait a few minutes and refresh the page for updated information.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                },
                complete: function () {
                }
            });
        }
    </script>

{% endblock %}
