# Created by .ignore support plugin (hsz.mobi)
*.pyc
*.sock
bloomenv/
env/
*.sass*
*.map
logs
nohup.out
.idea/
config.sh
bing_dashboard/bing_creds
budget/management
bing_reports/*.csv
response.txt
dump.rdb
celerybeat-schedule
*.pid
.coverage
insights/*.dat
media/