{% extends 'layout.html' %}

{% block extraCss %}
{% endblock %}

{% block main_body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% if account is None %}
                        All Accounts
                    {% else %}
                        {{ account }}
                    {% endif %}
                </h1>
                <h2 class="subtitle">
                    <button class="button" id="get_insights">Get Insights</button>
                </h2>
                <div class="columns is-multiline" id="insights">
                    {% for opp in opportunities %}
                        <div class="column is-3">
                            <div class="box">
                                <p class="title is-4 has-text-danger">Insight</p>
                                {{ opp.report.report }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_js %}
    <script>
        let $getInsightsButton = $('#get_insights');
        let $insightsDiv = $('#insights');
        $getInsightsButton.one('click', () => {
            // pulls all insights for this account, all separate requests
            $.ajax({
                url: '/insights/get_ecom_best_demographics_insights/54904496',  // mondou for test
                success: data => {
                    let insights = data['insights'];
                    insights.forEach(insight => {
                        let insightBox = '<div class="column is-3"><div class="box"><p class="title is-4 has-text-info">' +
                            'Insight</p>' + insight.fields.description + '</div></div>';
                        $insightsDiv.append(insightBox);
                    });
                    $getInsightsButton.addClass('is-hidden');
                },
                error: error => {
                    console.log(error);
                }
            });

            $.ajax({
                url: '/insights/get_organic_searches_by_region_insight/54904496',  // mondou for test
                success: data => {
                    let insights = data['insights'];
                    insights.forEach(insight => {
                        let insightBox = '<div class="column is-3"><div class="box"><p class="title is-4 has-text-info">' +
                            'Insight</p>' + insight.fields.description + '</div></div>';
                        $insightsDiv.append(insightBox);
                    });
                    $getInsightsButton.addClass('is-hidden');
                },
                error: error => {
                    console.log(error);
                }
            });

            $.ajax({
                url: '/insights/get_organic_searches_over_time_by_medium_insight/54904496',  // mondou for test
                success: data => {
                    let insights = data['insights'];
                    insights.forEach(insight => {
                        let insightBox = '<div class="column is-3"><div class="box"><p class="title is-4 has-text-info">' +
                            'Insight</p>' + insight.fields.description + '</div></div>';
                        $insightsDiv.append(insightBox);
                    });
                    $getInsightsButton.addClass('is-hidden');
                },
                error: error => {
                    console.log(error);
                }
            });

            $.ajax({
                url: '/insights/get_ecom_ppc_best_ad_groups_insight/54904496',  // mondou for test
                success: data => {
                    let insights = data['insights'];
                    insights.forEach(insight => {
                        let insightBox = '<div class="column is-3"><div class="box"><p class="title is-4 has-text-info">' +
                            'Insight</p>' + insight.fields.description + '</div></div>';
                        $insightsDiv.append(insightBox);
                    });
                    $getInsightsButton.addClass('is-hidden');
                },
                error: error => {
                    console.log(error);
                }
            })
        });
    </script>
{% endblock %}