<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily budget report!</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<style media="screen">
    * {
        font-family: 'Roboto', sans-serif;
    }

    h2 {
        color: #1b2126;
    }

    .logo {
        background: #1b2126;
    }

    .logo svg {
        height: 100%
    }

    table {
        background: #f2f2f2;
        text-align: center;
        width: 100%;

    }

    table thead th {
        color: #fff;
        background: #2c8bcb;
        margin: 0.35em;
    }

    table tbody td {
        border-right: 1px solid #e2e2e2;
    }

    .portlet {
        padding: .1em;
        /* border: 1px solid black; */
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
        margin-top: .5em;
        margin-bottom: .5em;
    }

    .portlet h4 {
        text-align: center; color: #444;
    }

</style>
<body>
<h2 style="color: #1b2126;">Hello, {{ user }}</h2>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">The following AdWords accounts you manage will overspend:</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <tr>
            <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Account Name</th>
            <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Budget</th>
            <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Current Total Spend</th>
            <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Project Spend EOM</th>

        </tr>
        {% for a in aw_over %}
            <tr>
                <td style="border: 1px solid #e2e2e2;">{{ a.account }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ a.budget }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ a.current_spend }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ a.projected }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No accounts to display.</td>
            </tr>
        {% endfor %}
    </table>

</div>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">The following AdWords accounts will underspend: </h4>

    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <thead>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Account Name</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Budget</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Current Total Spend</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Project Spend EOM</th>
        </thead>
        <tbody>
        {% for b in aw_under %}
            <tr>
                <td style="border: 1px solid #e2e2e2;">{{ b.account }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ b.budget }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ b.current_spend }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ b.projected }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No accounts to display.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">The following Bing accounts will overspend:</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Account Name</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Budget</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Current Spend</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Projected</th>
        {% for c in bing_over %}
            <tr>
                <td style="border: 1px solid #e2e2e2;">{{ c.account }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ c.budget }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ c.current_spend }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ c.projected }}</td>

            </tr>
        {% empty %}
            <tr>
                <td>No accounts to display.</td>
            </tr>
        {% endfor %}
    </table>

</div>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">The following Bing accounts will underspend:</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <thead>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Account Name</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Budget</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Current Spend</th>
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Projected</th>
        {% for d in bing_under %}
            <tr>
                <td style="border: 1px solid #e2e2e2;">{{ d.account }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ d.budget }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ d.current_spend }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ d.projected }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No accounts to display.</td>
            </tr>
        {% endfor %}
    </table>

</div>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">AdWords accounts with no budget set:</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Account Name</th>
        {% for e in aw_nods %}
            <tr>
                <td>{{ e.account }}</td>

            </tr>
        {% empty %}
            <tr>
                <td>No accounts to display.</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">Bing accounts with no budget set:</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <th style="color: #fff; background: #2c8bcb; margin: 0.35em;">Account Name</th>
        {% for f in bing_nods %}
            <tr>
                <td>{{ f.account }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No accounts to display.</td>
            </tr>
        {% endfor %}
    </table>

</div>

<b style="color:#1b2126">That's all for today!</b>

</body>
</html>
