<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daily budget report!</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<h2 style="color: #1b2126;">Hello!!</h2>

<div class="portlet" style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">We've found disapproved ads in {{ account.dependent_account_name }}:</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <tr>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">Campaign Name</th>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">Ad Group Name</th>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">Ad Headline</th>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">Alert Reason</th>

        </tr>
        {% for a in ads %}
            <tr>
                <td style="border: 1px solid #e2e2e2;">{{ a.campaignName }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ a.ad_group_name }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ a.ad_headline }}</td>
                <td style="border: 1px solid #e2e2e2;">{{ a.alert_reason }}</td>
            </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>
