<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New High Five Report</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<h2 style="color: #1b2126;">Hello!</h2>

<div class="portlet"
     style="padding: .1em; box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); margin-top: .5em; margin-bottom: .5em;">
    <h4 style="text-align: center; color: #444;">A new high-five report was created
        for {{ hf.member.user.get_full_name }}.</h4>
    <table style="background: #f2f2f2; text-align: center; width: 100%;">
        <tr>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">
                Date
            </th>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">
                Nominator
            </th>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">
                Member
            </th>
            <th style="color: #fff; background: #0057e7; margin: 0.35em;">
                Description
            </th>
        </tr>
        <tbody>
        <tr>
            <td style="border: 1px solid #e2e2e2;">
                {{ hf.date }}
            </td>
            <td style="border: 1px solid #e2e2e2;">
                {{ hf.nominator.user.get_full_name }}
            </td>
            <td style="border: 1px solid #e2e2e2;">
                {{ hf.member.user.get_full_name }}
            </td>
            <td style="border: 1px solid #e2e2e2;">
                {{ hf.description }}
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
