{% extends 'admin/base_site.html' %}
{% load static %}  
{% block extrahead %}
{{ block.super }} 
{% if request.META.HTTP_HOST != "127.0.0.1:8000" %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127221597-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      {% if request.user.is_authenticated %}
      gtag('set', {'user_id': '{{ request.user.member.id }}'});
      {% endif %}
      gtag('config', 'UA-127221597-1');
    </script>
    {% endif %}
{% endblock %}