<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% load template_filters %}

{% block extraCss %}
    <style>
        #all_clients_datatable {
            width: 100%;
        }

        th {
            white-space: nowrap;
        }

        .m-table.m-table--head-separator-bloom thead th {
            border: 0;
        }

        td {
            /* text-align: center; */
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block leftAside %}
{% endblock %}

{% block content %}
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                    {{ page_type }} Accounts
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <table class='table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline'
                               id="all_clients_datatable">
                            <thead class="thead-inverse">
                            <tr class="main-table-header">
                                <th>
                                    Client
                                </th>
                                <th>Account</th>
                                <th>
                                    Industry
                                </th>
                                <th>
                                    Services
                                </th>
                                <th>
                                    Tier
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Management Fees
                                </th>
                                <th>
                                    Total Actual Hours
                                </th>
                                <th>
                                    Total Allocated Hours
                                </th>
                                <th>
                                    Current Budget
                                </th>
                                <th>
                                    Language
                                </th>
                                {% ifequal page_type 'Inactive' %}
                                    <th>
                                        Reason For Inactivity
                                    </th>
                                {% endifequal %}
                                {% ifequal page_type 'Lost' %}
                                    <th>
                                        Reason For Loss
                                    </th>
                                {% endifequal %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td>
                                        {{ account.parentClient.name }}
                                    </td>
                                    <td>
                                        <a href="/clients/accounts/{{ account.id }}">{{ account.client_name }}</a>
                                    </td>
                                    <td>
                                        {{ account.industry.name }}
                                    </td>
                                    <td>
                                        {{ account.service_str }}
                                    </td>
                                    <td>
                                        {{ account.tier }}
                                    </td>
                                    <td>
                                        <span class="m-badge m-badge--{{ status_badges|get_item_from_list:account.status }}"
                                              data-toggle="m-tooltip"
                                              data-original-title="{{ account.get_status_display }}"><span
                                                style="display:none;">{{ account.get_status_display }}</span></span>
                                    </td>
                                    <td>
                                        {{ account.total_fee }}
                                    </td>
                                    <td>
                                        <!-- Actual hours -->
                                        {{ account.hoursWorkedThisMonth }}
                                    </td>
                                    <td>
                                        {{ account.all_hours }}
                                    </td>
                                    <td>
                                        {{ account.current_budget }}
                                    </td>
                                    <td>
                                        {% for lang in account.language.all %}
                                            {{ lang }}{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </td>
                                    {% ifequal page_type 'Inactive' %}
                                        <td>
                                            {{ account.get_inactive_reason_display }}
                                        </td>
                                    {% endifequal %}
                                    {% ifequal page_type 'Lost' %}
                                        <td>
                                            {{ account.get_lost_reason_display }}
                                        </td>
                                    {% endifequal %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--End::Main Portlet-->
    </div>
{% endblock %}
