<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                Edit {{ account.client_name }}
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form class="m-form" method="post" id="m_form_add_client">
            {% csrf_token %}
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col-md-12">
                    <label for="client_name">Account Name:</label>
                    <input type="text" name="account_name" class="form-control m-input"
                    placeholder="Please enter the client name" value="{{ account.client_name }}">
                  </div>
                </div>
              </div>
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col-md-4">
                    <label for="client_name">SEO Hours:</label>
                    <input type="text" name="seo_hours" class="form-control m-input"
                    placeholder="Leave it as 0 to turn off SEO" value="{{ account.seo_hours }}">
                  </div>
                  <div class="col-md-4">
                    <label for="client_name">CRO Hours:</label>
                    <input type="text" name="cro_hours" class="form-control m-input"
                    placeholder="Leave it at 0 to turn off CRO" value="{{ account.cro_hours }}">
                  </div>
                  <div class="col-md-4">
                    <label for="status">Status:</label>
                    <select class="form-control m-input"
                            name="status"
                            id="status_select"
                            style="width: 100%;">
                            <option value="0" {% if account.status == 0 %}selected{% endif %}>Onboarding</option>
                            <option value="1" {% if account.status == 1 %}selected{% endif %}>Active</option>
                            <option value="2" {% if account.status == 2 %}selected{% endif %}>Inactive</option>
                            <option value="3" {% if account.status == 3 %}selected{% endif %}>Lost</option>
                    </select>
                  </div>
                </div>
                <div class="row" id="account_status_row" style="display:none;">
                  <div class="col-md-4">
                    <label for="client_name">Reason Inactive:</label>
                    <select class="form-control m-input"
                            name="account_inactive_reason"
                            id="account_inactive_reason"
                            style="width: 100%;" disabled>
                            <option value="0" selected>None</option>
                            {% for num, name in inactive_reasons %}
                                <option value="{{ num }}">{{ name }}</option>
                            {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="client_name">Returning from Inactive (if applicable):</label>
                    <input type="text" class="form-control m-datepicker" placeholder="Set return date here" name="account_inactive_return" id="account_inactive_return" disabled>
                  </div>
                  <div class="col-md-4">
                    <label for="client_name">Reason Lost:</label>
                    <select class="form-control m-input"
                            name="account_lost_reason"
                            id="account_lost_reason"
                            style="width: 100%;" disabled>
                            <option value="0" selected>None</option>
                            {% for num, name in lost_reasons %}
                                <option value="{{ num }}">{{ name }}</option>
                            {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              {% if request.user.is_staff %}
              <div class="form-group m-form__group">

                <div class="row">
                  <div class="col-md-6">
                    <label>Management Fee:</label>
                    <input type="text" name="fee_override" class="form-control m-input"
                    placeholder="Management fee for this client" value="{{ account.management_fee_override }}">
                  </div>
                  <div class="col-md-6">
                    <label>Allocated PPC Hours OVERRIDE:</label>
                    <input type="text" name="hours_override" class="form-control m-input"
                    placeholder="WARNING: This will override the management hours calculation" value="{{ account.allocated_ppc_override }}">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-2">
                    <label>Advanced Reporting:</label>
                  </div>
                  <div class="col-1">
                    <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                      <label>
                        <input name="advanced_reporting" type="checkbox" {% if account.advanced_reporting %}checked{% endif %} />
                        <span></span>
                      </label>
                    </span>
                  </div>
                </div>
              </div>
              {% endif %}

              {% if request.user.is_staff %}
              <hr />
              <div class="row">
                <label class="col-2 col-form-label">Add Management Fee Structure</label>
                <div class="col-1">
                  <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                    <label>
                      <input name="mf_check" id="mf_check" type="checkbox">
                      <span></span>
                    </label>
                  </span>
                </div>
              </div>
              <div class="m-portlet__body" id="mf_form" style="display:none;">
                <input type="text" value="1" id="fee_structure_type" name="fee_structure_type" style="display:none;" />
                <div id="create_new_structure">
                  <button type="button" name="button" class="btn btn-sm btn-outline-info" id="use_existing_structure_btn">Use existing fee structure</button>
                  <div class="form-group m-form__group" id="management_fee_form">
                    <input style="display:none;" value="1" id="rowNumInput" name="rowNumInput" />
                    <div class="row">
                      <div class="col-md-6">
                        <label>Name:</label>
                        <input class="form-control m-input" name="fee_structure_name" />
                      </div>
                      <div class="col-md-6">
                        <label>Setup Fee:</label>
                        <input class="form-control m-input" name="setup_fee" />
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-md-3">
                        <label>Low Budget Bound ($):</label>
                        <input class="form-control m-input" name="low-bound1" />
                      </div>
                      <div class="col-md-3">
                        <label>High Budget Bound ($):</label>
                        <input class="form-control m-input" name="high-bound1" />
                      </div>
                      <div class="col-md-2">
                        <label>Fee type:</label>
                        <select class="form-control m-input"
                                name="fee-type1"
                                style="width: 100%;">
                                <option value="0">%</option>
                                <option value="1">$</option>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label>Fee:</label>
                        <input class="form-control m-input" name="fee1" />
                      </div>
                      <div class="col-md-1">
                        <label>Add Level</label>
                        <button type="button" name="button" class="btn btn-sm btn-outline-info add-fee-level-btn">Add Level</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="use_existing_structure" style="display:none;">
                  <button type="button" name="button" class="btn btn-sm btn-outline-info" id="create_new_structure_btn">Create new fee structure</button>
                  <div class="form-group m-form__group" id="management_fee_select">
                    <div class="row">
                      <div class="col-md-12">
                        <label for="existing_structure">Management Fee Structure:</label>
                        <select class="form-control m-input"
                                name="existing_structure"
                                id="existing_structure"
                                style="width: 100%;" required>
                                <option value="0">
                                  None
                                </option>
                            {% for fee_structure in management_fee_structures %}
                                <option value="{{ fee_structure.id }}">{{ fee_structure.name }}</option>
                            {% endfor %}
                        </select>
                        <div id="preset_mf" style="display:none;">
                          <hr />
                          <h4>
                            Setup Fee: $<span id="setup_fee_preset"></span>
                          </h4>
                          <table class='table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline'>
                            <thead class="thead-inverse">
                              <tr class="main-table-header">
                                <th>
                                  Monthly Media Spend
                                </th>
                                <th>
                                  Monthly Fee
                                </th>
                              </tr>
                            </thead>
                            <tbody id="preset_mf_tbody">

                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              <input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
{% endblock %}

{% block extraJs %}
<script>
$(document).ready(function () {
  let $createNewBtn   = $('#create_new_btn');
  let $useExistingBtn = $('#use_existing_btn');
  let $existingForm   = $('#existing_client_form');
  let $newForm        = $('#new_client_form');

  $createNewBtn.click(function () {
    $existingForm.hide();
    $newForm.show();
  });

  $useExistingBtn.click(function () {
    $newForm.hide();
    $existingForm.show();
  });

  /**
   * Management fees
   */
  let $createNewFeeBtn   = $('#create_new_structure_btn');
  let $useExistingFeeBtn = $('#use_existing_structure_btn');
  let $createNewFeeDiv   = $('#create_new_structure');
  let $useExistingFeeDiv = $('#use_existing_structure');
  let $feeStructureType  = $('#fee_structure_type');
  let $statusSelect = $('#status_select');
  let $statusRow = $('#account_status_row');
  let $inactiveReason = $('#account_inactive_reason');
  let $lostReason = $('#account_lost_reason');
  let $inactiveReturn = $('#account_inactive_return');

  $statusSelect.change(function () {
     let status = $(this).val();
     console.log(status);
     if (status == 2) {
        $inactiveReason.prop('disabled', false);
        $inactiveReturn.prop('disabled', false);
        $lostReason.prop('disabled', true);
        $statusRow.show();
     } else if (status == 3) {
        $inactiveReason.prop('disabled', true);
        $inactiveReturn.prop('disabled', true);
        $lostReason.prop('disabled', false);
        $statusRow.show();
     } else {
         $statusRow.hide();
     }
  });

  $createNewFeeBtn.click(function () {
    $feeStructureType.val('1');
    $useExistingFeeDiv.hide();
    $createNewFeeDiv.show();
  });

  $useExistingFeeBtn.click(function () {
    $feeStructureType.val('2');
    $createNewFeeDiv.hide();
    $useExistingFeeDiv.show();
  });

  let $addFeeBtn = $('.add-fee-level-btn');
  let $feeForm   = $('#management_fee_form');
  let $rowNum    = $('#rowNumInput');

  let feeRows = 1;
  let feeRowHtml = `
                  <div class="row">
                    <div class="col-md-3">
                      <label>Low Budget Bound ($):</label>
                      <input class="form-control m-input" name="low-bound1" />
                    </div>
                    <div class="col-md-3">
                      <label>High Budget Bound ($):</label>
                      <input class="form-control m-input" name="high-bound1" />
                    </div>
                    <div class="col-md-2">
                      <label>Fee type:</label>
                      <select class="form-control m-input"
                              name="fee-type1"
                              style="width: 100%;">
                              <option value="0">%</option>
                              <option value="1">$</option>
                      </select>
                    </div>
                    <div class="col-md-3">
                      <label>Fee:</label>
                      <input class="form-control m-input" name="fee1" />
                    </div>
                  </div>
                  `;

  $addFeeBtn.click(function () {
    feeRows++;
    $rowNum.val(feeRows);
    let feeRowHtmlTmp = feeRowHtml.replace('low-bound1', 'low-bound' + feeRows)
                           .replace('high-bound1', 'high-bound' + feeRows)
                           .replace('fee-type1', 'fee-type' + feeRows)
                           .replace('fee1', 'fee' + feeRows);
    $feeForm.append(feeRowHtmlTmp);
  });

  $('.m-datepicker').datepicker({
        todayHighlight: !0,
        autoclose: !0,
        format: 'yyyy-mm-dd',
        orientation: "bottom left",
        templates: {
            leftArrow: '<i class="la la-angle-left"></i>',
            rightArrow: '<i class="la la-angle-right"></i>'
        }
    }).on('show.bs.modal', function (event) {
        event.stopPropagation();
    });

  let $mfCheck = $('#mf_check');
  let $mfForm = $('#mf_form');

  $mfCheck.change(function () {
    if ($(this).is(':checked')) {
      $mfForm.show();
    } else {
      $mfForm.hide();
    }
  });

  let $mfSelect = $('#existing_structure');
  let $presetMf = $('#preset_mf');
  let $presetMfTbody = $('#preset_mf_tbody');
  let $presetSetupFee = $('#setup_fee_preset');

  $mfSelect.change(function () {
    if ($mfSelect.val() == '0') {
      $presetMfTbody.html('');
      $presetMf.hide();
      return;
    }

    /**
     * Get the management fee structure
     */
     $.ajax({
         url: '/clients/get_management_fee_details/' + $mfSelect.val(),
         headers: {'X-CSRFToken': csrftoken},
         type: 'POST',
         success: function (data) {
           $presetMfTbody.html('');
           $presetSetupFee.html(data.initial_fee);
           for (let key in data.fee_intervals) {
             let fee_interval = data.fee_intervals[key];
             let inner_html = '';
             inner_html += '<tr>';
             inner_html += '<td>';
             inner_html += '$' + fee_interval.lowerBound + ' - $' + fee_interval.upperBound;
             inner_html += '</td>';
             inner_html += '<td>';
             if (fee_interval.style == 0) { // %
               inner_html += fee_interval.fee + '%';
             } else { // $
               inner_html += '$' + fee_interval.fee;
             }
             inner_html += '</td>';
             inner_html += '</tr>';
             $presetMfTbody.append(inner_html);
           }

           $presetMf.show();
         }
     });

  });

});
</script>
{% endblock %}
