<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block extraCss %}
<style>
  #my_clients_datatable {
    width: 100%;
  }
  /* .long-header-row {
    text-align: center;
  } */
  /* th {
    white-space: nowrap;
  }
  td {
    text-align: center;
  } */
</style>
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
      		<div class="m-portlet__head-caption">
      			<div class="m-portlet__head-title">
      				<h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
      					Clients
      				</h3>
      			</div>
      		</div>
        </div>
        <hr />
        <div class="m-portlet__body">

          <!-- <div class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-sm" role="group" aria-label="">
              <a type="button" class="btn btn-outline-info" href="/clients/">
                  My clients
              </a>
              <a type="button" class="btn btn-outline-info" href="/clients/team">
                  {{ member.team.name }} clients
              </a>
          </div>

          <hr /> -->

          <table class='table table-striped m-table m-table--head-separator-bloom dataTable' id="my_clients_datatable">
            <thead class="thead-inverse">
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for client in clients %}
              <tr>
                <td>
                  <a href="{{ client.id }}/edit">{{ client.client_name }}</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
{% endblock %}
