<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                        <span>Edit Client</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
          <form class="m-form" method="post">
            {% csrf_token %}
            <div class="m-portlet__body">
              <h3>Basic Details</h3>
              <hr />
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col-md-12">
                    <label for="input_username">Client Name:</label>
                    <input type="text" name="username" class="form-control m-input"
                    placeholder="Please enter a username" value="{{ client.client_name }}">
                  </div>
                </div>
              </div>
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
{% endblock %}
