<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% block leftAside %}
{% endblock %}

{% block content %}
<div class="m-content">
  <div class="row">
    <div class="col-xl-12">
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                Temporary Hour Insert Page
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form class="m-form" method="post" id="form_insert_hours">
            {% csrf_token %}
            <div class="m-portlet__body">
              <div class="form-group m-form__group">
                {% for account in accounts %}
                <div class="row">
                  <div class="col-md-3">
                    <label>Account:</label>
                    <input name="account-id-{{ forloop.counter0 }}" value="{{ account.id }}" style="display:none;" />
                    <input type="text" name="account-name-{{ forloop.counter0 }}" value="{{ account.client_name }}"
                    class="form-control m-input" disabled>
                  </div>
                  <div class="col-md-3">
                    <label>Hours:</label>
                    <input type="text" name="hours-{{ forloop.counter0 }}"
                    class="form-control m-input">
                  </div>
                  <div class="col-md-3">
                    <label>Month:</label>
                    <select class="form-control m-input"
                            name="month-{{ forloop.counter0 }}"
                            style="width: 100%;" required>
                        {% for monthNum, monthName in months %}
                            <option value="{{ monthNum }}" {% if monthnow|add:"0" == monthNum|add:"0" %}selected{% endif %}>{{ monthName }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="year">Year:</label>
                    <select class="form-control m-input"
                            name="year-{{ forloop.counter0 }}"
                            style="width: 100%;" required>
                        {% for year in years %}
                            <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
                {% endfor %}
              </div>
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      <!-- Value Added Hours -->
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                Value Added Hours
                &nbsp;
                <span class="m-badge  m-badge--danger m-badge--wide">Warning: Only report these hours if they were worked as Value Added Hours (the client did not pay for them)</span>
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form class="m-form" method="post" action="/clients/accounts/report_value_added_hours">
            {% csrf_token %}
            <div class="m-portlet__body">
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col-md-3">
                    <label>Account:</label>
                    <select class="form-control m-input"
                            name="account_id"
                            style="width: 100%;" required>
                        {% for account in all_accounts %}
                            <option value="{{ account.id }}">{{ account.client_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label>Hours:</label>
                    <input type="text" name="hours"
                    class="form-control m-input">
                  </div>
                  <div class="col-md-3">
                    <label>Month:</label>
                    <select class="form-control m-input"
                            name="month"
                            style="width: 100%;" required>
                        {% for monthNum, monthName in months %}
                            <option value="{{ monthNum }}" {% if monthnow|add:"0" == monthNum|add:"0" %}selected{% endif %}>{{ monthName }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="year">Year:</label>
                    <select class="form-control m-input"
                            name="year"
                            style="width: 100%;" required>
                        {% for year in years %}
                            <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      <!-- end value added hours -->
      {% if request.user.is_staff %}
      <!-- training hours -->
      <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                Training Hours
              </h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <form class="m-form" method="post" action="/user_management/add_training_hours">
            {% csrf_token %}
            <div class="m-portlet__body">
              <div class="form-group m-form__group">
                <div class="row">
                  <div class="col-md-3">
                    <label>Trainee:</label>
                    <select class="form-control m-input"
                            name="trainee_id"
                            style="width: 100%;" required>
                        {% for member in members %}
                            <option value="{{ member.id }}">{{ member.user.get_full_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label>Hours:</label>
                    <input type="text" name="hours"
                    class="form-control m-input">
                  </div>
                  <div class="col-md-3">
                    <label>Month:</label>
                    <select class="form-control m-input"
                            name="month"
                            style="width: 100%;" required>
                        {% for monthNum, monthName in months %}
                            <option value="{{ monthNum }}" {% if monthnow|add:"0" == monthNum|add:"0" %}selected{% endif %}>{{ monthName }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <label for="year">Year:</label>
                    <select class="form-control m-input"
                            name="year"
                            style="width: 100%;" required>
                        {% for year in years %}
                            <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
      <!-- end training hours -->
      {% endif %}
    </div>
  </div>
  <!--End::Main Portlet-->
</div>
{% endblock %}
