<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}

{% load template_filters %}

{% block content %}
    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                    Onboard <a href="/clients/accounts/{{ account.id }}">{{ account.client_name }}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="alert alert-success" role="alert"
                             {% if account.status == 0 %}style="display:none;"{% endif %}>
                            {{ account.client_name }} is now <strong>active</strong>.
                        </div>
                        {% for step in steps %}
                            <p>{{ step.step.name }}{% if step.complete %}<i class="fas fa-check"></i>{% endif %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!--End::Main Portlet-->
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        $(document).ready(function () {
            const $taskCheck = $('.task-check');

            let checkBox = function (checkedTask, taskId) {
                $.ajax({
                    data: {
                        'checked': checkedTask,
                        'task_id': taskId
                    },
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        let $stepCheck = $('#step_' + data.step_id + '_check');
                        let $taskChecks = $('.step_' + data.step_id + '_task');
                        if (data.step_complete) {
                            $stepCheck.prop('checked', true);
                            $taskChecks.prop('disabled', true);
                        } else {
                            $stepCheck.prop('checked', false);
                        }
                        if (data.acc_active) {
                            $('.alert').show();
                        }
                    }
                });
            };

            $taskCheck.click(function () {
                let taskId = $(this).data('task-id');
                if ($(this).is(':checked')) {
                    checkBox(1, taskId);
                } else {
                    checkBox(0, taskId);
                }
            });
        });
    </script>
{% endblock %}