<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}
    {% csrf_token %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>Labels</span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-portlet m-portlet--tabs m-portlet--bloom m-portlet--head-solid-bg m-portlet--head-sm">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon">
							<i class="fa fa-tags"></i>
						</span>
{#                                        <h3 class="m-portlet__head-text">#}
{#                                            Labels#}
{#                                        </h3>#}
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav navhabs m-tabs m-tabs-line  m-tabs-line--right" role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active show" data-toggle="tab"
                                               href="#m_tabs_7_1"
                                               role="tab" aria-selected="true">
                                                <i class="fa fa-plus-circle"></i>
                                                Create labels
                                            </a>
                                        </li>
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_7_2"
                                               role="tab"
                                               aria-selected="false">
                                                <i class="fa fa-minus-square"></i>
                                                Remove labels
                                            </a>

                                        </li>
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_7_3"
                                               role="tab"
                                               aria-selected="false">
                                                <i class="fa fa-plus-square"></i>
                                                Assign labels
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="m_tabs_7_1" role="tabpanel">
                                        <span>Account labels</span>
                                        <form id="create_labels">
                                            <div class="row" id="create_template">
                                                <div style="display: flex; flex-wrap: wrap" class="col-md-10">
                                                    <input type="text" style="width: 90%"
                                                           class="form-control m-input" id="label_name"
                                                           aria-describedby="labelHelp" name="label_name"
                                                           placeholder="Label name (ex: exampleLabel1,exampleLabel2,exampleLabel3)">
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" onclick="submitLabel()"
                                                       class="btn btn-accent m-btn m-btn--icon">
                                                        <span>
                                                        <span>Submit</span>
                                                    </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="m-separator"></div>
                                        <span>Text Labels(used for campaign, adgroups)</span>
                                        <form id="create_labels">
                                            <div class="row" id="create_template">
                                                <div style="display: flex; flex-wrap: wrap" class="col-md-4">
                                                    <select class="form-control m-input" name="aw_acc"
                                                            id="select_adwords" style="width: 100%;">
                                                        <option></option>
                                                        {% for a in accounts %}
                                                            <option name="account"
                                                                    value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div style="display: flex; flex-wrap: wrap" class="col-md-4">
                                                    <input type="text" style="width: 90%"
                                                           class="form-control m-input" id="label_name_cmp"
                                                           aria-describedby="labelHelp" name="label_name"
                                                           placeholder="Label name (ex: exampleLabel1,exampleLabel2,exampleLabel3)">
                                                </div>
                                                <div class="col-md-2">
                                                    <select class="form-control m-input m-input--square"
                                                            id="label_type" name="label_type">
                                                        <option value="textlabel">Text Label</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-2">
                                                    <a href="#" onclick="submitLabel()"
                                                       class="btn btn-accent m-btn m-btn--icon">
                                                    <span>
                                                    <span>Submit</span>
                                                </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="m_tabs_7_2" role="tabpanel">
                                        <span>Account level</span>
                                        <div id="delete_template">

                                            <table class="table table-sm m-table m-table--head-separator-bloom"
                                                   id="labels">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>Label</th>
                                                    <th>Assigned To</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for label in labels %}
                                                    <tr>
                                                        <td>
                                                            <span class="m-badge m-badge--warning m-badge--wide">
                                                                {{ label.name }}
                                                            </span>
                                                        </td>
                                                        <td id="lcell-{{ label.label_id }}">
                                                            {% for acc in label.accounts.all %}
                                                                <span class="m-badge m-badge--info m-badge--wide"
                                                                      id="{{ label.label_id }}-label-{{ acc.dependent_account_id }}">
                                                                        {{ acc.dependent_account_name }} <a href="#"
                                                                                                            onclick="deassignLabel({{ label.label_id }}, '{{ acc.dependent_account_id }}')">x</a>
                                                                    </span>
                                                            {% endfor %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="m-separator"></div>
                                        <div class="">
                                            <span>Campaign level</span>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select class="form-control m-input" name="aw_acc"
                                                            id="select_adwords5" style="width: 100%;">
                                                        <option></option>
                                                        {% for a in accounts %}
                                                            <option name="account"
                                                                    value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control m-input" name="aw_acc"
                                                            id="select_campaigns3" style="width: 100%;">
                                                        <option></option>
                                                    </select>
                                                </div>
                                            </div>

                                            Assigned labels:
                                            <div class="m-list-badge">
                                                <div class="m-list-badge__items" id="labels_content">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="m-separator"></div>
                                        <div class="">
                                            <span>Adgroup level</span>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select class="form-control m-input" name="aw_acc"
                                                            id="select_adwords6" style="width: 100%;">
                                                        <option></option>
                                                        {% for a in accounts %}
                                                            <option name="account"
                                                                    value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control m-input" name="campaign"
                                                            id="select_campaigns4" style="width: 100%;">
                                                        <option></option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control m-input" name="adgroup"
                                                            id="select_adgroups2"
                                                            style="width: 100%;">
                                                        <option disabled selected value> -- select an option -- </option>
                                                    </select>
                                                </div>
                                            </div>

                                            Assigned labels:
                                            <div class="m-list-badge">
                                                <div class="m-list-badge__items" id="ag_labels_content">

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane" id="m_tabs_7_3" role="tabpanel">
                                        <div id="assign_template">
                                            <span>Account labels</span>
                                            <form name="submitLabelAssign" id="submitLabelAssign">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <select class="form-control m-input" name="aw_acc"
                                                                id="select_adwords2" style="width: 100%;">
                                                            <option></option>
                                                            {% for a in accounts %}
                                                                <option name="account"
                                                                        value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <select class="form-control m-input" name="labels"
                                                                id="select_labels" multiple="multiple"
                                                                style="width: 100%;">
                                                            {% for l in labels %}
                                                                <option name="label"
                                                                        value="{{ l.label_id }}">{{ l.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <a href="#" onclick="assignAccountLabels()"
                                                           class="btn btn-success m-btn m-btn--icon">
                                                <span>
                                                    <i class="fa fa-plus"></i>
                                                    <span>Submit</span>
                                                </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="m-separator"></div>
                                            <span>Text Labels(Campaign level)</span>
                                            <form name="submitLabelAssignCampaign" id="submitLabelAssignCampaign">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <select class="form-control m-input" name="aw_acc"
                                                                id="select_adwords3" style="width: 100%;">
                                                            <option></option>
                                                            {% for a in accounts %}
                                                                <option name="account"
                                                                        value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <select class="form-control m-input" name="campaigns"
                                                                id="select_campaigns" multiple="multiple"
                                                                style="width: 100%;">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select class="form-control m-input" name="labels"
                                                                id="select_labels2" multiple="multiple"
                                                                style="width: 100%;">
                                                        </select>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <a href="#" onclick="assignCampaignLabels()"
                                                           class="btn btn-success m-btn m-btn--icon">
                                                            <span><i class="fa fa-plus"></i>
                                                                <span>Submit</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="m-separator"></div>
                                            <span>Text Labels(AdGroup level)</span>
                                            <form name="submitLabelAssignAdGroup" id="submitLabelAssignAdGroup">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <select class="form-control m-input" name="aw_acc"
                                                                id="select_adwords4" style="width: 100%;">
                                                            <option></option>
                                                            {% for a in accounts %}
                                                                <option name="account"
                                                                        value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <select class="form-control m-input" name="campaigns"
                                                                id="select_campaigns2"
                                                                style="width: 100%;">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control m-input" name="adgroups"
                                                                id="select_adgroups" multiple="multiple"
                                                                style="width: 100%;">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <select class="form-control m-input" name="labels"
                                                                id="select_labels3" multiple="multiple"
                                                                style="width: 100%;">
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <a href="#" onclick="assignAdgroupLabels()"
                                                           class="btn btn-success m-btn m-btn--icon">
                                                            <span><i class="fa fa-plus"></i>
                                                                <span>Submit</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--End::Main Portlet-->
    </div>

    <div id="create_response_template" style="display: none">
        <span></span>
    </div>

    <script type="text/javascript">

        function submitLabel() {
            let name = $("#label_name").val();
            let label_name_cmp = $("#label_name_cmp").val();
            let acc_id = $("#select_adwords").val();
            let label_type = $("#label_type").val();

            let data = {
                'acc_id': acc_id,
                'label_name': name,
                'label_name_cmp': label_name_cmp,
                'label_type': label_type
            };
            console.log(data);
            $.ajax({
                url: '/tools/labels/create',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {

                    if (data['error']) {
                        toastr.error(data['error'])
                    }

                    if (data['labels']) {
                        toastr.success('Added ' + data['labels'] + ' to DB and AdWords.')
                    }

                    for (var i = 0; i < data['labels'].length; i++) {

                        let select = $("#select_labels");
                        var new_option = new Option('label', data['labels'][i], false, false);
                        select.append(new_option).trigger('change');
                    }
                    ;
                },
                error: function (data) {
                    toastr.error(data['error'])
                },
                complete: function () {
                    $("#label_name").val("");

                }
            });
        }

        function deassignLabel(label_id, account_id) {

            let data = {
                'label_id': label_id,
                'account_id': account_id
            };

            $.ajax({
                url: '/tools/labels/deassign',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {
                    toastr.success('Label deassigned from account.')
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                },
                complete: function () {
                    $("#" + label_id + '-label-' + account_id).remove();
                }
            });
        }

        function assignAccountLabels() {

            let data = $("#submitLabelAssign").serializeArray();

            $.ajax({
                url: '/tools/labels/assign',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {
                    if (data['error']) {
                        toastr.error(data['error'])
                    } else {
                        toastr.success('Label(s) assigned to account.');
                    }
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                },
                complete: function (data) {
                    $("#select_labels").val(null).trigger('change');
                    $("#select_adwords").val(null).trigger('change');
                    let table = $("#labels").DataTable();
                    let labels = data['responseJSON']['labels'];
                    labels.forEach(function (labelId) {
                        let cell = table.cell('#lcell-' + labelId);
                        let current_data = cell.data();
                        let new_data = current_data + ' <span class="m-badge m-badge--info m-badge--wide" id="' + labelId + '-label-' + data['responseJSON']['acc_id'] + '">\n' +
                            data['responseJSON']['acc_name'] + ' <a href="#" onclick="deassignLabel(' + labelId + ', \'' + data['responseJSON']['acc_id'] + '\')">x</a>' +
                            '</span>';
                        cell.data(new_data);
                    })
                }
            });
        }

        function assignCampaignLabels() {

            let form = $("#submitLabelAssignCampaign");
            let data = form.serializeArray();

            $.ajax({
                url: '/tools/labels/assign',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {
                    if (data['error']) {
                        toastr.error(data['error'])
                    } else {
                        toastr.success('Label(s) assigned to campaigns.');
                        $("#select_campaigns").empty().trigger('change');
                        $("#select_labels2").empty().trigger('change');
                    }
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                },
                complete: function (data) {
                }
            });
        }

        function assignAdgroupLabels() {
            let form = $("#submitLabelAssignAdGroup");
            let data = form.serializeArray();

            $.ajax({
                url: '/tools/labels/assign',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {
                    if (data['error']) {
                        toastr.error(data['error'])
                    } else {
                        toastr.success('Label(s) assigned to adgroups.');
                        $("#select_campaigns2").empty().trigger('change');
                        $("#select_adgroups").empty().trigger('change');
                        $("#select_labels3").empty().trigger('change');
                    }
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                },
                complete: function (data) {
                }
            });
        }

        function deassignAdGroupLabel(acc_id, label_id, adgroup_id) {
            let data = {
                'account_id': acc_id,
                'label_id': label_id,
                'adgroup_id': adgroup_id
            };

            $.ajax({
                url: '/tools/labels/deassign',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {
                    toastr.success('Label deassigned from adgroup.');
                    $("#" + data['label_id'] + "-" + data['adgroup_id']).remove();
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                },
                complete: function (data) {

                }
            });
        }

        function deassignCampaignLabel(acc_id, label_id, campaign_id) {
            let data = {
                'account_id': acc_id,
                'label_id': label_id,
                'campaign_id': campaign_id
            };

            $.ajax({
                url: '/tools/labels/deassign',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                type: 'POST',
                data: data,

                success: function (data) {
                    toastr.success('Label deassigned from campaign.');
                    $("#" + data['label_id'] + "-" + data['campaign_id']).remove();
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                },
                complete: function (data) {

                }
            });
        }

    </script>


{% endblock %}
