<!DOCTYPE html>
{% extends 'main.html' %}
{% load staticfiles %}
{% load custom_filters %}
{% block content %}

<table class='m_datatable table table-striped table-bordered' id="adwords_datatable">
<thead>
  <tr>
  <th>Account</th>
  <th>Impr. Share</th>
  <th>Impr.</th>
  <th>Clicks</th>
  <th>CTR</th>
  <th>Avg. CPC</th>
  <th>Cost</th>
  <th>Conversions</th>
  <th>Cost / conv.</th>
  </tr>
</thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.account.dependent_account_name }}</td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.search_impr_share|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.impressions|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.clicks|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.ctr|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.cpc|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.cost|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="{% url 'campaign_anomalies' item.account.dependent_account_id %}">
          {{ item.conversions|uni2float|floatformat:2 }}%
        </a>
      </td>
      <td>
        <a href="#">{{ item.cost_per_conversions|uni2float|floatformat:2 }}%</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
