.icon a {
    color: black;
}

.icon a:hover {
    color: tomato;
}

img.is-rounded {
    padding: 2em;
}

.member-role-tag {
    margin: -3.5em auto 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    position: absolute;
}

.media {
    margin-top: -2em;
}

table {
    table-layout: fixed;
    width: 100%;
    word-break: break-word;
}

#contact_details_card {
    margin-top: 2em;
}

.card {
    box-shadow: none;
}

.card:not(.member-card) {
    padding: 0.3em;
}

.profile-circle {
    border-radius: 50%;
    border: 1px solid black;
    height: 8em;
    width: 8em;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    position: absolute;
    margin-top: -4em;
}

.is-static {
    width: 30%;
}

.is-expanded {
    width: 70%;
}