<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
{#                            <div class="m-portlet__head-title">#}
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    <span>Client Interface</span>
                                </h2>
{#                            </div>#}
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x add-client"
                                    data-toggle="modal"
                                    data-target="#m_modal_clients"> Add a new client
                            </button>
                            <form id="delete_clients" method="POST" action="">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-outline-danger m-btn m-btn--outline-2x delete-client"
                                        id="clients_delete_btn"> Delete client(s)
                                </button>
                        </div>
                        <div class="m-separator m-separator--dashed"></div>
                        <table class='table table-striped m-table' id="clients_datatable">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <div class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-sm"
                                         role="group" aria-label="">
                                        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{% url 'budget:add_client' %}'">
                                                This month
                                        </button>
                                        <button type="button" class="btn btn-outline-info" onclick="window.location.href='{% url 'budget:last_month' %}'">
                                            Last month
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width: 5%;"></th>
                                <th>Client Name</th>
                                <th style="text-align: center">Monthly up to Up-to-Date Spend</th>
                                <th style="text-align: center">Budget</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td style="text-align: center; vertical-align: middle;">
                                        <input type="checkbox" name="client_ids[]" id="{{ client.id }}"
                                               value="{{ client.id }}">
                                    </td>
                                    <td>
                                        <a href="{% url 'budget:client_details' client.id %}">
                                            {{ client.client_name }}
                                        </a>
                                        <div class="row">
                                            <div class="col-md-6">Daily spend to reach target : {% widthratio client.budget remaining 1 %}</div>
                                            <div class="col-md-6">Yesterday spend: {{ client.yesterday_spend }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Daily spend to date: {{ client.current_spend|daily_spend|floatformat:2 }}</div>
                                            <div class="col-md-6">Projected: {{ client.current_spend|projected|floatformat:2 }}</div>
                                        </div>

                                    </td>
                                    <td style="text-align: center">
                                        <div class="progress m-progress--lg" style="position: relative;!important;">
                                            <div class="progress-bar
                                                    {{ client.current_spend|percentage:client.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio client.current_spend client.budget 100 %}%"
                                                 aria-valuenow="{% widthratio client.current_spend client.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top" title=""
                                                 data-original-title="{{ client.current_spend }}/{{ client.budget }}">
                                                {% widthratio client.current_spend client.budget 100 %}%
                                            </div>
                                            <div class="black-marker"
                                                                     style="width: {{ blackmarker }}%"
                                                                     aria-valuenow="{{ blackmarker }}"
                                                                     aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </td>
                                    <td style="text-align: center">
                                        {{ client.budget }}
                                    </td>
                                </tr>
                            {% endfor %}
                            <div id="error_message" class="note hide">
                                <p></p>
                            </div>
                            </tbody>
                        </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End::Main Portlet-->
    </div>


    <!-- Begin::Modal -->
    <div class="modal fade" id="m_modal_clients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-xl-12">
                        <!--Begin::Main Portlet-->
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Add a new client
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a href="#" data-toggle="m-tooltip"
                                               class="m-portlet__nav-link m-portlet__nav-link--icon close"
                                               data-dismiss="modal" aria-label="Close" data-direction="left"
                                               data-width="auto" title="" data-original-title="Close dialog window">
                                                <span aria-hidden="true">×</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--begin: Form Wizard-->
                            <div class="m-wizard m-wizard--1 m-wizard--success m-wizard--step-first" id="m_wizard">

                                <!--begin: Message container -->
                                <div class="m-portlet__padding-x">
                                    <!-- Here you can put a message or alert -->
                                </div>
                                <!--end: Message container -->

                                <!--begin: Form Wizard Head -->
                                <div class="m-wizard__head m-portlet__padding-x">
                                    <!--begin: Form Wizard Progress -->
                                    <div class="m-wizard__progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: calc(20% + 28px);"></div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Progress -->

                                    <!--begin: Form Wizard Nav -->
                                    <div class="m-wizard__nav">
                                        <div class="m-wizard__steps">
                                            <div class="m-wizard__step m-wizard__step--current"
                                                 data-wizard-target="#m_wizard_form_step_1">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>1</span></span>
                                                    </a>
                                                    {#									<div class="m-wizard__step-line">#}
                                                    {#										<span></span>#}
                                                    {#									</div>#}
                                                    {#									<div class="m-wizard__step-label">#}
                                                    {#                                        &nbsp;&nbsp;AdWords#}
                                                    {#									</div>#}
                                                </div>
                                            </div>
                                            <div class="m-wizard__step m-wizard__step"
                                                 data-wizard-target="#m_wizard_form_step_2">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>2</span></span>
                                                    </a>
                                                    {#									<div class="m-wizard__step-line">#}
                                                    {#										<span></span>#}
                                                    {#									</div>#}
                                                    {#									<div class="m-wizard__step-label">#}
                                                    {#                                        &nbsp;&nbsp;AdWords#}
                                                    {#									</div>#}
                                                </div>
                                            </div>
                                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>3</span></span>
                                                    </a>
                                                    {#									<div class="m-wizard__step-line">#}
                                                    {#										<span></span>#}
                                                    {#									</div>#}
                                                    {#									<div class="m-wizard__step-label">#}
                                                    {#										&nbsp;&nbsp;Bing#}
                                                    {#									</div>#}

                                                </div>
                                            </div>
                                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_4">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>4</span></span>
                                                    </a>
                                                    {#									<div class="m-wizard__step-line">#}
                                                    {#										<span></span>#}
                                                    {#									</div>#}
                                                    {#									<div class="m-wizard__step-label">#}
                                                    {#										&nbsp;&nbsp;Facebook#}
                                                    {#									</div>#}
                                                </div>
                                            </div>
                                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_5">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>5</span></span>
                                                    </a>
                                                    {#									<div class="m-wizard__step-line">#}
                                                    {#										<span></span>#}
                                                    {#									</div>#}
                                                    {#									<div class="m-wizard__step-label">#}
                                                    {#										&nbsp;&nbsp;Confirmation#}
                                                    {#									</div>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Nav -->
                                </div>
                                <!--end: Form Wizard Head -->

                                <!--begin: Form Wizard Form-->
                                <div class="m-wizard__form">
                                    <!--
                                        1) Use m-form--label-align-left class to alight the form input lables to the right
                                        2) Use m-form--state class to highlight input control borders on form validation
                                    -->
                                    <form class="m-form m-form--label-align-left- m-form--state-" id="m_form"
                                          novalidate="novalidate">
                                        {% csrf_token %}
                                        <!--begin: Form Body -->
                                        <div class="m-portlet__body">
                                            <!--begin: Form Wizard Step 1-->
                                            <div class="m-wizard__form-step m-wizard__form-step--current"
                                                 id="m_wizard_form_step_1">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading"><h3
                                                                    class="m-form__heading-title">Please enter a client
                                                                name.</h3></div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group m-form__group row"><label
                                                                    class="col-form-label col-lg-12 col-sm-12">Client
                                                                Name</label>
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <p>
                                                                        <input
                                                                                type="text" class="form-control m-input"
                                                                                name="client_name" id="client_name"
                                                                                aria-describedby="client-error">
                                                                        </input>
                                                                    </p>
                                                                    <div id="client-error"
                                                                         class="form-control-feedback"></div>
                                                                    <span class="m-form__help">Please enter a name for the new client.</span>
                                                                </div>
                                                            </div>
{#                                                            <div class="form-group m-form__group row"><label#}
{#                                                                    class="col-form-label col-lg-12 col-sm-12">Client#}
{#                                                                Budget</label>#}
{#                                                                <div class="col-lg-12 col-md-12 col-sm-12">#}
{#                                                                    <p>#}
{#                                                                        <input#}
{#                                                                                type="text" class="form-control m-input"#}
{#                                                                                name="client_budget" id="client_budget"#}
{#                                                                                aria-describedby="client-error">#}
{#                                                                        </input>#}
{#                                                                    </p>#}
{#                                                                    <div id="client-error"#}
{#                                                                         class="form-control-feedback"></div>#}
{#                                                                    <span class="m-form__help">Please enter a budget values for the new client.</span>#}
{#                                                                </div>#}
{#                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 1-->
                                            <!--begin: Form Wizard Step 2-->
                                            <div class="m-wizard__form-step m-wizard__form-step--current"
                                                 id="m_wizard_form_step_2">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">Please select AdWords
                                                                    account</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-form-label col-lg-12 col-sm-12">AdWords
                                                                    accounts</label>
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <select class="form-control m-input" name="adwords"
                                                                            multiple="multiple" id="m_select2_adwords"
                                                                            style="width: 100%;">
                                                                        {% for a in adwords %}
                                                                            <option value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                                                        {% endfor %}171717
                                                                    </select>
                                                                    <div id="budget-fields">

                                                                    </div>
                                                                    <div id="adwords-error"
                                                                         class="form-control-feedback"></div>
                                                                    <span class="m-form__help">Please select at least one account.</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 2-->

                                            <!--begin: Form Wizard Step 3-->
                                            <div class="m-wizard__form-step" id="m_wizard_form_step_3">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">Please select Bing Ads
                                                                    account</h3>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-form-label col-lg-12 col-sm-12">Bing Ads
                                                                accounts</label>
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <select class="form-control m-input" name="bing"
                                                                        multiple="" id="m_select2_bing"
                                                                        style="width: 100%">
                                                                    {% for b in bing %}
                                                                        <option value="{{ b.account_id }}">{{ b.account_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <div id="budget-fields-bing">

                                                                </div>
                                                                <div id="bing-error"
                                                                     class="form-control-feedback"></div>
                                                                <span class="m-form__help">Please select at least one account.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 3-->

                                            <!--begin: Form Wizard Step 4-->
                                            <div class="m-wizard__form-step" id="m_wizard_form_step_4">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">Please select Facebook
                                                                    Ads account</h3>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-form-label col-lg-12">Facebook Ads
                                                                accounts</label>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <select class="form-control m-input" name="facebook"
                                                                    multiple="" size="15"
                                                                    aria-describedby="facebook-error"
                                                                    aria-invalid="true">
                                                                {#{% for f in facebook %}#}
                                                                {#<option value="{{ f.account_id }}">{{ f.account_name }}</option>#}
                                                                {#{% endfor %}#}
                                                                <option>No accounts available yet.</option>
                                                            </select>
                                                            <div id="facebook-error"
                                                                 class="form-control-feedback"></div>
                                                            <span class="m-form__help">Please select at least one account.</span>
                                                        </div>
                                                    </div>
                                                    <div class="m-form__help">
                                                        <!--must use this helper element to display error message for the options--></div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 4-->

                                            <!--begin: Form Wizard Step 5-->
                                            <div class="m-wizard__form-step" id="m_wizard_form_step_5">
                                                <div class="row">
                                                    <div class="col-xl-8 offset-xl-2">
                                                        <!--begin::Section-->
                                                        <div class="m-accordion m-accordion--default" id="m_accordion_1"
                                                             role="tablist">
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item active">
                                                                <div class="m-accordion__item-head" role="tab"
                                                                     id="m_accordion_1_item_1_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_1_body"
                                                                     aria-expanded="  false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-drupal"></i></span>
                                                                    <span class="m-accordion__item-title">1. Client details</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse show"
                                                                     id="m_accordion_1_item_1_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_1_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <!--begin::Content-->
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">
                                                                                    Client data</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Client
                                                                                    Name:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static"
                                                                                          id="client_name_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Budget</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static"
                                                                                          id="client_budget_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Content-->
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                                     id="m_accordion_1_item_2_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_2_body"
                                                                     aria-expanded="false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-google"></i></span>
                                                                    <span class="m-accordion__item-title">2. AdWords</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse"
                                                                     id="m_accordion_1_item_2_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_2_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <!--begin::Content-->
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">
                                                                                    AdWords Account</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Account
                                                                                    Name:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static" id="aw_name_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Account
                                                                                    ID:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static" id="aw_budget_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Content-->
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                                     id="m_accordion_1_item_3_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_3_body"
                                                                     aria-expanded="false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-windows"></i></span>
                                                                    <span class="m-accordion__item-title">3. Bing</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse"
                                                                     id="m_accordion_1_item_3_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_3_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <!--begin::Content-->
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">Bing
                                                                                    Account</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Account
                                                                                    Name:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static">{{ b.account_name }}</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Account
                                                                                    ID:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static">{{ b.account_id }}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Content-->
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                                     id="m_accordion_1_item_4_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_4_body"
                                                                     aria-expanded="false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-facebook"></i></span>
                                                                    <span class="m-accordion__item-title">4. Facebook</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse"
                                                                     id="m_accordion_1_item_4_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_4_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">
                                                                                    Facebook Account</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Account
                                                                                    Name:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static">{{ f.account_name }}</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Account
                                                                                    ID:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static">{{ f.account_id }}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                        </div>
                                                        <!--end::Section-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 5-->
                                        </div>
                                        <!--end: Form Body -->


                                        <!--begin: Form Actions -->
                                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                            <div class="m-form__actions m-form__actions">
                                                <div class="row">
                                                    <div class="col-lg-2"></div>
                                                    <div class="col-lg-4 m--align-left">
                                                        <a href="#"
                                                           class="btn btn-outline-metal m-btn m-btn--outline-2x"
                                                           data-wizard-action="prev">
											<span>
												<i class="la la-arrow-left"></i>&nbsp;&nbsp;
												<span>Back</span>
											</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4 m--align-right">
                                                        <a href="#"
                                                           class="btn btn-outline-primary m-btn m-btn--outline-2x"
                                                           data-wizard-action="submit">
											<span>
												<i class="la la-check"></i>&nbsp;&nbsp;
												<span>Submit</span>
											</span>
                                                        </a>
                                                        <a href="#"
                                                           class="btn btn-outline-accent m-btn m-btn--outline-2x"
                                                           data-wizard-action="next">
											<span>
												<span>Save &amp; Continue</span>&nbsp;&nbsp;
												<i class="la la-arrow-right"></i>
											</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Form Actions -->
                                    </form>
                                </div>
                                <!--end: Form Wizard Form-->
                            </div>
                            <!--end: Form Wizard-->
                        </div>
                        <!--End::Main Portlet-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::Modal -->



    <script type="text/javascript">
        function edit_submit_desired(trigger, acc_id) {
            if (trigger.innerHTML === 'Submit') {
                inp_id = "#" + trigger.parentNode.parentNode.childNodes[5].childNodes[1].id;
                spend = parseInt($(inp_id).val());
                $(inp_id).attr('readonly', true);
                changeDesired(spend, acc_id);
                trigger.innerHTML = 'Edit';

            } else {
                trigger.innerHTML = 'Submit';
                inp_id = "#" + trigger.parentNode.parentNode.childNodes[5].childNodes[1].id;
                $(inp_id).attr('readonly', false);
            }
        }

        function changeDesired(desired_spend, acc_id) {

            if (desired_spend > 100000000) {
                $("#error_message p").html("<b>The number you provided is too big to store in database</b>");
                $("#error_message").addClass('note-danger');
                $("#error_message").removeClass('hide')
            }
            else if (desired_spend === 0) {
                $("#error_message p").html("<b>Please enter a number bigger than 0</b>");
                $("#error_message").addClass('note-danger');
                $("#error_message").removeClass('hide')
            }
            else {
                $.ajax({
                    type: "POST",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: {
                        'desired_spend': desired_spend,
                        'acc_id': acc_id
                    }
                })
                    .done(function (data) {
                        if (data['error'] === 'OK') {
                            $("#error_message").removeClass('note-danger');
                            $("#error_message").addClass('note-success');
                            $("#error_message p").html("Updated spend for account " + acc_id);
                            $("#error_message").removeClass('hide');
                        }
                    });
            }
        }
    </script>

{% endblock %}