<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                <span>Client Interface</span>
                            </h2>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row">
                            <button type="button" class="btn btn-info m-btn add-client"
                                    data-toggle="modal"
                                    data-target="#m_modal_clients"> Add a new client
                            </button>
                            <form id="delete_clients" method="POST" action="">
                                {% csrf_token %}
                                <button type="submit"
                                        class="btn btn-danger m-btn delete-client"
                                        id="clients_delete_btn"> Delete client(s)
                                </button>
                        </div>
                        <div class="m-separator m-separator--dashed"></div>
                        <table class='table table-striped m-table m-table--head-separator-bloom dataTable'
                               id="clients_datatable">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4 text-center">
                                    <div class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-sm"
                                         role="group" aria-label="">
                                        <button type="button" class="btn btn-outline-info"
                                                onclick="window.location.href='{% url 'budget:add_client' %}'">
                                            This month
                                        </button>
                                        <button type="button" class="btn btn-outline-info"
                                                onclick="window.location.href='{% url 'budget:last_month' %}'">
                                            Last month
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <thead class="thead-inverse">
                            <tr>
                                <th style="width: 5%;"></th>
                                <th>Client Name</th>
                                <th style="text-align: center">Monthly up to Up-to-Date Spend</th>
                                <th style="text-align: center">Budget</th>
                                <th style="text-align: center">Global Target Spend</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for client in clients %}
                                <tr id="row-{{ client.id }}">
                                    <td style="text-align: center; vertical-align: middle;">
                                        <label class="m-checkbox m-checkbox--solid m-checkbox-primary">
                                            <input type="checkbox" name="client_ids" id="{{ client.id }}"
                                                   value="{{ client.id }}">
                                            <span></span>
                                        </label>
                                    </td>
                                    <td>
                                        <a href="{% url 'budget:client_details' client.id %}">
                                                {{ client.client_name }}
                                        </a>
                                        {% if client.has_gts and client.has_budget %}
                                            <i class="la la-star-o"></i>
                                            <i class="la la-star"></i>
                                        {% elif client.has_budget %}
                                            <i class="la la-star-o"></i>
                                        {% elif client.has_gts %}
                                            <i class="la la-star"></i>
                                        {% endif %}
                                        <div class="row">
                                            {% if client.has_gts %}
                                                <div class="col-md-6">Target Daily Spend:
                                                    {{ client.current_spend | ideal_day_spend:client.target_spend }}
                                                </div>
                                            {% else %}
                                                <div class="col-md-6">Target Daily Spend:
                                                    {{ client.current_spend | ideal_day_spend:client.budget }}
                                                </div>
                                            {% endif %}
                                            <div class="col-md-6">Yesterday spend: {{ client.yesterday_spend }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Current Daily Spend:
                                                {{ client.current_spend|daily_spend|floatformat:2 }}</div>
                                            <div class="col-md-6">Projected Spend EOM:
                                                {{ client.current_spend|projected|floatformat:2 }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Current Total Spend:
                                                {{ client.current_spend|floatformat:2 }}</div>
                                            <div class="col-md-6">AdWords Spend:
                                                {{ client.aw_spend|floatformat:2 }}</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">Bing spend:
                                                {{ client.bing_spend|floatformat:2 }}</div>
                                            <div class="col-md-6">Facebook Spend:
                                                {{ client.fb_spend|floatformat:2 }}
                                            </div>
                                        </div>

                                    </td>
                                    <td style="text-align: center">
                                        <div class="progress m-progress--lg" style="position: relative;!important;">
                                            {% if client.has_gts and client.has_budget %}
                                                <div id="{{ client.id }}_progressbar"
                                                     class="progress-bar {{ client.current_spend|percentage:client.target_spend }}"
                                                     role="progressbar"
                                                     style="width: {% widthratio client.current_spend client.target_spend 100 %}%"
                                                     aria-valuemin="0" aria-valuemax="100"
                                                     data-toggle="m-tooltip" data-placement="top" title=""
                                                     data-original-title="{{ client.current_spend }}/{{ client.target_spend }}">
                                                    {% widthratio client.current_spend client.target_spend 100 %}%
                                                </div>
                                            {% elif client.has_gts %}
                                                <div id="{{ client.id }}_progressbar"
                                                     class="progress-bar {{ client.current_spend|percentage:client.target_spend }}"
                                                     role="progressbar"
                                                     style="width: {% widthratio client.current_spend client.target_spend 100 %}%"
                                                     aria-valuemin="0" aria-valuemax="100"
                                                     data-toggle="m-tooltip" data-placement="top" title=""
                                                     data-original-title="{{ client.current_spend }}/{{ client.target_spend }}">
                                                    {% widthratio client.current_spend client.target_spend 100 %}%
                                                </div>
                                            {% elif client.has_budget %}
                                                <div id="{{ client.id }}_progressbar"
                                                     class="progress-bar {{ client.current_spend|percentage:client.budget }}"
                                                     role="progressbar"
                                                     style="width: {% widthratio client.current_spend client.budget 100 %}%"
                                                     aria-valuemin="0" aria-valuemax="100"
                                                     data-toggle="m-tooltip" data-placement="top" title=""
                                                     data-original-title="{{ client.current_spend }}/{{ client.budget }}">
                                                    {% widthratio client.current_spend client.budget 100 %}%
                                                </div>
                                            {% endif %}
                                            <div class="black-marker"
                                                 style="width: {{ blackmarker }}%"
                                                 aria-valuenow="{{ blackmarker }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </td>
                                    {% if client.has_gts and client.has_budget %}
                                        <td style="text-align: center" id="budget-{{ client.id }}">
                                            <input id="client_budget-{{ client.id }}" type="number"
                                                   value="{{ client.budget }}" class="table-number" disabled>
                                        </td>
                                        <td style="text-align: center" id="gts-{{ client.id }}">
                                            <input id="client_gts-{{ client.id }}" type="number"
                                                   onkeypress="submitClientBudget(event, {{ client.id }})"
                                                   value="{{ client.target_spend }}" class="table-number">
                                        </td>
                                    {% elif client.has_gts %}
                                        <td style="text-align: center" id="budget-{{ client.id }}">
                                            <input id="client_budget-{{ client.id }}" type="number"
                                                   value="{{ client.budget }}" class="table-number" disabled>
                                        </td>
                                        <td style="text-align: center" id="gts-{{ client.id }}">
                                            <input id="client_gts-{{ client.id }}" type="number"
                                                   onkeypress="submitClientBudget(event, {{ client.id }})"
                                                   value="{{ client.target_spend }}" class="table-number">
                                        </td>
                                    {% elif client.has_budget %}
                                        <td style="text-align: center" id="budget-{{ client.id }}">
                                            <input id="client_budget-{{ client.id }}" type="number"
                                                   value="{{ client.budget }}" class="table-number" disabled>
                                        </td>
                                        <td style="text-align: center" id="gts-{{ client.id }}">
                                            <input id="client_gts-{{ client.id }}" type="number"
                                                   onkeypress="submitClientBudget(event, {{ client.id }})"
                                                   value="{{ client.target_spend }}" class="table-number" disabled>
                                        </td>
                                    {% else %}
                                        <td style="text-align: center" id="budget-{{ client.id }}">
                                            <input id="client_budget-{{ client.id }}" type="number"
                                                   value="{{ client.budget }}" class="table-number" disabled>
                                        </td>
                                        <td style="text-align: center" id="gts-{{ client.id }}">
                                            <input id="client_gts-{{ client.id }}" type="number"
                                                   onkeypress="submitClientBudget(event, {{ client.id }})"
                                                   value="{{ client.target_spend }}" class="table-number" disabled>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <div id="error_message" class="note hide">
                                <p></p>
                            </div>
                            </tbody>
                        </table>
                        </form>
                        <p></p>
                        <div class="row">
                            <div class="col-md-6">
                                <i class="la la-star-o"></i> - Client has Budget feature. <i class="la la-star"></i> - Client has GTS feature.
                                <i class="la la-star-o"></i><i class="la la-star"></i> - Client has both features.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End::Main Portlet-->
    </div>


    <!-- Begin::Modal -->
    <div class="modal fade" id="m_modal_clients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-xl-12">
                        <!--Begin::Main Portlet-->
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Add a new client
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a href="#" data-toggle="m-tooltip"
                                               class="m-portlet__nav-link m-portlet__nav-link--icon close"
                                               data-dismiss="modal" aria-label="Close" data-direction="left"
                                               data-width="auto" title="" data-original-title="Close dialog window">
                                                <span aria-hidden="true">×</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--begin: Form Wizard-->
                            <div class="m-wizard m-wizard--1 m-wizard--success m-wizard--step-first" id="m_wizard">

                                <!--begin: Message container -->
                                <div class="m-portlet__padding-x">
                                    <!-- Here you can put a message or alert -->
                                </div>
                                <!--end: Message container -->

                                <!--begin: Form Wizard Head -->
                                <div class="m-wizard__head m-portlet__padding-x">
                                    <!--begin: Form Wizard Progress -->
                                    <div class="m-wizard__progress">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="100"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 style="width: calc(20% + 28px);"></div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Progress -->

                                    <!--begin: Form Wizard Nav -->
                                    <div class="m-wizard__nav">
                                        <div class="m-wizard__steps col-xl-12">
                                            <div class="m-wizard__step m-wizard__step--current"
                                                 data-wizard-target="#m_wizard_form_step_1">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>1</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="m-wizard__step m-wizard__step"
                                                 data-wizard-target="#m_wizard_form_step_2">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>2</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_3">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>3</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_4">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>4</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="m-wizard__step" data-wizard-target="#m_wizard_form_step_5">
                                                <div class="m-wizard__step-info">
                                                    <a href="#" class="m-wizard__step-number">
                                                        <span><span>5</span></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end: Form Wizard Nav -->
                                </div>
                                <!--end: Form Wizard Head -->

                                <!--begin: Form Wizard Form-->
                                <div class="m-wizard__form">
                                    <!--
                                        1) Use m-form--label-align-left class to alight the form input lables to the right
                                        2) Use m-form--state class to highlight input control borders on form validation
                                    -->
                                    <form class="m-form m-form--label-align-left- m-form--state-" id="m_form"
                                          novalidate="novalidate">
                                        {% csrf_token %}
                                        <!--begin: Form Body -->
                                        <div class="m-portlet__body">
                                            <!--begin: Form Wizard Step 1-->
                                            <div class="m-wizard__form-step m-wizard__form-step--current"
                                                 id="m_wizard_form_step_1">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first col-xl-12">
                                                            <div class="m-form__heading"><h3
                                                                    class="m-form__heading-title">Please enter a client
                                                                name.</h3></div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group m-form__group row"><label
                                                                    class="col-form-label col-lg-12 col-sm-12">Client
                                                                Name</label>
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <p>
                                                                        <input
                                                                                type="text" class="form-control m-input"
                                                                                name="client_name" id="client_name"
                                                                                aria-describedby="client-error">
                                                                        </input>
                                                                    </p>
                                                                    <div id="client-error"
                                                                         class="form-control-feedback"></div>
                                                                    <span class="m-form__help">Please enter a name for the new client.</span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group m-form__group row col-xl-12">
                                                                <div class="m-checkbox-inline">
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success">
                                                                        <input type="checkbox"
                                                                               name="global_target_spend"
                                                                               value="1"
                                                                               id="m_gts_check">
                                                                        Global Target Spend
                                                                        <span></span>
                                                                    </label>
                                                                    <label class="m-checkbox m-checkbox--solid m-checkbox--success"
                                                                           id="m_budget_label">
                                                                        <input type="checkbox"
                                                                               name="global_target_spend"
                                                                               value="0" id="m_budget_check"> Budget
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div id="gts_inp"
                                                                 class="form-group m-form__group row col-xl-12">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 1-->
                                            <!--begin: Form Wizard Step 2-->
                                            <div class="m-wizard__form-step m-wizard__form-step--current"
                                                 id="m_wizard_form_step_2">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">Please select AdWords
                                                                    account</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <div class="form-group m-form__group row">
                                                                <label class="col-form-label col-lg-12 col-sm-12">AdWords
                                                                    accounts</label>
                                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                                    <select class="form-control m-input" name="adwords"
                                                                            multiple="multiple" id="m_select2_adwords"
                                                                            style="width: 100%;">
                                                                        {% for a in adwords %}
                                                                            <option name="aw_account" value="{{ a.dependent_account_id }}|{{ a.dependent_account_name }}">{{ a.dependent_account_name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <div id="budget-fields">

                                                                    </div>
                                                                    <div id="adwords-error"
                                                                         class="form-control-feedback"></div>
                                                                    <span class="m-form__help">Please select at least one account.</span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 2-->

                                            <!--begin: Form Wizard Step 3-->
                                            <div class="m-wizard__form-step" id="m_wizard_form_step_3">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">Please select Bing Ads
                                                                    account</h3>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-form-label col-lg-12 col-sm-12">Bing Ads
                                                                accounts</label>
                                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                                <select class="form-control m-input" name="bing"
                                                                        multiple="" id="m_select2_bing"
                                                                        style="width: 100%">
                                                                    {% for b in bing %}
                                                                        <option name="bing_acc" value="{{ b.account_id }}|{{ b.account_name }}">{{ b.account_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                                <div id="budget-fields-bing">

                                                                </div>
                                                                <div id="bing-error"
                                                                     class="form-control-feedback"></div>
                                                                <span class="m-form__help">Please select at least one account.</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 3-->

                                            <!--begin: Form Wizard Step 4-->
                                            <div class="m-wizard__form-step" id="m_wizard_form_step_4">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="m-form__section m-form__section--first">
                                                            <div class="m-form__heading">
                                                                <h3 class="m-form__heading-title">Please select Facebook
                                                                    Ads account</h3>
                                                            </div>
                                                        </div>
                                                        <div class="form-group m-form__group row">
                                                            <label class="col-form-label col-lg-12">Facebook Ads
                                                                accounts</label>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                                            <select class="form-control m-input" name="facebook"
                                                                    multiple="" id="m_select2_facebook"
                                                                    style="width: 100%">
                                                                {% for f in facebook %}
                                                                    <option name="fb_acc" value="{{ f.account_id }}|{{ f.account_name }}">{{ f.account_name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <div id="budget-fields-facebook">

                                                            </div>
                                                            <div id="facebook-error"
                                                                 class="form-control-feedback"></div>
                                                            <span class="m-form__help">Please select at least one account.</span>
                                                        </div>
                                                    </div>
                                                    <div class="m-form__help">
                                                        <!--must use this helper element to display error message for the options--></div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 4-->

                                            <!--begin: Form Wizard Step 5-->
                                            <div class="m-wizard__form-step" id="m_wizard_form_step_5">
                                                <div class="row">
                                                    <div class="col-xl-8 offset-xl-2">
                                                        <!--begin::Section-->
                                                        <div class="m-accordion m-accordion--default" id="m_accordion_1"
                                                             role="tablist">
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item active">
                                                                <div class="m-accordion__item-head" role="tab"
                                                                     id="m_accordion_1_item_1_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_1_body"
                                                                     aria-expanded="  false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-drupal"></i></span>
                                                                    <span class="m-accordion__item-title">1. Client details</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse show"
                                                                     id="m_accordion_1_item_1_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_1_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <!--begin::Content-->
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">
                                                                                    Client data</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Client
                                                                                    Name:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static"
                                                                                          id="client_name_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row"
                                                                                 id="budget_fstep">
                                                                                <label class="col-xl-4 col-lg-4 col-form-label">Global
                                                                                    Target Spend:</label>
                                                                                <div class="col-xl-8 col-lg-8">
                                                                                    <span class="m-form__control-static"
                                                                                          id="client_budget_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Content-->
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                                     id="m_accordion_1_item_2_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_2_body"
                                                                     aria-expanded="false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-google"></i></span>
                                                                    <span class="m-accordion__item-title">2. AdWords</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse"
                                                                     id="m_accordion_1_item_2_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_2_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <!--begin::Content-->
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">
                                                                                    AdWords Accounts</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <div class="col-xl-12 col-lg-12">
                                                                                    <span class="m-form__control-static"
                                                                                          id="aw_name_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Content-->
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                                     id="m_accordion_1_item_3_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_3_body"
                                                                     aria-expanded="false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-windows"></i></span>
                                                                    <span class="m-accordion__item-title">3. Bing</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse"
                                                                     id="m_accordion_1_item_3_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_3_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <!--begin::Content-->
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">Bing
                                                                                    Accounts</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <div class="col-xl-12 col-lg-12">
                                                                                    <span class="m-form__control-static" id="bing_name_fstep">{{ b.account_name }}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!--end::Content-->
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                            <!--begin::Item-->
                                                            <div class="m-accordion__item">
                                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                                     id="m_accordion_1_item_4_head"
                                                                     data-toggle="collapse"
                                                                     href="#m_accordion_1_item_4_body"
                                                                     aria-expanded="false">
                                                                    <span class="m-accordion__item-icon"><i
                                                                            class="socicon-facebook"></i></span>
                                                                    <span class="m-accordion__item-title">4. Facebook</span>
                                                                    <span class="m-accordion__item-mode"></span>
                                                                </div>
                                                                <div class="m-accordion__item-body collapse"
                                                                     id="m_accordion_1_item_4_body" role="tabpanel"
                                                                     aria-labelledby="m_accordion_1_item_4_head"
                                                                     data-parent="#m_accordion_1">
                                                                    <div class="tab-content  m--padding-30">
                                                                        <div class="m-form__section m-form__section--first">
                                                                            <div class="m-form__heading">
                                                                                <h4 class="m-form__heading-title">
                                                                                    Facebook Accounts</h4>
                                                                            </div>
                                                                            <div class="form-group m-form__group m-form__group--sm row">
                                                                                <div class="col-xl-12 col-lg-12">
                                                                                    <span class="m-form__control-static" id="fb_name_fstep"></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--end::Item-->
                                                        </div>
                                                        <!--end::Section-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end: Form Wizard Step 5-->
                                        </div>
                                        <!--end: Form Body -->


                                        <!--begin: Form Actions -->
                                        <div class="m-portlet__foot m-portlet__foot--fit m--margin-top-40">
                                            <div class="m-form__actions m-form__actions">
                                                <div class="row">
                                                    <div class="col-lg-2"></div>
                                                    <div class="col-lg-4 m--align-left">
                                                        <a href="#"
                                                           class="btn btn-metal m-btn"
                                                           data-wizard-action="prev">
                                                            <span>
                                                                <i class="la la-arrow-left"></i>&nbsp;&nbsp;
                                                                <span>Back</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-4 m--align-right">
                                                        <a href="#"
                                                           class="btn btn-primary m-btn"
                                                           data-wizard-action="submit">
                                                            <span>
                                                                <i class="la la-check"></i>&nbsp;&nbsp;
                                                                <span>Submit</span>
                                                            </span>
                                                        </a>
                                                        <a href="#"
                                                           class="btn btn-accent m-btn"
                                                           data-wizard-action="next">
                                                            <span>
                                                                <span>Save &amp; Continue</span>&nbsp;&nbsp;
                                                                <i class="la la-arrow-right"></i>
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <div class="col-lg-2"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--end: Form Actions -->
                                    </form>
                                </div>
                                <!--end: Form Wizard Form-->
                            </div>
                            <!--end: Form Wizard-->
                        </div>
                        <!--End::Main Portlet-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::Modal -->



    <script type="text/javascript">

        function submitClientBudget(e, client_id) {

            if (window.event)
                keycode = window.event.keyCode;
            else if (e)
                keycode = e.which;

            if (keycode === 13) {
                let csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

                let budget = jQuery("#client_budget-" + client_id);
                if (budget.prop('disabled')) {
                    budget = undefined;
                } else {
                    budget = budget.val()
                }

                let target_spend = jQuery("#client_gts-" + client_id);
                if (target_spend.prop('disabled')) {
                    target_spend = undefined;
                } else {
                    target_spend = target_spend.val()
                }

                let new_budget = {
                    id: client_id,
                    budget: budget,
                    target_spend: target_spend
                };

                $.ajax({
                    url: '/budget/clientbudget/update/',
                    headers: {'X-CSRFToken': csrftoken},
                    type: 'POST',
                    data: new_budget,

                    success: function (data) {
                        id = '#' + data['client_id'] + '_progressbar';
                        elem = $(id);
                        elem.removeClass();
                        elem.addClass('progress-bar');
                        elem.addClass(data['pb_color']);
                        elem.css({'width': data['width'] + '%'});
                        elem.html(parseFloat(data['width']) + '%');
                        toastr.success("Updated Budget/Global Target Spend for " + data['client_name'] + '.');
                    },
                    error: function (ajaxContext) {
                        toastr.error(ajaxContext.statusText)
                    },
                    complete: function () {
                    }
                });

            } else {
                return false;
            }
        }
    </script>

{% endblock %}
