<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    {% if platform_type == 'AW' %}
                                        <span>{{ account.dependent_account_name }}</span>
                                    {% else %}
                                        <span>{{ account.account_name }}</span>
                                    {% endif %}
                                </h2>
                            </div>
                        </div>
                    </div>
                    {% if platform_type == 'AW' %}
                        <div class="m-portlet__body">
                            <div class="row">
                                <button type="button" class="btn btn-info add-client"
                                        onclick="toggleFlightDates('flight-{{ account.dependent_account_id }}')">Add
                                    budget
                                </button>
                                <button type="button" class="btn btn-danger add-client" onclick="deleteFlightBudget()">
                                    Delete budget(s)
                                </button>
                            </div>

                            <div id="flight-error-{{ account.dependent_account_id }}">
                                <p></p>
                            </div>

                            <div id="flight-{{ account.dependent_account_id }}" class="hidden">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <input type="text" class="form-control sdate-{{ account.dependent_account_id }}"
                                               id="m_datepicker_1" readonly="" placeholder="Start date">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <input type="text" class="form-control edate-{{ account.dependent_account_id }}"
                                               id="m_datepicker_2" readonly="" placeholder="End date">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number"
                                               class="form-control fbudget-{{ account.dependent_account_id }}" min="0"
                                               placeholder="Desired budget" required>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-success"
                                                onclick="submitFlightBudget({{ account.dependent_account_id }})">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table class='table table-striped m-table m-table--head-separator-bloom dataTable'
                                   id="clients_last_month">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <div class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-sm"
                                             role="group" aria-label="">
                                            <button type="button" class="btn btn-outline-info"
                                                    onclick="window.location.href='{% url 'budget:flight_budget_read' %}?account_id={{ account.dependent_account_id }}&channel={{ account.channel }}'">
                                                Flight Dates
                                            </button>
                                            <button type="button" class="btn btn-outline-info"
                                                    onclick="window.location.href='{% url 'budget:campaign_groupings_read' %}?account_id={{ account.dependent_account_id }}&channel={{ account.channel }}'">
                                                Campaign Groupings
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <thead class="thead-inverse">
                                <tr>
                                    <th style="width: 5%"></th>
                                    <th>Budget</th>
                                    <th style="text-align: center">Budget</th>
                                    <th style="text-align: center">Start Date</th>
                                    <th style="text-align: center">End Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for budget in budgets %}
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <input type="checkbox" name="flight_budgets" id="{{ budget.id }}"
                                                   value="{{ budget.id }}">
                                        </td>
                                        <td>
                                            <div class="progress m-progress--lg">
                                                <div class="progress-bar
                                                        {{ budget.current_spend|percentage:budget.budget }}"
                                                     role="progressbar"
                                                     style="width: {% widthratio budget.current_spend budget.budget 100 %}%"
                                                     aria-valuenow="{% widthratio budget.current_spend budget.budget 100 %}"
                                                     aria-valuemin="0" aria-valuemax="100"
                                                     data-toggle="m-tooltip" data-placement="top"
                                                     title=""
                                                     data-original-title="{{ budget.current_spend }}/{{ budget.budget }}">
                                                    {% widthratio budget.current_spend budget.budget 100 %}%
                                                </div>
                                            </div>
                                        </td>
                                        <td style="text-align: center">
                                            <input id="f_budget-{{ budget.id }}" type="number" class="table-number"
                                                   onkeypress="updateFlightBudget(event, {{ budget.id }})"
                                                   value="{{ budget.budget }}">
                                        </td>
                                        <td style="text-align: center; width: 15%">
                                            <input type="text" class="form-control sdate-{{ budget.id }}"
                                                   id="m_datepicker_3" placeholder="Start date"
                                                   value="{{ budget.start_date }}">

                                        </td>
                                        <td style="text-align: center; width: 15%">
                                            <input type="text" class="form-control edate-{{ budget.id }}"
                                                   id="m_datepicker_4" placeholder="End date"
                                                   value="{{ budget.end_date }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                                <div id="error_message" class="note hide">
                                    <p></p>
                                </div>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    {% else %}
                        <div class="m-portlet__body">
                            <div class="row">
                                <button type="button" class="btn btn-info add-client"
                                        onclick="toggleFlightDates('flight-{{ account.account_id }}')">Add budget
                                </button>
                                <button type="button" class="btn btn-danger add-client" onclick="deleteFlightBudget()">
                                    Delete budget(s)
                                </button>
                            </div>
                            <div id="flight-error-{{ account.account_id }}">
                                <p></p>
                            </div>
                            <div id="flight-{{ account.account_id }}" class="hidden">

                                <div class="form-group m-form__group row">
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <input type="text" class="form-control sdate-{{ account.account_id }}"
                                               id="m_datepicker_1" placeholder="Start date">
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <input type="text" class="form-control edate-{{ account.account_id }}"
                                               id="m_datepicker_2" placeholder="End date">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="number" class="form-control fbudget-{{ account.account_id }}"
                                               min="0" placeholder="Desired budget" required>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-success"
                                                onclick="submitFlightBudget({{ account.account_id }})">Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <table class='table table-striped m-table' id="clients_last_month">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4 text-center">
                                        <div class="m-btn-group m-btn-group--pill btn-group m-btn-group m-btn-group--pill btn-group-sm"
                                             role="group" aria-label="">
                                            <button type="button" class="btn btn-outline-info"
                                                    onclick="window.location.href='{% url 'budget:flight_budget_read' %}?account_id={{ account.account_id }}&channel={{ account.channel }}'">
                                                Flight Dates
                                            </button>
                                            <button type="button" class="btn btn-outline-info"
                                                    onclick="window.location.href='{% url 'budget:campaign_groupings_read' %}?account_id={{ account.account_id }}&channel={{ account.channel }}'">
                                                Campaign Groupings
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                                <thead class="thead-inverse">
                                <tr>
                                    <th style="width: 5%"></th>
                                    <th>Client Name</th>
                                    <th style="text-align: center">Budget</th>
                                    <th style="text-align: center">Start Date</th>
                                    <th style="text-align: center">End Date</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for budget in budgets %}
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle;">
                                            <input type="checkbox" name="flight_budgets" id="{{ budget.id }}"
                                                   value="{{ budget.id }}">
                                        </td>
                                        <td>
                                            <div class="progress m-progress--lg">
                                                <div class="progress-bar
                                                        {{ budget.current_spend|percentage:budget.budget }}"
                                                     role="progressbar"
                                                     style="width: {% widthratio budget.current_spend budget.budget 100 %}%"
                                                     aria-valuenow="{% widthratio budget.current_spend budget.budget 100 %}"
                                                     aria-valuemin="0" aria-valuemax="100"
                                                     data-toggle="m-tooltip" data-placement="top"
                                                     title=""
                                                     data-original-title="{{ budget.current_spend }}/{{ budget.budget }}">
                                                    {% widthratio budget.current_spend budget.budget 100 %}%
                                                </div>
                                            </div>

                                        </td>
                                        <td style="text-align: center">
                                            <input id="f_budget-{{ budget.id }}" type="number" class="table-number"
                                                   onkeypress="updateFlightBudget(event, {{ budget.id }})"
                                                   value="{{ budget.budget }}">
                                        </td>
                                        <td style="text-align: center; width: 15%">
                                            <input type="text" class="form-control sdate-{{ budget.id }}"
                                                   id="m_datepicker_3" placeholder="Start date"
                                                   value="{{ budget.start_date }}">

                                        </td>
                                        <td style="text-align: center; width: 15%">
                                            <input type="text" class="form-control edate-{{ budget.id }}"
                                                   id="m_datepicker_4" placeholder="End date"
                                                   value="{{ budget.end_date }}">
                                        </td>
                                    </tr>
                                {% endfor %}
                                <div id="error_message" class="note hide">
                                    <p></p>
                                </div>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--End::Main Portlet-->
    </div>


    <!-- Begin::Modal -->
    <div class="modal fade" id="m_modal_clients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="col-xl-12">
                        <!--Begin::Main Portlet-->
                        <div class="m-portlet">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            Add a new client
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="m-portlet__nav">
                                        <li class="m-portlet__nav-item">
                                            <a href="#" data-toggle="m-tooltip"
                                               class="m-portlet__nav-link m-portlet__nav-link--icon close"
                                               data-dismiss="modal" aria-label="Close" data-direction="left"
                                               data-width="auto" title="" data-original-title="Close dialog window">
                                                <span aria-hidden="true">×</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--End::Main Portlet-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End::Modal -->



    <script type="text/javascript">

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        function toggleFlightDates(acc_id) {
            event.preventDefault();
            $("#" + acc_id).slideToggle('slow');
        }

        function submitFlightBudget(acc_id) {
            var start_date = $('.sdate-' + acc_id).val();
            var end_date = $('.edate-' + acc_id).val();
            var budget = $('.fbudget-' + acc_id).val();
            var channel = getUrlParameter('channel');

            var data = JSON.stringify({
                'sdate': start_date,
                'edate': end_date,
                'budget': budget,
                'acc_id': acc_id,
                'channel': channel
            });

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: '/budget/fbudget/create/',
                data: data,
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function () {
                    swal({
                        "title": "SUCCESS",
                        "text": "Budget succesfully added to the database.",
                        "type": "success",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    });
                },
                error: function (ajaxContext) {
                    swal({
                        "title": "ERROR",
                        "text": ajaxContext.statusText,
                        "type": "error",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    });
                }
            })
        }

        function updateFlightBudget(e, budget_id) {

            var keycode;

            if (window.event)
                keycode = window.event.keyCode;
            else if (e)
                keycode = e.which;

            if (keycode === 13) {

                var start_date = $('.sdate-' + budget_id).val();
                var end_date = $('.edate-' + budget_id).val();
                var budget = $('#f_budget-' + budget_id).val();

                var data = JSON.stringify({
                    'sdate': start_date,
                    'edate': end_date,
                    'budget': budget,
                    'budget_id': budget_id
                });

                $.ajax({
                    url: '/budget/fbudget/update/',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: 'POST',
                    data: data,
                    success: function () {
                        swal({
                            "title": "SUCCESS",
                            "text": "Budget succesfully updated.",
                            "type": "success",
                            "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                        });
                    },
                    error: function (ajaxContext) {
                        swal({
                            "title": "ERROR",
                            "text": ajaxContext.statusText,
                            "type": "error",
                            "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                        });
                    },
                    complete: function () {
                        setTimeout(function () {
                            location.reload();
                        }, 2500);
                    }
                });

            } else {
                return false;
            }
        }

        function deleteFlightBudget() {

            var data = $('input[type="checkbox"]').serialize();

            if (data) {
                $.ajax({
                    url: '/budget/fbudget/delete/',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: 'POST',
                    data: data,
                    success: function () {
                        swal({
                            "title": "SUCCESS",
                            "text": "Budget(s) succesfully deleted.",
                            "type": "success",
                            "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                        });
                    },
                    error: function (ajaxContext) {
                        swal({
                            "title": "ERROR",
                            "text": ajaxContext.statusText,
                            "type": "error",
                            "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                        });
                    },
                    complete: function () {
                        setTimeout(function () {
                            location.reload();
                        }, 2500);
                    }
                });

            } else {
                swal({
                    'title': 'ERROR',
                    'text': 'Please select at least one budget to delete.',
                    'type': 'error',
                    'confirmButtonClass': 'btn btn-secondary m-btn m-btn--wide'
                });
            }
        }

    </script>

{% endblock %}