<!DOCTYPE html> {% load staticfiles %} {% load custom_filters %} {% block view_client_block %}


{% csrf_token %}
<div class="tab-content">
    <div class="tab-pane active show" id="m_tabs_7_1" role="tabpanel">
        <div class="m-accordion m-accordion--default" id="m_accordion_1"
             role="tablist">

            <!--begin::Item-->
            <div class="m-accordion__item">
                <div class="m-accordion__item-head collapsed" role="tab"
                     id="m_accordion_1_item_1_head" data-toggle="expand"
                     href="#m_accordion_1_item_1_body">
                                            <span class="m-accordion__item-icon"><i
                                                    class="fa fa-user-circle"></i></span>
                    <span class="m-accordion__item-title">
                        {{ client_data.client_name }}
                        <span class="fa fa-pencil-square fa-4x"
                              data-toggle="modal"
                              data-target="#m_edit_cname"
                              data-clientid="{{ client_data.id }}"
                              data-cname="{{ client_data.client_name }}">
                        </span>
                    </span>
                    <span class="m-accordion__item-mode" data-toggle="modal" data-target="#m_assign_accounts"></span>
                </div>

                <div class="m-accordion__item-body"
                     id="m_accordion_1_item_1_body"
                     role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
                     data-parent="#m_accordion_1" style="">
                    <div class="m-accordion__item-content">
                        <p>
                        </p>
                        <div class="row text-center">
                            <div class="col-md-3">
                                <label class="m-checkbox m-checkbox--solid">
                                    <input type="checkbox" {% if client_data.has_gts %} checked {% endif %} }}
                                           id="m_gts_client_cbox" data-cid="{{ client_data.id }}">
                                    <b>Global Target Spend</b>
                                    <span></span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="m-checkbox m-checkbox--solid">
                                    <input type="checkbox" {% if client_data.has_budget %} checked {% endif %}
                                           id="m_client_budget_cbox" data-cid="{{ client_data.id }}">
                                    <b>Budget</b>
                                    <span></span>
                                </label>
                                <span id="m_budget_value"></span>
                            </div>
                            <div class="col-md-2">
                                <span class="m--font-boldest2">Monthly Up-to-Date Spend</span>: {{ client_data.current_spend }}
                            </div>
                            <div class="col-md-2">
                                <span class="m--font-boldest2">Cycle progress</span>: {{ today }}
                                of {{ no_of_days }}
                                days
                            </div>
                            <div class="col-md-3">
                                <span class="m--font-boldest2">Remaining days</span>: {{ remaining }}
                            </div>
                        </div>
                        </p>
                        <div class="m-separator m-separator--metal"></div>
                        <p>
                        <h3>AdWords Accounts</h3>
                            {% for a in client_data.adwords.all %}
                                <div class="m-separator"></div>
                                <span class="m-list-timeline__text">
                                    <h6>
                                        <a href="{% url 'budget:flight_budget_read' %}?account_id={{ a.dependent_account_id }}&channel={{ a.channel }}">{{ a.dependent_account_name }}</a> -
                                        <a href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                    </h6>
                                </span>
                                <p>
                                <div class="row text-center">
                                    <div class="col-md-6">
                                        <b>Current Total Spend</b>:
                                        {{ a.current_spend }}
                                    </div>
                                    <div class="col-md-6">
                                        <b>Yesterday's Spend</b>: {{ a.yesterday_spend }}
                                    </div>
                                </div>
                                </p>
                                </p>
                            {% empty %}
                                <p>
                                <h6>
                                    No accounts selected for this client...
                                </h6>
                                </p>
                            {% endfor %}

                            <div class="m-separator m-separator--metal"></div>

                            <h3>Bing Accounts</h3>
                            {% for b in client_data.bing.all %}
                                <div class="m-separator"></div>
                                <span class="m-list-timeline__text">
                                    <h6>
                                        <a href="{% url 'budget:flight_budget_read' %}?account_id={{ b.account_id }}&channel={{ b.channel }}">{{ b.account_name }}</a> -
                                        <a href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                    </h6>
                                </span>
                                <p>
                                <div class="row text-center">
                                    <div class="col-md-6">
                                        <b>Current Total Spend</b>: {{ b.current_spend }}
                                    </div>
                                    <div class="col-md-6">

                                        <b>Yesterday's spend</b>: {{ b.yesterday_spend }}
                                    </div>
                                </div>
                                </p>
                                <div style="margin-top: 10px;">
                                </div>
                            {% empty %}

                                <h6>
                                    <p>
                                        No accounts selected for this client...
                                    </p>
                                </h6>
                                </p>
                            {% endfor %}
                            <div class="m-separator m-separator--metal"></div>

                            <h3>Facebook Accounts</h3>
                            {% for f in client_data.facebook.all %}
                                <div class="m-separator"></div>
                                <span class="m-list-timeline__text">
                                <h6>
                                    <a href="{% url 'budget:flight_budget_read' %}?account_id={{ f.account_id }}&channel={{ f.channel }}">{{ f.account_name }}</a> -
                                    <a href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                </h6>
                            </span>
                                <p>
                                <div class="row text-center">
                                    <div class="col-md-2">
                                        <b>Current Total Spend</b>: {{ f.current_spend }}
                                    </div>
                                    <div class="col-md-2">

                                        <b>Yesterday's spend</b>: {{ f.yesterday_spend }}
                                    </div>
                                </div>
                                </p>
                                <div style="margin-top: 10px;">
                                </div>
                            {% empty %}

                                <h6>
                                    <p>
                                        No accounts selected for this client...
                                    </p>
                                </h6>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

{% endblock view_client_block %}