<!DOCTYPE html> {% load staticfiles %} {% load custom_filters %} {% block view_client_block %}


    {% csrf_token %}
    <div class="tab-content">
        <div class="tab-pane active show" id="m_tabs_7_1" role="tabpanel">
            <div class="m-accordion m-accordion--default" id="m_accordion_1"
                 role="tablist">

                <!--begin::Item-->
                <div class="m-accordion__item">
                    <div class="m-accordion__item-head collapsed" role="tab"
                         id="m_accordion_1_item_1_head" data-toggle="expand"
                         href="#m_accordion_1_item_1_body">
                                            <span class="m-accordion__item-icon"><i
                                                    class="fa fa-user-circle"></i></span>
                        <span class="m-accordion__item-title">
                        {{ client_data.client_name }}
                        <span class="fa fa-pencil-square fa-4x"
                              data-toggle="modal"
                              data-target="#m_edit_cname"
                              data-clientid="{{ client_data.id }}"
                              data-cname="{{ client_data.client_name }}">
                        </span>
                    </span>
                        <span class="m-accordion__item-mode" data-toggle="modal"
                              data-target="#m_assign_accounts"></span>
                    </div>

                    <div class="m-accordion__item-body"
                         id="m_accordion_1_item_1_body"
                         role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
                         data-parent="#m_accordion_1" style="">
                        <div class="m-accordion__item-content">
                            <p>
                            </p>
                            <div class="row text-center">
                                <div class="col-md-3">
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" {% if client_data.has_gts %} checked {% endif %} }}
                                               id="m_gts_client_cbox" data-cid="{{ client_data.id }}">
                                        <b>Global Target Spend</b>:
                                        <span></span>
                                    </label>
                                    <span id="gts_{{ client_data.id }}">{{ client_data.target_spend }}</span>
                                    <span class="fa fa-pencil-square"
                                          data-clientid="{{ client_data.id }}"
                                          data-target_spend="{{ client_data.target_spend }}"
                                          data-toggle="modal"
                                          data-target="#m_target_spend">
                                </span>
                                </div>
                                <div class="col-md-2">
                                    <label class="m-checkbox m-checkbox--solid">
                                        <input type="checkbox" {% if client_data.has_budget %} checked {% endif %}
                                               id="m_client_budget_cbox" data-cid="{{ client_data.id }}">
                                        <b>Budget</b>:
                                        <span></span>
                                    </label>
                                    <span id="m_budget_value">{{ client_data.budget }}</span>
                                </div>
                                <div class="col-md-2">
                                    <span class="m--font-boldest2">Monthly Up-to-Date Spend</span>: {{ client_data.current_spend }}
                                </div>
                                <div class="col-md-2">
                                    <span class="m--font-boldest2">Cycle progress</span>: {{ today }}
                                    of {{ no_of_days }}
                                    days
                                </div>
                                <div class="col-md-3">
                                    <span class="m--font-boldest2">Remaining days</span>: {{ remaining }}
                                </div>
                            </div>
                            <div class="m-separator"></div>
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <div class="progress m-progress--lg">
                                        {% if client_data.aw_spend %}
                                            <div class="progress-bar bg-success" role="progressbar"
                                                 style="width: {{ client_data.aw_spend|div:client_data.budget }}%"
                                                 aria-valuenow="{{ client_data.aw_spend|div:client_data.budget }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                A: {{ client_data.aw_spend|floatformat:2 }}
                                            </div>
                                        {% endif %}
                                        {% if client_data.bing_spend %}
                                            <div class="progress-bar bg-primary" role="progressbar"
                                                 style="width: {{ client_data.bing_spend|div:client_data.budget }}%"
                                                 aria-valuenow="{{ client_data.bing_spend|div:client_data.budget }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                B: {{ client_data.bing_spend|floatformat:2 }}
                                            </div>
                                        {% endif %}
                                        {% if client_data.fb_spend %}
                                            <div class="progress-bar" role="progressbar"
                                                 style="width: {{ client_data.fb_spend|div:client_data.budget }}%"
                                                 aria-valuenow="{{ client_data.fb_spend|div:client_data.budget }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                                F: {{ client_data.fb_spend }}
                                            </div>
                                        {% endif %}
                                        <div class="black-marker"
                                             style="width: {{ blackmarker }}%"
                                             aria-valuenow="{{ blackmarker }}"
                                             aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </p>

                            <div class="progress m-progress--lg" style="position: relative;!important;">
                                <div class="progress-bar {{ client_data.current_spend|percentage:client_data.target_spend }}"
                                     role="progressbar"
                                     style="width: {{ client_data.current_spend|div:client_data.target_spend }}%"
                                     aria-valuenow="{{ client_data.current_spend|div:client_data.target_spend }}"
                                     aria-valuemin="0" aria-valuemax="100"
                                     data-toggle="m-tooltip" data-placement="top"
                                     title=""
                                     data-original-title="{{ client_data.current_spend }}/{{ client_data.target_spend }}">
                                    {{ client_data.current_spend|div:client_data.target_spend }}%
                                </div>
                                <div class="black-marker"
                                     style="width: {{ blackmarker }}%"
                                     aria-valuenow="{{ blackmarker }}"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="m-separator m-separator--metal"></div>
                            <div id="myChart">
                                <canvas id="spendChart"></canvas>
                            </div>

                            <div class="m-separator m-separator--metal"></div>
                            <p>
                            <h3>AdWords Accounts</h3>
                            {% for a in client_data.adwords.all %}
                                <div class="m-separator"></div>
                                <span class="m-list-timeline__text">
                                    <h6>
                                        <a href="{% url 'tools:account_overview' a.dependent_account_id a.channel %}">
                                        {{ a.dependent_account_name }}</a> -
                                        <a href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                    </h6>
                                </span>
                                <p>
                                <div class="row text-center">
                                    <div class="col-md-2">
                                        <b>Budget</b>:
                                        <span id="budget-{{ a.dependent_account_id }}">{{ a.desired_spend }}</span>
                                        <span class="fa fa-pencil-square fa-4x"
                                              data-toggle="modal"
                                              data-target="#m_edit_budget"
                                              data-channel="adwords"
                                              data-accountid="{{ a.dependent_account_id }}"
                                              data-budget="{{ a.desired_spend }}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <b>Current Total Spend</b>:
                                        {{ a.current_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Target Daily Spend
                                        </b>: {{ a.current_spend | ideal_day_spend:a.desired_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Yesterday's Spend</b>: {{ a.yesterday_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Current Daily Spend</b>:
                                        {{ a.current_spend|daily_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Projected Spend EOM</b>:
                                        {{ a.current_spend|projected:a.yesterday_spend|floatformat:2 }}
                                    </div>
                                </div>
                                </p>
                                <div class="progress m-progress--lg"
                                     style="position: relative;!important;">
                                    <div class="progress-bar {{ a.current_spend|percentage:a.desired_spend }}"
                                         role="progressbar"
                                         style="width: {{ a.current_spend|div:a.desired_spend }}%;"
                                         aria-valuenow="{{ a.current_spend|div:a.desired_spend }}"
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-toggle="m-tooltip" data-placement="top"
                                         title=""
                                         data-original-title="{{ a.current_spend }}/{{ a.desired_spend }}">
                                        {{ a.current_spend|div:a.desired_spend }}%
                                    </div>
                                    <div class="black-marker"
                                         style="width: {{ blackmarker }}%"
                                         aria-valuenow="{{ blackmarker }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>

                                </p>
                                <div class="m-separator"></div>
                                <small>Spend by network <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_kpi"
                                       data-acc_id="{{ a.dependent_account_id }}"
                                       data-acc_name="{{ a.dependent_account_name }}"> Add KPI</a></small>

                                {% for budget in budgets %}
                                    {% if budget.adwords == a %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ budget.network_type }}

                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_kpi" data-budgetid="{{ budget.id }}"
                                                   data-network="{{ budget.network_type }}"></i>
                                            </div>
                                            <div class="col-md-4">
                                                <span class="m-badge m-badge--metal m-badge--dot"></span>
                                                Current spend: {{ budget.spend }}
                                            </div>
                                            <div class="col-md-4">
                                                <span class="m-badge m-badge--metal m-badge--dot"></span>
                                                Target Spend: {{ budget.budget }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="progress m-progress--lg"
                                                     style="position: relative;!important;">
                                                    <div class="progress-bar {{ budget.spend|percentage:budget.budget }}"
                                                         role="progressbar"
                                                         style="width: {{ budget.spend|div:budget.budget }}%;"
                                                         aria-valuenow="{{ budget.spend|div:budget.budget }}"
                                                         aria-valuemin="0" aria-valuemax="100"
                                                         data-toggle="m-tooltip" data-placement="top"
                                                         title=""
                                                         data-original-title="{{ budget.spend }}/{{ budget.budget }}">
                                                        {{ budget.spend|div:budget.budget }}%
                                                    </div>
                                                    <div class="black-marker"
                                                         style="width: {{ blackmarker }}%"
                                                         aria-valuenow="{{ blackmarker }}"
                                                         aria-valuemin="0" aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        </p>
                                    {% endif %}
                                {% endfor %}
                                <div class="m-separator"></div>
                                <small>Flight dates <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_flight_dates"
                                       data-acc_id="{{ a.dependent_account_id }}"
                                       data-channel="adwords"
                                       data-acc_name="{{ a.dependent_account_name }}"> Add</a></small>

                                {% for fbudget in fbudgets %}
                                    {% if fbudget.adwords_account == a %}
                                        <p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <b>Spend</b>: {{ fbudget.current_spend }}
                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_flight_date"
                                                   data-fbudgetid="{{ fbudget.id }}"></i>
                                                <i class="fa fa-pencil-square fa-4x" data-toggle="modal"
                                                   data-target="#m_edit_flight_date"
                                                   data-channel="adwords" data-sdate="{{ fbudget.start_date }}"
                                                   data-edate="{{ fbudget.end_date }}"
                                                   data-acc_name="{{ a.dependent_account_name }}"
                                                   data-budget="{{ fbudget.budget }}"
                                                   data-budgetid="{{ fbudget.id }}"></i>
                                            </div>
                                            <div class="col-md-3"><b>Budget</b>: {{ fbudget.budget }}</div>
                                            <div class="col-md-3"><b>Start date</b>: {{ fbudget.start_date }}</div>
                                            <div class="col-md-3"><b>End date</b>: {{ fbudget.end_date }}</div>
                                        </div>
                                        <div class="progress m-progress--lg">
                                            <div class="progress-bar
                                                        {{ fbudget.current_spend|percentage:fbudget.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio fbudget.current_spend fbudget.budget 100 %}%"
                                                 aria-valuenow="{% widthratio fbudget.current_spend fbudget.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top"
                                                 title=""
                                                 data-original-title="{{ fbudget.current_spend }}/{{ fbudget.budget }}">
                                                {% widthratio fbudget.current_spend fbudget.budget 100 %}%
                                            </div>
                                        </div>
                                        </p>
                                    {% endif %}
                                {% endfor %}

                                <div class="m-separator"></div>

                                <small>Campaign groupings <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_campaign_group"
                                       data-acc_id="{{ a.dependent_account_id }}" data-channel="adwords"
                                       data-acc_name="{{ a.dependent_account_name }}"> Add</a></small>

                                {% for gr in groupings %}
                                    {% if gr.adwords == a %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                Group name: {{ gr.group_name }}
                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_campaign_group" data-grid="{{ gr.id }}"></i>
                                                <i class="fa fa-pencil-square fa-4x" data-toggle="modal"
                                                   data-target="#m_edit_campaign_group"
                                                   data-acc_name="{{ a.dependent_account_name }}"
                                                   data-acc_id="{{ a.dependent_account_id }}"
                                                   data-channel="{{ a.channel }}"
                                                   data-group_name="{{ gr.group_name }}"
                                                   data-group_by="{{ gr.group_by }}" data-group_budget="{{ gr.budget }}"
                                                   data-budget="{{ gr.budget }}" data-grid="{{ gr.id }}"
                                                        {% if gr.start_date %}
                                                   data-start_date="{{ gr.start_date }}"
                                                   data-end_date="{{ gr.end_date }}"
                                                        {% endif %}></i>
                                            </div>
                                            <div class="col-md-3">Group by: {{ gr.group_by }}</div>
                                            <div class="col-md-3">Spend: {{ gr.current_spend }}</div>
                                            <div class="col-md-3">Budget: {{ gr.budget }}</div>
                                        </div>
                                        {% if gr.start_date %}
                                            <div class="row">
                                                <div class="col-md-6">Start: {{ gr.start_date }}</div>
                                                <div class="col-md-6">End: {{ gr.end_date }}</div>
                                            </div>
                                        {% endif %}
                                        <div class="progress m-progress--lg">
                                            <div class="progress-bar
                                                        {{ gr.current_spend|percentage:gr.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio gr.current_spend gr.budget 100 %}%"
                                                 aria-valuenow="{% widthratio gr.current_spend gr.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top"
                                                 title=""
                                                 data-original-title="{{ gr.current_spend }}/{{ gr.budget }}">
                                                {% widthratio gr.current_spend gr.budget 100 %}%
                                            </div>
                                        </div>
                                        <a href="#" onclick="toggleCampaigns({{ gr.id }})">Campaigns in group</a>
                                        <div id="campaigns_{{ gr.id }}" style="display: none">
                                            {% for cmp in gr.aw_campaigns.all %}
                                                {% if gr.start_date %}
                                                    <p>{{ cmp.campaign_name }}</p>
                                                {% else %}
                                                    <p>{{ cmp.campaign_name }} - {{ cmp.campaign_cost }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% empty %}
                                    <p>No groups set for this account</p>
                                {% endfor %}
                            {% empty %}
                                <p>
                                <h6>
                                    No accounts selected for this client...
                                </h6>
                                </p>
                            {% endfor %}

                            <div class="m-separator m-separator--metal"></div>

                            <h3>Bing Accounts</h3>
                            {% for b in client_data.bing.all %}
                                <div class="m-separator"></div>
                                <span class="m-list-timeline__text">
                                    <h6>
                                        <a href="{% url 'tools:account_overview' b.account_id b.channel %}">
                                            {{ b.account_name }}
                                        </a>
                                            -
                                        <a href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                    </h6>
                                </span>
                                <p>
                                <div class="row text-center">
                                    <div class="col-md-2">
                                        <b>
                                            Budget
                                        </b>:
                                        <span id="budget-{{ b.account_id }}">
                                                                        {{ b.desired_spend }}
                                                                    </span>
                                        <span class="fa fa-pencil-square fa-4x"
                                              data-toggle="modal"
                                              data-target="#m_edit_budget"
                                              data-channel="bing"
                                              data-accountid="{{ b.account_id }}"
                                              data-budget="{{ b.desired_spend }}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <b>Current Total Spend</b>: {{ b.current_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Target Daily
                                            Spend</b>: {{ b.current_spend | ideal_day_spend:b.desired_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">

                                        <b>Yesterday's spend</b>: {{ b.yesterday_spend }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Current Daily Spend</b>:
                                        {{ b.current_spend|daily_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Projected Spend EOM</b>:
                                        {{ b.current_spend|projected:b.yesterday_spend|floatformat:2 }}
                                    </div>
                                </div>
                                </p>
                                <div class="progress m-progress--lg" style="position: relative;!important;">
                                    <div class="progress-bar {{ b.current_spend|percentage:b.desired_spend }}"
                                         role="progressbar"
                                         style="width: {{ b.current_spend|div:b.desired_spend }}%;"
                                         aria-valuenow="{{ b.current_spend|div:b.desired_spend }}"
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-toggle="m-tooltip" data-placement="top"
                                         title=""
                                         data-original-title="{{ b.current_spend }}/{{ b.desired_spend }}">
                                        {{ b.current_spend|div:b.desired_spend }}%
                                    </div>
                                    <div class="black-marker"
                                         style="width: {{ blackmarker }}%"
                                         aria-valuenow="{{ blackmarker }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div style="margin-top: 10px;">
                                </div>
                                <div class="m-separator"></div>
                                <small>Flight dates <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_flight_dates"
                                       data-acc_id="{{ b.account_id }}"
                                       data-channel="bing"
                                       data-acc_name="{{ b.account_name }}"> Add</a></small>

                                {% for fbudget in fbudgets %}
                                    {% if fbudget.bing_account == b %}
                                        <p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <b>Spend</b>: {{ fbudget.current_spend }}
                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_flight_date"
                                                   data-fbudgetid="{{ fbudget.id }}"></i>
                                                <i class="fa fa-pencil-square fa-4x" data-toggle="modal"
                                                   data-target="#m_edit_flight_date"
                                                   data-channel="bing" data-sdate="{{ fbudget.start_date }}"
                                                   data-edate="{{ fbudget.end_date }}"
                                                   data-acc_name="{{ b.account_name }}"
                                                   data-budget="{{ fbudget.budget }}"
                                                   data-budgetid="{{ fbudget.id }}"></i>
                                            </div>
                                            <div class="col-md-3"><b>Budget</b>: {{ fbudget.budget }}</div>
                                            <div class="col-md-3"><b>Start date</b>: {{ fbudget.start_date }}</div>
                                            <div class="col-md-3"><b>End date</b>: {{ fbudget.end_date }}</div>
                                        </div>
                                        <div class="progress m-progress--lg">
                                            <div class="progress-bar
                                                        {{ fbudget.current_spend|percentage:fbudget.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio fbudget.current_spend fbudget.budget 100 %}%"
                                                 aria-valuenow="{% widthratio fbudget.current_spend fbudget.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top"
                                                 title=""
                                                 data-original-title="{{ fbudget.current_spend }}/{{ fbudget.budget }}">
                                                {% widthratio fbudget.current_spend fbudget.budget 100 %}%
                                            </div>
                                        </div>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                <div class="m-separator"></div>
                                <small>Campaign groupings <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_campaign_group"
                                       data-acc_id="{{ b.account_id }}" data-channel="bing"
                                       data-acc_name="{{ b.account_name }}"> Add</a></small>

                                {% for gr in groupings %}
                                    {% if gr.bing == b %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                Group name: {{ gr.group_name }}
                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_campaign_group" data-grid="{{ gr.id }}"></i>
                                                <i class="fa fa-pencil-square fa-4x" data-toggle="modal"
                                                   data-target="#m_edit_campaign_group"
                                                   data-acc_name="{{ b.account_name }}"
                                                   data-acc_id="{{ b.account_id }}"
                                                   data-channel="{{ b.channel }}"
                                                   data-group_name="{{ gr.group_name }}"
                                                   data-group_by="{{ gr.group_by }}" data-group_budget="{{ gr.budget }}"
                                                   data-budget="{{ gr.budget }}" data-grid="{{ gr.id }}"
                                                        {% if gr.start_date %}
                                                   data-start_date="{{ gr.start_date }}"
                                                   data-end_date="{{ gr.end_date }}"
                                                        {% endif %}></i>
                                            </div>
                                            <div class="col-md-3">Group by: {{ gr.group_by }}</div>
                                            <div class="col-md-3">Spend: {{ gr.current_spend }}</div>
                                            <div class="col-md-3">Budget: {{ gr.budget }}</div>
                                        </div>
                                        {% if gr.start_date %}
                                            <div class="row">
                                                <div class="col-md-6">Start: {{ gr.start_date }}</div>
                                                <div class="col-md-6">End: {{ gr.end_date }}</div>
                                            </div>
                                        {% endif %}
                                        <div class="progress m-progress--lg">
                                            <div class="progress-bar
                                                        {{ gr.current_spend|percentage:gr.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio gr.current_spend gr.budget 100 %}%"
                                                 aria-valuenow="{% widthratio gr.current_spend gr.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top"
                                                 title=""
                                                 data-original-title="{{ gr.current_spend }}/{{ gr.budget }}">
                                                {% widthratio gr.current_spend gr.budget 100 %}%
                                            </div>
                                        </div>
                                        <a href="#" onclick="toggleCampaigns({{ gr.id }})">Campaigns in group</a>
                                        <div id="campaigns_{{ gr.id }}" style="display: none">
                                            {% for cmp in gr.bing_campaigns.all %}
                                                {% if gr.start_date %}
                                                    <p>{{ cmp.campaign_name }}</p>
                                                {% else %}
                                                    <p>{{ cmp.campaign_name }} - {{ cmp.campaign_cost }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% empty %}
                                    <p>No groups set for this account</p>
                                {% endfor %}
                            {% empty %}

                                <h6>
                                    <p>
                                        No accounts selected for this client...
                                    </p>
                                </h6>
                                </p>
                            {% endfor %}
                            <div class="m-separator m-separator--metal"></div>

                            <h3>Facebook Accounts</h3>
                            {% for f in client_data.facebook.all %}
                                <div class="m-separator"></div>
                                <span class="m-list-timeline__text">
                                <h6>
                                    {{ f.account_name }} -
                                    <a href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                </h6>
                            </span>
                                <p>
                                <div class="row text-center">
                                    <div class="col-md-2">
                                        <b>
                                            Budget
                                        </b>:
                                        <span id="budget-{{ f.account_id }}">
                                        {{ f.desired_spend }}
                                    </span>
                                        <span class="fa fa-pencil-square fa-4x"
                                              data-toggle="modal"
                                              data-target="#m_edit_budget"
                                              data-channel="facebook"
                                              data-accountid="{{ f.account_id }}"
                                              data-budget="{{ f.desired_spend }}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <b>Current Total Spend</b>: {{ f.current_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Target Daily
                                            Spend</b>: {{ f.current_spend | ideal_day_spend:f.desired_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">

                                        <b>Yesterday's spend</b>: {{ f.yesterday_spend }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Current Daily Spend</b>:
                                        {{ f.current_spend|daily_spend|floatformat:2 }}
                                    </div>
                                    <div class="col-md-2">
                                        <b>Projected Spend EOM</b>:
                                        {{ f.current_spend|projected:f.yesterday_spendf|floatformat:2 }}
                                    </div>
                                </div>
                                </p>
                                <div class="progress m-progress--lg" style="position: relative;!important;">
                                    <div class="progress-bar {{ f.current_spend|percentage:f.desired_spend }}"
                                         role="progressbar"
                                         style="width: {{ f.current_spend|div:f.desired_spend }}%;"
                                         aria-valuenow="{{ f.current_spend|div:f.desired_spend }}"
                                         aria-valuemin="0" aria-valuemax="100"
                                         data-toggle="m-tooltip" data-placement="top"
                                         title=""
                                         data-original-title="{{ f.current_spend }}/{{ f.desired_spend }}">
                                        {{ f.current_spend|div:f.desired_spend }}%
                                    </div>
                                    <div class="black-marker"
                                         style="width: {{ blackmarker }}%"
                                         aria-valuenow="{{ blackmarker }}"
                                         aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <div style="margin-top: 10px;">
                                </div>
                                <div class="m-separator"></div>
                                <small>Flight dates <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_flight_dates"
                                       data-acc_id="{{ f.account_id }}"
                                       data-channel="facebook"
                                       data-acc_name="{{ f.account_name }}"> Add</a></small>

                                {% for fbudget in fbudgets %}
                                    {% if fbudget.facebook_account == f %}
                                        <p>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <b>Spend</b>: {{ fbudget.current_spend }}
                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_flight_date"
                                                   data-fbudgetid="{{ fbudget.id }}"></i>
                                                <i class="fa fa-pencil-square fa-4x" data-toggle="modal"
                                                   data-target="#m_edit_flight_date"
                                                   data-channel="facebook" data-sdate="{{ fbudget.start_date }}"
                                                   data-edate="{{ fbudget.end_date }}"
                                                   data-acc_name="{{ f.account_name }}"
                                                   data-budget="{{ fbudget.budget }}"
                                                   data-budgetid="{{ fbudget.id }}"></i>
                                            </div>
                                            <div class="col-md-3"><b>Budget</b>: {{ fbudget.budget }}</div>
                                            <div class="col-md-3"><b>Start date</b>: {{ fbudget.start_date }}</div>
                                            <div class="col-md-3"><b>End date</b>: {{ fbudget.end_date }}</div>
                                        </div>
                                        <div class="progress m-progress--lg">
                                            <div class="progress-bar
                                                        {{ fbudget.current_spend|percentage:fbudget.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio fbudget.current_spend fbudget.budget 100 %}%"
                                                 aria-valuenow="{% widthratio fbudget.current_spend fbudget.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top"
                                                 title=""
                                                 data-original-title="{{ fbudget.current_spend }}/{{ fbudget.budget }}">
                                                {% widthratio fbudget.current_spend fbudget.budget 100 %}%
                                            </div>
                                        </div>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                                <div class="m-separator"></div>
                                <small>Campaign groupings <span class="m-badge m-badge--metal m-badge--dot"></span>
                                    <a href="#" data-toggle="modal" data-target="#m_add_campaign_group"
                                       data-acc_id="{{ f.account_id }}" data-channel="facebook"
                                       data-acc_name="{{ f.account_name }}"> Add</a></small>

                                {% for gr in groupings %}
                                    {% if gr.facebook == f %}
                                        <div class="row">
                                            <div class="col-md-3">
                                                Group name: {{ gr.group_name }}
                                                <i class="fa fa-minus-circle" data-toggle="modal"
                                                   data-target="#m_delete_campaign_group" data-grid="{{ gr.id }}"></i>
                                                <i class="fa fa-pencil-square fa-4x" data-toggle="modal"
                                                   data-target="#m_edit_campaign_group"
                                                   data-acc_name="{{ f.account_name }}"
                                                   data-acc_id="{{ f.account_id }}"
                                                   data-channel="{{ f.channel }}"
                                                   data-group_name="{{ gr.group_name }}"
                                                   data-group_by="{{ gr.group_by }}" data-group_budget="{{ gr.budget }}"
                                                   data-budget="{{ gr.budget }}" data-grid="{{ gr.id }}"
                                                        {% if gr.start_date %}
                                                   data-start_date="{{ gr.start_date }}"
                                                   data-end_date="{{ gr.end_date }}"
                                                        {% endif %}></i>
                                            </div>
                                            <div class="col-md-3">Group by: {{ gr.group_by }}</div>
                                            <div class="col-md-3">Spend: {{ gr.current_spend }}</div>
                                            <div class="col-md-3">Budget: {{ gr.budget }}</div>
                                        </div>
                                        {% if gr.start_date %}
                                            <div class="row">
                                                <div class="col-md-6">Start: {{ gr.start_date }}</div>
                                                <div class="col-md-6">End: {{ gr.end_date }}</div>
                                            </div>
                                        {% endif %}
                                        <div class="progress m-progress--lg">
                                            <div class="progress-bar
                                                        {{ gr.current_spend|percentage:gr.budget }}"
                                                 role="progressbar"
                                                 style="width: {% widthratio gr.current_spend gr.budget 100 %}%"
                                                 aria-valuenow="{% widthratio gr.current_spend gr.budget 100 %}"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 data-toggle="m-tooltip" data-placement="top"
                                                 title=""
                                                 data-original-title="{{ gr.current_spend }}/{{ gr.budget }}">
                                                {% widthratio gr.current_spend gr.budget 100 %}%
                                            </div>
                                        </div>
                                        <a href="#" onclick="toggleCampaigns({{ gr.id }})">Campaigns in group</a>
                                        <div id="campaigns_{{ gr.id }}" style="display: none">
                                            {% for cmp in gr.fb_campaigns.all %}
                                                {% if gr.start_date %}
                                                    <p>{{ cmp.campaign_name }}</p>
                                                {% else %}
                                                    <p>{{ cmp.campaign_name }} - {{ cmp.campaign_cost }}</p>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% empty %}
                                    <p>No groups set for this account</p>
                                {% endfor %}
                            {% empty %}

                                <h6>
                                    <p>
                                        No accounts selected for this client...
                                    </p>
                                </h6>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

{% endblock view_client_block %}