<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    <span>Client Details</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-portlet m-portlet--tabs m-portlet--bloom m-portlet--head-solid-bg m-portlet--head-sm">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <a href="{% url 'budget:add_client' %}">
                                            <span>
                                                <i class="la la-angle-left"></i> Go Back
                                            </span>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active show" data-toggle="tab"
                                               href="#m_tabs_7_1" role="tab" aria-selected="true">
                                                Future budgets
                                            </a>
                                        </li>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="m_tabs_7_1" role="tabpanel">
                                        <div class="m-accordion m-accordion--default" id="m_accordion_1"
                                             role="tablist">

                                            <!--begin::Item-->
                                            <div class="m-accordion__item">
                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                     id="m_accordion_1_item_1_head" data-toggle="collapse"
                                                     href="#m_accordion_1_item_1_body" aria-expanded="false">
                                            <span class="m-accordion__item-icon"><i
                                                    class="fa fa-user-circle"></i></span>
                                                    <span class="m-accordion__item-title">{{ client_data.client_name }}</span>
                                                    <span class="m-accordion__item-mode"></span>
                                                </div>

                                                <div class="m-accordion__item-body"
                                                     id="m_accordion_1_item_1_body"
                                                     role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
                                                     data-parent="#m_accordion_1" style="">
                                                    <div class="m-accordion__item-content">
                                                        {#                                                        <div class="row text-center">#}
                                                        {#                                                            <div class="col-md-3">#}
                                                        {#                                                                <span class="m--font-boldest2">Budget</span>: {{ client_data.budget }}#}
                                                        {#                                                            </div>#}
                                                        {#                                                            <div class="col-md-3">#}
                                                        {#                                                                <span class="m--font-boldest2">Monthly up to Up-to-Date Spend</span>: {{ client_data.current_spend }}#}
                                                        {#                                                            </div>#}
                                                        {#                                                            <div class="col-md-3">#}
                                                        {#                                                                <span class="m--font-boldest2">Cycle progress</span>: {{ today }} of {{ no_of_days }}#}
                                                        {#                                                                days#}
                                                        {#                                                            </div>#}
                                                        {#                                                            <div class="col-md-3">#}
                                                        {#                                                                <span class="m--font-boldest2">Remaining days</span>: {{ remaining }}#}
                                                        {#                                                            </div>#}
                                                        {#                                                        </div>#}
                                                        {#                                                        <div class="m-separator m-separator--metal"></div>#}
                                                        <p>
                                                        <h3>AdWords Accounts</h3>
                                                        {% for a in client_data.adwords.all %}
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                <span class="m-list-timeline__text">
                                                                        <h6>
                                                                            {{ a.dependent_account_name }}
                                                                        </h6>
                                                                </span>
                                                                </div>
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-4">
                                                                    <button type="button"
                                                                            class="btn m-btn--pill m-btn--air btn-outline-info"
                                                                            style="float: right!important;"
                                                                            onclick="edit_submit_sixm(this, {{ a.dependent_account_id }})">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div id="error-budget-{{ a.dependent_account_id }}">
                                                                <p></p>
                                                            </div>
                                                            <div class="m-separator"></div>
                                                            <p>
                                                            <table class="table table-responsive m-table m-table--head-separator-bloom dataTable"
                                                                   id="table-{{ a.dependent_account_id }}">
                                                                <thead class="table-inverse">
                                                                <tr>
                                                                    {% for m in months %}
                                                                        <th class="text-center">{{ m }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    {#                                                                        {% for i in months %}#}
                                                                    <td class="text-center">
                                                                        <input value="{{ a.ds1 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ a.dependent_account_id }}"
                                                                               min="0"
                                                                               id="{{ a.dependent_account_id }}-ds1"
                                                                               readonly>
                                                                    </td>
                                                                    {#                                                                        {% endfor %}#}
                                                                    <td class="text-center">
                                                                        <input value="{{ a.ds2 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ a.dependent_account_id }}"
                                                                               min="0"
                                                                               id="{{ a.dependent_account_id }}-ds2"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ a.ds3 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ a.dependent_account_id }}"
                                                                               min="0"
                                                                               id="{{ a.dependent_account_id }}-ds3"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ a.ds4 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ a.dependent_account_id }}"
                                                                               min="0"
                                                                               id="{{ a.dependent_account_id }}-ds4"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ a.ds5 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ a.dependent_account_id }}"
                                                                               min="0"
                                                                               id="{{ a.dependent_account_id }}-ds5"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ a.ds6 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ a.dependent_account_id }}"
                                                                               min="0"
                                                                               id="{{ a.dependent_account_id }}-ds6"
                                                                               readonly>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            </p>
                                                            </p>
                                                            {% empty %}
                                                            <p>
                                                            <h6>
                                                                No accounts selected for this client...
                                                            </h6>
                                                            </p>
                                                        {% endfor %}
                                                        <div class="m-separator m-separator--metal"></div>
                                                        {#                                                        <p>#}
                                                        <h3>Bing Accounts</h3>
                                                        {% for b in client_data.bing.all %}
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                <span class="m-list-timeline__text">
                                                                        <h6>
                                                                            {{ b.account_name }}
                                                                        </h6>
                                                                </span>
                                                                </div>
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-4">
                                                                    <button type="button"
                                                                            class="btn m-btn--pill m-btn--air btn-outline-info"
                                                                            style="float: right!important;"
                                                                            onclick="edit_submit_sixm(this, {{ b.account_id }})">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div id="error-budget-{{ b.account_id }}">
                                                                <p></p>
                                                            </div>
                                                            <div class="m-separator"></div>
                                                            <p>
                                                            <table class="table table-responsive m-table m-table--head-separator-bloom dataTable"
                                                                   id="table-{{ b.account_id }}">
                                                                <thead class="table-inverse">
                                                                <tr>
                                                                    {% for m in months %}
                                                                        <th class="text-center">{{ m }}</th>
                                                                    {% endfor %}
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    {#                                                                        {% for i in months %}#}
                                                                    <td class="text-center">
                                                                        <input value="{{ b.ds1 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ b.account_id }}"
                                                                               min="0" id="{{ b.account_id }}-ds1"
                                                                               readonly>
                                                                    </td>
                                                                    {#                                                                        {% endfor %}#}
                                                                    <td class="text-center">
                                                                        <input value="{{ b.ds2 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ b.account_id }}"
                                                                               min="0" id="{{ b.account_id }}-ds2"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ b.ds3 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ b.account_id }}"
                                                                               min="0" id="{{ b.account_id }}-ds3"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ b.ds4 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ b.account_id }}"
                                                                               min="0" id="{{ b.account_id }}-ds4"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ b.ds5 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ b.account_id }}"
                                                                               min="0" id="{{ b.account_id }}-ds5"
                                                                               readonly>
                                                                    </td>
                                                                    <td class="text-center">
                                                                        <input value="{{ b.ds6 }}" type="number"
                                                                               class="input-lg text-center month-input-{{ b.account_id }}"
                                                                               min="0" id="{{ b.account_id }}-ds6"
                                                                               readonly>
                                                                    </td>
                                                                    {#                                                                        {% endfor %}#}
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            </p>
                                                            {% empty %}

                                                            <h6>
                                                                <p>
                                                                    No accounts selected for this client...
                                                                </p>
                                                            </h6>
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--begin::Section-->
                        <!--end::Section-->

                    </div>
                </div>


            </div>
        </div>
        <!--End::Main Portlet-->
    </div>

    <script type="text/javascript">

        function edit_submit_sixm(trigger, acc_id) {
            var months = $('.month-input-' + acc_id);
            var data = [];
            if (trigger.innerHTML === 'Submit') {
                trigger.innerHTML = 'Edit';
                $("#table-" + acc_id + " td input").attr('readonly', true);
                for (var m = 0; m < months.length; m++) {
                    var inp_id = "#" + months[m].id;
                    data.push(parseInt($(inp_id).val()));
                }
                update_budget(data, acc_id)

            } else {
                trigger.innerHTML = 'Submit';
                $("#table-" + acc_id + " td input").attr('readonly', false)
            }
        }

        function update_budget(data, acc_id) {

            data1 = JSON.stringify({
                'budgets': data,
                'acc_id': acc_id
            });

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: data1,
                complete: function(){
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                }
            })
                .done(function (data) {
                    if (data['error'] === 'OK') {
                        $("#error-budget-").removeClass('note-danger');
                        $("#error-budget-").addClass('note-success');
                        $("#error-budget-" + acc_id + " p").html("Updated budgets for account " + acc_id);
                        $("#error-budget-" + acc_id).removeClass('hide');
                    }
                });
        }

    </script>
{% endblock %}