<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    <span>Client Details</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-portlet m-portlet--tabs m-portlet--bloom m-portlet--head-solid-bg m-portlet--head-sm">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <a href="{% url 'budget:add_client' %}">
                                            <span>
                                                <i class="la la-angle-left"></i> Go Back
                                            </span>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active show" data-toggle="tab"
                                               href="#m_tabs_7_1" role="tab" aria-selected="true">
                                                Info
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">

                                {# If client has global target spend and budget set display this view #}
                                {% if client_data.has_gts and client_data.has_budget %}
                                    {% include 'budget/has_both.html' %}
                                    {# If client has global target spend set display this view#}
                                {% elif client_data.has_gts %}
                                    {% include 'budget/has_gts.html' %}
                                    {# If client has budget set display this view #}
                                {% elif client_data.has_budget %}
                                    {% include 'budget/has_budget.html' %}
                                {% else %}
                                    {% include 'budget/has_none.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    </div>
    <!--End::Main Portlet-->
    </div>

    <!--START:Modal budget edit-->
    <div class="modal fade" id="m_edit_budget" tabindex="-1" role="dialog" aria-labelledby="edit_budget">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_budget">
                        <div class="form-group">
                            <label for="budget" class="form-control-label">New Budget:</label>
                            <input class="form-control text-center" name="budget" id="budget" type="number">
                            <input type="hidden" id="aid">
                            <input type="hidden" id="channel">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-sm" onclick="editBudget()">Update</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal budget edit-->

    <!--START:Modal budget edit-->
    <div class="modal fade" id="m_target_spend" tabindex="-1" role="dialog" aria-labelledby="edit_budget">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_target_spend">
                        <div class="form-group">
                            <label for="target_spend" class="form-control-label">New Target Spend:</label>
                            <input class="form-control text-center" name="target_spend" id="target_spend" type="number">
                            <input type="hidden" id="cid">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-sm" onclick="editTargetSpend()">Update</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal budget edit-->


    <script type="text/javascript">

        let csrftoken = '{{ csrf_token }}';

        function editBudget() {

            var modal = $('#m_edit_budget');
            var data = $('#new_budget').serializeArray();
            var aid = $('#aid').val();
            var channel = $('#channel').val();

            data.push(
                {name: 'aid', value: aid},
                {name: 'channel', value: channel});

            if (data[0].value === '') {
                toastr.error('Please enter a value for the new budget.')
            } else {
                $.ajax({
                    type: "POST",
                    url: "",
                    headers: {'X-CSRFToken': csrftoken},
                    data: $.param(data),
                    complete: function () {
                        setTimeout(function () {
                        location.reload();
                    }, 2500);
                    },
                    success: function (data) {
                        modal.modal('hide');
                        toastr.success("Budget updated for " + data['aname'])

                    },
                    error: function (ajaxContext) {
                        toastr.error(ajaxContext.statusText);
                    }
                });
            }
        }

        function editTargetSpend() {

            var modal = $('#m_target_spend');
            var data = $('#new_target_spend').serializeArray();
            var cid = $('#cid').val();

            data.push({
                    name: 'cid', value: cid
                }
            );

            $.ajax({
                type: "POST",
                url: "",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $.param(data),
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function (data) {
                    modal.modal('hide');
                    let elem = $('#gts_' + cid);
                    elem.html(parseFloat(data['target_spend']));
                    toastr.success("Global Target Spend updated for " + data['client'])
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            });
        }

    </script>
{% endblock content %}

