<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    <span>Client Details</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-portlet m-portlet--tabs m-portlet--bloom m-portlet--head-solid-bg m-portlet--head-sm">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <a href="{% url 'budget:add_client' %}">
                                            <span>
                                                <i class="la la-angle-left"></i> Go Back
                                            </span>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active show" data-toggle="tab"
                                               href="#m_tabs_7_1" role="tab" aria-selected="true">
                                                Info
                                            </a>
                                        </li>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                <div class="tab-content">
                                    <div class="tab-pane active show" id="m_tabs_7_1" role="tabpanel">
                                        <div class="m-accordion m-accordion--default" id="m_accordion_1"
                                             role="tablist">

                                            <!--begin::Item-->
                                            <div class="m-accordion__item">
                                                <div class="m-accordion__item-head collapsed" role="tab"
                                                     id="m_accordion_1_item_1_head" data-toggle="collapse"
                                                     href="#m_accordion_1_item_1_body" aria-expanded="false">
                                            <span class="m-accordion__item-icon"><i
                                                    class="fa fa-user-circle"></i></span>
                                                    <span class="m-accordion__item-title">{{ client_data.client_name }}</span>
                                                    <span class="m-accordion__item-mode"></span>
                                                </div>

                                                <div class="m-accordion__item-body"
                                                     id="m_accordion_1_item_1_body"
                                                     role="tabpanel" aria-labelledby="m_accordion_1_item_1_head"
                                                     data-parent="#m_accordion_1" style="">
                                                    <div class="m-accordion__item-content">
                                                        <p>
                                                        </p>
                                                        <div class="row text-center">
                                                            <div class="col-md-3">
                                                                <span class="m--font-boldest2">Budget</span>: {{ client_data.budget }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                <span class="m--font-boldest2">Monthly up to Up-to-Date Spend</span>: {{ client_data.current_spend }}
                                                            </div>
                                                            <div class="col-md-3">
                                                                <span class="m--font-boldest2">Cycle progress</span>: {{ today }}
                                                                of {{ no_of_days }}
                                                                days
                                                            </div>
                                                            <div class="col-md-3">
                                                                <span class="m--font-boldest2">Remaining days</span>: {{ remaining }}
                                                            </div>
                                                        </div>
                                                        </p>
                                                        <div class="m-separator m-separator--metal"></div>
                                                        <p>
                                                        <h3>AdWords Accounts</h3>
                                                        {% for a in client_data.adwords.all %}
                                                            <span class="m-list-timeline__text">
                                                                    <h6>
                                                                        <a href="{% url 'budget:findividualbudget' a.dependent_account_id %}">{{ a.dependent_account_name }}</a> - <a
                                                                            href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                                                    </h6>

                                                            </span>
                                                            <div class="m-separator"></div>
                                                            <p>
                                                            <div class="row text-center">
                                                                <div class="col-md-3">
                                                                    <b>Daily spend to target
                                                                    </b>: {% widthratio a.desired_spend remaining 1 %}
                                                                </div>
                                                                <div class="col-md-3">

                                                                    <b>Yesterday's spend</b>: {{ a.yesterday_spend }}
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <b>Daily spend to date</b>:
                                                                    {{ a.current_spend|daily_spend|floatformat:2 }}
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <b>Projected</b>:
                                                                    {{ a.current_spend|projected|floatformat:2 }}
                                                                </div>
                                                            </div>
                                                            </p>
                                                            <div class="progress m-progress--lg" style="position: relative;!important;">
                                                                <div class="progress-bar

                                                                        {{ a.current_spend|percentage:a.desired_spend }}"
                                                                     role="progressbar"
                                                                     style="width: {% widthratio a.current_spend a.desired_spend 100 %}%;"
                                                                     aria-valuenow="{% widthratio a.current_spend a.desired_spend 100 %}"
                                                                     aria-valuemin="0" aria-valuemax="100"
                                                                     data-toggle="m-tooltip" data-placement="top"
                                                                     title=""
                                                                     data-original-title="{{ a.current_spend }}/{{ a.desired_spend }}">
                                                                    {% widthratio a.current_spend a.desired_spend 100 %}%
                                                                </div>
                                                                <div class="black-marker"
                                                                     style="width: {{ blackmarker }}%"
                                                                     aria-valuenow="{{ blackmarker }}"
                                                                     aria-valuemin="0" aria-valuemax="100">

                                                                </div>

                                                            </div>

                                                            </p>
                                                            {% empty %}
                                                            <p>
                                                            <h6>
                                                                No accounts selected for this client...
                                                            </h6>
                                                            </p>
                                                        {% endfor %}
                                                        <div class="m-separator m-separator--metal"></div>
                                                        {#                                                        <p>#}
                                                        <h3>Bing Accounts</h3>
                                                        {% for b in client_data.bing.all %}
                                                            <span class="m-list-timeline__text">
                                                                    <h6>
                                                                        <a href="{% url 'budget:findividualbudget' b.account_id %}">{{ b.account_name }}</a>- <a
                                                                            href="{% url 'budget:six_months' client_data.id %}">Budget for next 6 months</a>
                                                                    </h6>
                                                                </span>
                                                            <p>
                                                            <div class="m-separator"></div>
                                                            <div class="row text-center">
                                                                <div class="col-md-3">
                                                                    <b>Daily spend to reach
                                                                        target</b>: {% widthratio b.desired_spend remaining 1 %}
                                                                </div>
                                                                <div class="col-md-3">

                                                                    <b>Yesterday's spend</b>: {{ b.yesterday_spend }}
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <b>Daily spend to date</b>:
                                                                    {{ b.current_spend|daily_spend|floatformat:2 }}
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <b>Projected</b>:
                                                                    {{ b.current_spend|projected|floatformat:2 }}
                                                                </div>
                                                            </div>
                                                            </p>
                                                            <div class="progress m-progress--lg">
                                                                <div class="progress-bar {{ b.current_spend|percentage:b.desired_spend }}"
                                                                     role="progressbar"
                                                                     style="width: {% widthratio b.current_spend b.desired_spend 100 %}%"
                                                                     aria-valuenow="{% widthratio b.current_spend b.desired_spend 100 %}"
                                                                     aria-valuemin="0" aria-valuemax="100"
                                                                     data-toggle="m-tooltip" data-placement="top"
                                                                     title=""
                                                                     data-original-title="{{ b.current_spend }}/{{ b.desired_spend }}">
                                                                    {% widthratio b.current_spend b.desired_spend 100 %}%
                                                                </div>
                                                            </div>
                                                            <div style="margin-top: 10px;">
                                                            </div>
                                                            <div class="m-separator"></div>
                                                            {% empty %}

                                                            <h6>
                                                                <p>
                                                                    No accounts selected for this client...
                                                                </p>
                                                            </h6>
                                                            </p>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--begin::Section-->
                        <!--end::Section-->

                    </div>
                </div>


            </div>
        </div>
        <!--End::Main Portlet-->
    </div>


{% endblock %}