<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}

    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    <span>Client Details</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-portlet m-portlet--tabs m-portlet--bloom m-portlet--head-solid-bg m-portlet--head-sm">
                            <div class="m-portlet__head">
                                <div class="m-portlet__head-caption">
                                    <div class="m-portlet__head-title">
                                        <h3 class="m-portlet__head-text">
                                            <a href="{% url 'budget:add_client' %}">
                                            <span>
                                                <i class="la la-angle-left"></i> Go Back
                                            </span>
                                            </a>
                                        </h3>
                                    </div>
                                </div>
                                <div class="m-portlet__head-tools">
                                    <ul class="nav nav-tabs m-tabs m-tabs-line  m-tabs-line--right"
                                        role="tablist">
                                        <li class="nav-item m-tabs__item">
                                            <a class="nav-link m-tabs__link active show" data-toggle="tab"
                                               href="#m_tabs_7_1" role="tab" aria-selected="true">
                                                Info
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="m-portlet__body">
                                {# If client has global target spend and budget set display this view #}
                                {% if client_data.has_gts and client_data.has_budget %}
                                    {% include 'budget/has_both.html' %}
                                    {# If client has global target spend set display this view#}
                                {% elif client_data.has_gts %}
                                    {% include 'budget/has_gts.html' %}
                                    {# If client has budget set display this view #}
                                {% elif client_data.has_budget %}
                                    {% include 'budget/has_budget.html' %}
                                {% else %}
                                    {% include 'budget/has_none.html' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    </div>
    <!--End::Main Portlet-->
    </div>

    <!--START:Modal budget edit-->
    <div class="modal fade" id="m_edit_budget" tabindex="-1" role="dialog" aria-labelledby="edit_budget">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_budget">
                        <div class="form-group">
                            <label for="budget" class="form-control-label">New Budget:</label>
                            <input class="form-control text-center" name="budget" id="budget" type="number">
                            <input type="hidden" id="aid">
                            <input type="hidden" id="channel">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-sm" onclick="editBudget()">Update</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal budget edit-->

    <!--START:Modal client name edit-->
    <div class="modal fade" id="m_edit_cname" tabindex="-1" role="dialog" aria-labelledby="edit_cname">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_cname">
                        <div class="form-group">
                            <label for="budget" class="form-control-label">New client name:</label>
                            <input class="form-control text-center" name="client_name" id="new_client_name" type="text">
                            <input type="hidden" id="cid">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-sm" onclick="editCName()">Update</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal client name edit-->

    <!--START:Modal budget edit-->
    <div class="modal fade" id="m_target_spend" tabindex="-1" role="dialog" aria-labelledby="edit_budget">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_target_spend">
                        <div class="form-group">
                            <label for="target_spend" class="form-control-label">New Target Spend:</label>
                            <input class="form-control text-center" name="target_spend" id="target_spend" type="number">
                            <input type="hidden" id="cid">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-sm" onclick="editTargetSpend()">Update</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal budget edit-->

    <!--START:Modal add KPI-->
    <div class="modal fade" id="m_add_kpi" tabindex="-1" role="dialog" aria-labelledby="add_budget">
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_kpi">
                        <input type="hidden" id="acc_id">
                        <p>Add new KPI for <span id="akpi_acc_name"></span></p>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="form-control" name="network_budget" id="kpi_budget"
                                           placeholder="Budget.." type="number">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control m-input" name="network_type">
                                        <option selected disabled>Network type</option>
                                        <option>Search Network</option>
                                        <option>Display Network</option>
                                        <option>Youtube Search</option>
                                        <option>Youtube Videos</option>
                                        <option>Not related</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="addKpi()">Submit</button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal add KPI-->

    <!--START:Modal add flight date-->
    <div class="modal fade" id="m_add_flight_dates" tabindex="-1" role="dialog" aria-labelledby="add_flight_date">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="new_flight_date">
                        <input type="hidden" id="fd_acc_id">
                        <input type="hidden" id="fd_acc_channel">
                        <p>Add flight date for <span id="fd_acc_name"></span></p>
                        <div class="form-group">

                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="form-control sdate"
                                           id="m_datepicker_1" placeholder="Start date">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="form-control edate"
                                           id="m_datepicker_2" placeholder="End date">
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control fbudget"
                                           min="0" placeholder="Desired budget" required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="submitFlightBudget()">Submit
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal add flight date-->

    <!--START:Modal edit flight date-->
    <div class="modal fade" id="m_edit_flight_date" tabindex="-1" role="dialog" aria-labelledby="edit_flight_date">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="edit_flight_date">
                        <input type="hidden" id="fde_budget_id">
                        <p>Edit flight date for <span id="fde_acc_name"></span></p>
                        <div class="form-group">

                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="form-control sdate"
                                           id="m_datepicker_3" placeholder="Start date">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="form-control edate"
                                           id="m_datepicker_4" placeholder="End date">
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control fbudget_edit" name="fbudget_edit"
                                           min="0" placeholder="Desired budget" required>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="updateFlightBudget()">Submit
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal edit flight date-->

    <!--START:Modal delete flight date-->
    <div class="modal fade" id="m_delete_flight_date" tabindex="-1" role="dialog" aria-labelledby="delete_flight_date">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <p>Are you sure you want to delete flight date?</p>
                    </div>
                    <input type="hidden" id="fid">
                </div>
                <div class="modal-footer">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="deleteFlightBudget()">Yes</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="No">No
                        </button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal delete flight date-->

    <!--START:Modal delete KPI-->
    <div class="modal fade" id="m_delete_kpi" tabindex="-1" role="dialog" aria-labelledby="delete_kpi">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <p>Are you sure you want to delete <b><span id="dkpi_network_type"></span></b> KPI?</p>
                    </div>
                    <input type="hidden" id="bid">
                </div>
                <div class="modal-footer">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="deleteKpi()">Yes</button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="No">No
                        </button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal delete KPI-->

    <!--START:Modal add_campaign_group-->
    <div class="modal fade" id="m_add_campaign_group" tabindex="-1" role="dialog" aria-labelledby="add_campaign_group">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="add_campaign_group">
                        <input type="hidden" name="cgr_acc_id" id="cgr_acc_id">
                        <input type="hidden" name="cgr_channel" id="cgr_channel">
                        <p>Add campaign group for <span id="cgr_acc_name"></span></p>
                        <div class="form-group">

                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <input type="text" class="form-control group-name"
                                           name="cgr_group_name" placeholder="Group name" required>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="m-radio-inline">
                                        <label class="m-radio">
                                            <input type="radio" name="cgr_group_by" value="text" id="gr_text"> Text
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="cgr_group_by" value="manual" id="gr_manual">
                                            Manual
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control group_budget" name="group_budget"
                                           min="0" placeholder="Group budget" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="campaign_list">
                            <select class="form-control m-input--large" name="campaigns"
                                    multiple="multiple" id="campaigns_gr" style="width: 100%;">
                                <option></option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="addCampaignGroup()">Submit
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal add_campaign_group-->

    <!--START:Modal edit_campaign_group-->
    <div class="modal fade" id="m_edit_campaign_group" tabindex="-1" role="dialog"
         aria-labelledby="edit_campaign_group">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form id="edit_campaign_group">
                        <input type="hidden" name="cgr_gr_id" id="cgr_gr_id">
                        <input type="hidden" name="cgr_channel" id="cgr_channel">
                        <p>Edit campaign group for <span id="cgr_acc_name"></span></p>
                        <div class="form-group">

                            <div class="form-group m-form__group row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <label for="cgr_group_name">Group name:</label>
                                    <input type="text" class="form-control group-name"
                                           name="cgr_group_name" placeholder="Group name" required>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <div class="m-radio-inline">
                                        <label class="m-radio">
                                            <input type="radio" name="cgr_group_by" value="text" id="gr_text_edit"> Text
                                            <span></span>
                                        </label>
                                        <label class="m-radio">
                                            <input type="radio" name="cgr_group_by" value="manual" id="gr_manual_edit">
                                            Manual
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="group_budget">Budget:</label>
                                    <input type="number" class="form-control group_budget" name="group_budget"
                                           min="0" placeholder="Group budget" required>
                                </div>
                            </div>
                            <div class="form-group" id="campaign_list">
                                <select class="form-control m-input--large" name="campaigns_edit"
                                        multiple="multiple" id="campaigns_gr_edit" style="width: 100%;">
                                </select>
                                <input type="text" class="form-control" name="cgr_group_by_edit"
                                       id="cgr_group_by_edit">
                                <div id="cmps_in_gr"></div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="updateCampaignGroup()">Submit
                        </button>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal edit_campaign_group-->

    <!--START:Modal delete campaign group-->
    <div class="modal fade" id="m_delete_campaign_group" tabindex="-1" role="dialog"
         aria-labelledby="delete_campaign_group">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="text-center">
                        <p>Are you sure you want to delete campaign group?</p>
                    </div>
                    <input type="hidden" id="gr_id">
                </div>
                <div class="modal-footer">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <button type="button" class="btn btn-success btn-sm" onclick="deleteCampaignGroup()">Yes
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" aria-label="No">No
                        </button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <!--END:Modal delete campaign group-->

    <!--Modal assign accounts-->
    <div class="modal fade" id="m_assign_accounts" tabindex="-1" role="dialog" aria-labelledby="modalDeleteUser">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="m_title_username">
                        Select accounts you want to assign to {{ client_data.client_name }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="assign_accounts">
                        <input type="hidden" name="cid" value="{{ client_data.id }}">
                        <p>
                        <div class="row>">
                            <div class="col-md-12">
                                <label for="adwords" class="form-control-label">AdWords: </label>
                                <select class="form-control m-input--large" name="adwords"
                                        multiple="multiple" id="m_select2_adwords"
                                        style="width: 100%;">
                                    {% for a in adwords %}
                                        <option value="{{ a.dependent_account_id }}">{{ a.dependent_account_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        </p>
                        <p>
                        <div class="row>">
                            <div class="col-md-12">
                                <label for="bing" class="form-control-label">Bing: </label>
                                <select class="form-control m-input--large" name="bing"
                                        multiple="multiple" id="m_select2_bing"
                                        style="width: 100%;">
                                    {% for b in bing %}
                                        <option value="{{ b.account_id }}">{{ b.account_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        </p>
                        <p>
                        <div class="row>">
                            <div class="col-md-12">
                                <label for="facebook" class="form-control-label">Facebook: </label>
                                <select class="form-control m-input--large" name="facebook"
                                        multiple="multiple" id="m_select2_facebook"
                                        style="width: 100%;">
                                    {% for f in facebook %}
                                        <option value="{{ f.account_id }}">{{ f.account_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="assignAccounts()" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--End::Modal assing accounts-->


    <script type="text/javascript">

        function gen_xy(data) {

            lst = [];

            for (key in data) {
                if (data.hasOwnProperty(key)) {
                    lst.push({
                        'x': moment(key),
                        'y': data[key]
                    })
                }
            }

            lst.sort(function (a, b) {
                return new Date(b.x) - new Date(a.x);
            });
            return lst
        }


        function generateChart(data) {

            var new_awb = gen_xy(data.aw_budget);
            var new_aws = gen_xy(data.aw_spend);
            var new_awp = gen_xy(data.aw_projected);

            var new_bingb = gen_xy(data.bing_budget);
            var new_bings = gen_xy(data.bing_spend);
            var new_bingp = gen_xy(data.bing_projected);

            var new_fbb = gen_xy(data.fb_budget);
            var new_fbs = gen_xy(data.fb_spend);
            var new_fbp = gen_xy(data.fb_projected);

            var s1 = {
                label: "AdWords Spend",
                backgroundColor: 'rgba(236, 76, 51, 0.15)',
                borderColor: 'rgb(236, 76, 51)',
                data: gen_xy(data.aw_spend),
                fill: true,
                borderWidth: 0.90,
            };

            var s2 = {
                label: "AdWords Target Spend",
                backgroundColor: 'rgb(255, 72, 51)',
                borderColor: 'rgb(255, 72, 51)',
                data: gen_xy(data.aw_budget),
                fill: false,
                borderWidth: 0.90,
            };

            var s3 = {
                label: "AdWords Projected Spend",
                backgroundColor: 'rgba(236, 76, 51, 0.15)',
                borderColor: 'rgb(0, 0, 0)',
                data: gen_xy(data.aw_projected),
                borderDash: [2, 2],
                fill: true,
                borderWidth: 0.90,
                type: 'scatter',
                beginAtZero: false,
            };

            var s4 = {
                label: "Bing Spend",
                backgroundColor: 'rgb(12, 181, 74)',
                borderColor: 'rgb(12, 181, 74)',
                data: new_bings,
                borderWidth: 0.90,
                fill: false,
            };
            var s5 = {
                label: "Bing Target Spend",
                backgroundColor: 'rgb(0, 215, 116)',
                borderColor: 'rgb(0, 215, 116)',
                data: new_bingb,
                fill: false,
                borderWidth: 0.90,
            };
            var s6 = {
                label: "Bing Projected Spend",
                backgroundColor: 'rgba(0, 227, 149, 0.3)',
                borderColor: 'rgb(0, 0, 0)',
                data: new_bingp,
                borderDash: [2, 2],
                fill: true,
                borderWidth: 0.90,
            };
            var s7 = {
                label: "Facebook Spend",
                backgroundColor: 'rgb(44, 139, 203)',
                borderColor: 'rgb(44, 139, 203)',
                data: new_fbs,
                fill: false,
                borderWidth: 0.90,
            };
            var s8 = {
                label: "Facebook Target Spend",
                backgroundColor: 'rgb(0, 160, 219)',
                borderColor: 'rgb(0, 160, 219)',
                data: new_fbb,
                fill: false,
                borderWidth: 0.90,
            };
            var s9 = {
                label: "Facebook Projected Spend",
                backgroundColor: 'rgba(93, 185, 229, 0.3)',
                borderColor: 'rgb(0, 0, 0)',
                data: new_fbp,
                borderDash: [2, 2],
                fill: true,
                borderWidth: 0.90,
            };

            var ctx = document.getElementById('spendChart').getContext('2d');
            var chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'scatter',
                data: {
                    datasets: [
                        s1, s2, s3, s4, s5, s6, s7, s8, s9
                    ]
                },

                // Configuration options go here
                options: {
                    responsive: true,
                    display: true,
                    title: {
                        display: true,
                        text: '',
                        fontSize: 20,
                        padding: 25,
                        fontStyle: 'normal'
                    },
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            usePointStyle: true,
                            boxWidth: 0.5,

                        }
                    },
                    elements: {
                        point: {
                            pointStyle: 'circle',
                            backgroundColor: 'rgba(0,0,0,0.5)',
                            radius: 1.6,
                            hitRadius: 20,
                            hoverBorderWidth: 1,
                        },
                        line: {
                            tension: 0.4,
                        }
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            type: 'time',
                            time: {
                                unit: 'day',
                                tooltipFormat: 'MMM DD',
                                displayFormats: {
                                    day: 'MMM DD'
                                },
                            },
                            gridLines: {
                                display: false,
                            },
                        }],
                        yAxes: [{
                            display: true,
                            type: 'linear',
                            gridLines: {
                                display: true,
                            },
                            ticks: {
                                beginAtZero: true,
                            }
                        }]
                    }
                },

            });
        }

        let csrftoken = '{{ csrf_token }}';

        function editBudget() {

            var modal = $('#m_edit_budget');
            var data = $('#new_budget').serializeArray();
            var aid = $('#aid').val();
            var channel = $('#channel').val();

            data.push(
                {name: 'aid', value: aid},
                {name: 'channel', value: channel});

            if (data[0].value === '') {
                toastr.error('Please enter a value for the new budget.')
            } else {
                $.ajax({
                    type: "POST",
                    url: "",
                    headers: {'X-CSRFToken': csrftoken},
                    data: $.param(data),
                    complete: function () {
                        setTimeout(function () {
                            location.reload();
                        }, 2500);
                    },
                    success: function (data) {
                        modal.modal('hide');
                        toastr.success("Budget updated for " + data['aname'])

                    },
                    error: function (ajaxContext) {
                        toastr.error(ajaxContext.statusText);
                    }
                });
            }
        }

        function editTargetSpend() {

            let modal = $('#m_target_spend');
            let data = $('#new_target_spend').serializeArray();
            let cid = $('#cid').val();

            data.push({
                    name: 'cid', value: cid
                }
            );

            $.ajax({
                type: "POST",
                url: "",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: $.param(data),
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function (data) {
                    modal.modal('hide');
                    let elem = $('#gts_' + cid);
                    elem.html(parseFloat(data['target_spend']));
                    toastr.success("Global Target Spend updated for " + data['client'])
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            });
        }

        function assignAccounts() {

            let modal = $('#m_assign_accounts');
            let data = $('#assign_accounts').serializeArray();

            $.ajax({
                type: "POST",
                url: "/budget/client/accounts/add",
                headers: {'X-CSRFToken': csrftoken},
                data: $.param(data),
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function (data) {
                    modal.modal('hide');
                    toastr.success("Assigned new accounts to " + data['client'])
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            });
        }

        function editCName() {

            let modal = $('#m_edit_cname');
            let data = $('#new_client_name').serializeArray();
            let cid = $('#cid').val();

            data.push({
                    name: 'cid', value: cid
                }
            );

            $.ajax({
                type: "POST",
                url: "/budget/client/editname",
                headers: {'X-CSRFToken': csrftoken},
                data: data,
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function (data) {
                    modal.modal('hide');
                    toastr.success("Client name changed to " + data['client_name'])
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            });
        }

        function addKpi() {

            let modal = $("#m_add_kpi");
            let data = $("#new_kpi").serializeArray();
            let account_id = $("#acc_id").val();
            data.push({
                    name: 'acc_id', value: account_id
                }
            );

            $.ajax({
                type: "POST",
                url: "/budget/client/kpi/add",
                headers: {'X-CSRFToken': csrftoken},
                data: data,
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function (data) {
                    modal.modal('hide');
                    toastr.success("KPI added for " + data['account']);
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            });
        }

        function deleteKpi() {
            let modal = $('#m_delete_kpi');
            let budget_id = $("#bid").val();
            let data = {
                bid: budget_id
            };

            $.ajax({
                type: "POST",
                url: "/budget/client/kpi/delete",
                headers: {'X-CSRFToken': csrftoken},
                data: data,
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 2500);
                },
                success: function (data) {
                    modal.modal('hide');
                    toastr.success("KPI " + data['kpi'] + " deleted.");
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            });
        }

        function submitFlightBudget() {

            var modal = $("#m_add_flight_dates");
            var start_date = $('.sdate').val();
            var end_date = $('.edate').val();
            var budget = $('.fbudget').val();
            var acc_id = $("#fd_acc_id").val();
            var channel = $("#fd_acc_channel").val();

            var data = JSON.stringify({
                'sdate': start_date,
                'edate': end_date,
                'budget': budget,
                'acc_id': acc_id,
                'channel': channel,
            });

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: '/budget/fbudget/create/',
                data: data,
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1200);
                },
                success: function () {
                    modal.modal('hide');
                    toastr.success("Budget succesfully added to the database.");
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                }
            })
        }

        function updateFlightBudget() {

            var modal = $("#m_edit_flight_date");
            var start_date = $('#m_datepicker_3').val();
            var end_date = $('#m_datepicker_4').val();
            var budget = $('.fbudget_edit').val();
            var budget_id = $("#fde_budget_id").val();

            var data = JSON.stringify({
                'sdate': start_date,
                'edate': end_date,
                'budget': budget,
                'budget_id': budget_id,
            });

            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: '/budget/fbudget/update/',
                data: data,
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1200);
                },
                success: function () {
                    modal.modal('hide');
                    toastr.success("Budget succesfully updated.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            })
        }

        function deleteFlightBudget() {

            var modal = $("#m_delete_flight_date");
            var budget_id = $("#fid").val();

            var data = JSON.stringify({
                'budget_id': budget_id,
            });

            $.ajax({
                url: '/budget/fbudget/delete/',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                success: function () {
                    modal.modal('hide');
                    toastr.success("Budget succesfully updated.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                },
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1200);
                }
            });
        }

        function addCampaignGroup() {
            let modal = $("#m_add_campaign_group");
            let data = $("#add_campaign_group").serializeArray();
            console.log(data);
            $.ajax({
                url: '/budget/groupings/create/',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                success: function (data) {
                    modal.modal('hide');
                    toastr.success("Campaign group " + data['group_name'] + " added to the database.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                },
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1200);
                }
            });
        }

        function updateCampaignGroup() {

            var modal = $("#m_edit_campaign_group");
            let data = $("#edit_campaign_group").serializeArray();


            $.ajax({
                type: "POST",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                url: '/budget/groupings/update/',
                data: data,
                complete: function () {
                    //setTimeout(function () {
                    //    location.reload();
                    //}, 1200);
                },
                success: function () {
                    modal.modal('hide');
                    toastr.success("Group succesfully updated.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText)
                }
            })
        }

        function deleteCampaignGroup() {

            var modal = $("#m_delete_campaign_group");
            var gr_id = $("#gr_id").val();

            var data = JSON.stringify({
                'gr_id': gr_id,
            });

            $.ajax({
                url: '/budget/groupings/delete/',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                data: data,
                success: function (data) {
                    modal.modal('hide');
                    toastr.success("Group " + data['group_name'] + " succesfully deleted.")
                },
                error: function (ajaxContext) {
                    toastr.error(ajaxContext.statusText);
                },
                complete: function () {
                    setTimeout(function () {
                        location.reload();
                    }, 1200);
                }
            });
        }

        function toggleCampaigns(gr_id) {
            event.preventDefault();
            $("#campaigns_" + gr_id).toggle("slow");
        }


        document.addEventListener("DOMContentLoaded", function (event) {
            let data = {{ chdata|safe }};
            generateChart(data);
        });

    </script>
{% endblock content %}
