<!DOCTYPE html> {% extends 'main.html' %} {% load staticfiles %} {% load custom_filters %} {% block content %}


    <div class="m-content">
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h2 class="m-portlet__head-label m-portlet__head-label--bloom">
                                    <span>Change password</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">

                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {{ form }}
                            <br/>
                            <button type="submit" class="text-center">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script type="text/javascript">

            var old_password = document.querySelector("#id_old_password");
            var new_password1 = document.querySelector("#id_new_password1");
            var new_password2 = document.querySelector("#id_new_password2");
            var submit = document.querySelector("button[type=submit]");

            old_password.classList.add('form-control');
            old_password.classList.add('m-input');
            old_password.style.width = "75%";

            new_password1.classList.add('form-control');
            new_password1.classList.add('m-input');
            new_password1.style.width = "75%";

            new_password2.classList.add('form-control');
            new_password2.classList.add('m-input');
            new_password2.style.width = "75%";

            submit.classList.add('btn');
            submit.classList.add('btn-success');
        </script>
{% endblock %}