{% load staticfiles %}
{% load member_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/modal-fx.min.css' %}"/>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Toastr -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            type="text/javascript"></script>
    <!-- Selectize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css"/>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/app/media/img/logos/favicon.png' %}"/>
    <!-- Datepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.min.js"></script>
    <script defer
            src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <!-- datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https:////cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    {% if request.META.HTTP_HOST != '127.0.0.1:8000' and request.META.HTTP_HOST != 'localhost:8000' %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127221597-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            {% if request.user.is_authenticated %}
                gtag('set', {'user_id': '{{ request.user.member.id }}'});
            {% endif %}
            gtag('config', 'UA-127221597-1');
        </script>
    {% endif %}
    <link href="/static/main_refactor.css" rel="stylesheet">
    {% block extraCss %}
    {% endblock %}
</head>
<body class="has-navbar-spaced">
<!-- NAVBAR START -->
<nav class="navbar is-spaced" style="box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.25);">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item" href="/dashboard">
                <img src="{% static 'img/bloom_logo_new.png' %}" alt="SparkView">
                <strong class="navbar-item is-tagline">
                    SparkView
                </strong>
            </a>
        </div>
        <div class="navbar-start">
            <a class="navbar-item" href="/dashboard">
                <i class="fas fa-tachometer-alt" style="margin-right: 0.5em"></i>
                Dashboard
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <i class="fas fa-briefcase" style="margin-right: 0.5em;"></i>
                    Clients
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/clients">
                        My Accounts
                    </a>
                    {% if request.user.is_staff %}
                        <a class="navbar-item" href="/clients/accounts/all">
                            Active Accounts
                        </a>
                        <a class="navbar-item" href="/clients/accounts/inactive">
                            Inactive Accounts
                        </a>
                        <a class="navbar-item" href="/clients/accounts/lost">
                            Lost Accounts
                        </a>
                        <a class="navbar-item" href="/clients/accounts/new">
                            Add New Account
                        </a>
                    {% endif %}
                </div>
            </div>
            {% if request.user.is_staff %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fas fa-user-friends" style="margin-right: 0.5em;"></i>
                        Members
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/dashboard">
                            Dashboard
                        </a>
                        {% if request.user.is_staff %}
                            <a class="navbar-item" href="/user_management/backups">
                                Backups
                            </a>
                            <a class="navbar-item" href="/user_management/members">
                                Members
                            </a>
                            <a class="navbar-item" href="/user_management/members/training">
                                Member Training
                            </a>
                            <a class="navbar-item" href="/user_management/members/new">
                                Add New Member
                            </a>
                            <a class="navbar-item" href="/user_management/skills">
                                Skills
                            </a>
                            <a class="navbar-item" href="/user_management/teams">
                                Teams
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <i class="fas fa-book" style="margin-right: 0.5em;"></i>
                        Admin
                    </a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/reports/agency_overview">
                            Agency Overview
                        </a>
                        <a class="navbar-item" href="/reports/account_spend_progression">
                            PPC Account Spend Progression
                        </a>
                        <a class="navbar-item" href="/reports/cm_capacity">
                            Paid Capacity
                        </a>
                        <a class="navbar-item" href="/reports/am_capacity">
                            AM Capacity
                        </a>
                        <a class="navbar-item" href="/reports/seo_capacity">
                            SEO Capacity
                        </a>
                        <a class="navbar-item" href="/reports/strat_capacity">
                            Strat Capacity
                        </a>
                        <a class="navbar-item" href="/reports/account_capacity">
                            Account Capacity
                        </a>
                        <a class="navbar-item" href="/reports/hour_log">
                            Hour Reporting
                        </a>
                        <a class="navbar-item" href="/reports/promos">
                            Promos
                        </a>
                        <a class="navbar-item" href="/reports/actual_hours">
                            Actual Hours
                        </a>
                        <a class="navbar-item" href="/reports/account_history">
                            Account History
                        </a>
                        <a class="navbar-item" href="/reports/monthly_reporting">
                            Monthly Reporting
                        </a>
                        <a class="navbar-item" href="/reports/flagged_accounts">
                            Flagged Accounts
                        </a>
                        <a class="navbar-item" href="/reports/performance_anomalies">
                            Performance Anomalies
                        </a>
                        <a class="navbar-item" href="/reports/outstanding_notifications">
                            Outstanding Notifications
                        </a>
                        <a class="navbar-item" href="/reports/oops">
                            Oops
                        </a>
                        <a class="navbar-item" href="/reports/high_fives">
                            High Fives
                        </a>
                        <a class="navbar-item" href="/reports/onboarding">
                            Onboarding
                        </a>
                        <a class="navbar-item" href="/reports/sales">
                            Sales
                        </a>
                        <a class="navbar-item" href="/reports/promo_ads">
                            Bad Promo Ads
                        </a>
                        <a class="navbar-item" href="/reports/over_under">
                            Overspend/Underspend Report
                        </a>
                        <a class="navbar-item" href="/reports/tags">
                            Tags
                        </a>
                        <a class="navbar-item" href="/reports/month_over_month">
                            Month Over Month
                        </a>
                    </div>
                </div>
            {% endif %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    <i class="fas fa-wrench" style="margin-right: 0.5em;"></i>
                    Tools
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://mibhub.com">
                        The Hub
                    </a>
                    <a class="navbar-item" href="https://health.mibhub.com">
                        Ad Health Checker
                    </a>
                    <a class="navbar-item" href="https://builder.mibhub.com">
                        Campaign Builder
                    </a>
                    <a class="navbar-item" href="https://basecamp.com">
                        Basecamp
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            {% if member != request.user.member and member is not None %}
                <div class="navbar-item">
                    <p>Viewing: {{ member.user.get_full_name }} ({{ member.role }})</p>
                </div>
            {% endif %}
            <div class="navbar-item">
                <div class="dropdown" id="search_dropdown">
                    <input class="input is-rounded" type="search" placeholder="Search.." id="search_bar"
                           autocomplete="off">
                    <div class="dropdown-menu" style="width: 100%;">
                        <div class="dropdown-content" id="search_results"
                             style="max-height: 50vh; overflow: auto;"></div>
                    </div>
                </div>
            </div>
            <div class="navbar-item">
                <a class="navbar-item" href="/profile">
                    Hi, {{ user.first_name }}
                    <span style="margin-left: 1em;"><figure class="image is-24x24">
                        <img {% if request.user.member.image != None %}src="{{ request.user.member.image_url }}"
                             {% else %}src="{% static 'assets/app/media/img/user4.jpg' %}"{% endif %}/>
                    </figure></span>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->
{% block main_body %}
{% endblock %}
<script>
    $('.delete').click(function () {
        $(this).closest('.message').addClass('is-hidden');
        $('.modal').removeClass('is-active');
    });

    $('.modal-close, .modal-background').click(() => {
        $('.modal').removeClass('is-active');
    });

    const DEBOUNCETIME = 100;  // debounce timing
    let $searchResults = $('#search_results');
    let $searchBar = $('#search_bar');
    let $searchDropdown = $('#search_dropdown');

    $searchBar.on('keyup', function () {
        clearTimeout(this.debounce);
        this.debounce = setTimeout(() => {
            let query = this.value;
            if (query !== '') {
                // send search query
                $.ajax({
                    url: '/api/search',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    data: {
                        'query': query
                    },
                    success: (data) => {
                        // TODO: a bit repetitive, maybe abstract
                        let clients = data['clients'];
                        let members = data['members'];
                        if (!$searchDropdown.hasClass('is-active')) {
                            $searchDropdown.addClass('is-active');
                        }
                        $searchResults.empty();
                        if (clients.length > 0) {
                            let div = document.createElement('div');
                            div.className = 'dropdown-item';
                            let bold = document.createElement('strong');
                            bold.append(document.createTextNode('Clients'));
                            div.appendChild(bold);
                            $searchResults.append(div);
                            clients.forEach(item => {
                                let div = document.createElement('div');
                                let link = document.createElement('a');
                                let text = document.createTextNode(item['name']);
                                link.href = item['url'];
                                div.className = 'dropdown-item';
                                div.appendChild(link);
                                link.appendChild(text);
                                $searchResults.append(div);
                            });
                        }
                        if (clients.length > 0 && members.length > 0) {
                            let hr = document.createElement('hr');
                            hr.className = 'dropdown-divider';
                            $searchResults.append(hr);
                        }
                        if (members.length > 0) {
                            let div = document.createElement('div');
                            div.className = 'dropdown-item';
                            let bold = document.createElement('strong');
                            bold.append(document.createTextNode('Members'));
                            div.appendChild(bold);
                            $searchResults.append(div);
                            members.forEach(item => {
                                let div = document.createElement('div');
                                let link = document.createElement('a');
                                let text = document.createTextNode(item['name']);
                                link.href = item['url'];
                                div.className = 'dropdown-item';
                                div.appendChild(link);
                                link.appendChild(text);
                                $searchResults.append(div);
                            });
                        }
                        if (clients.length === 0 && members.length === 0) {
                            let noResults = document.createElement('div');
                            noResults.className = 'dropdown-item';
                            noResults.appendChild(document.createTextNode('No results found.'));
                            $searchResults.append(noResults);
                        }
                    },
                    error: () => {
                        toastr.error('Something went wrong');
                    }
                });
            } else {
                $searchResults.empty();
                $searchDropdown.removeClass('is-active');
            }
        }, DEBOUNCETIME);
    });

    $(document).mouseup(function (e) {
        // if the target of the click isn't the container nor a descendant of the container
        if (!$searchDropdown.is(e.target) && $searchDropdown.has(e.target).length === 0) {
            $searchDropdown.removeClass('is-active');
        }
    });

    $searchBar.focus(() => {
        if ($searchResults.children().length > 0) {
            $searchDropdown.addClass('is-active');
        }
    });

    $('.dataTable').DataTable({
        paginate: false,
        filter: true,
        info: false,
        language: {
            search: '<i class="fas fa-search"></i>',
        }
    });
</script>
{% block extraJs %}
{% endblock %}
</body>
</html>
