{% load staticfiles %}
{% load notification_tags %}
{% load member_tags %}
<!DOCTYPE html>
<html lang="en">
<!-- begin::Head -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
        Bloom Reporting & Monitoring
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if request.META.HTTP_HOST != '127.0.0.1:8000' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127221597-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127221597-1');
      {% if request.user.is_authenticated %}
      gtag('set', {'user_id': '{{ request.user.member.id }}'});
      {% endif %}
    </script>
    {% endif %}

    <!--begin::Web font -->
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="{% static 'assets/vendors/base/vendors.bundle.css' %}" rel="stylesheet" type="text/css"/>
    {#        <link href="{% static 'assets/demo/default/base/style.bundle.css' %}" rel="stylesheet" type="text/css"/>#}
    <link href="{% static 'assets/demo/demo6/base/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/app/js/datatables/datatables.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/demo/default/custom/components/percircle/css/percircle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/vendors/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/demo/demo6/base/custom.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="{% static 'assets/app/media/img/logos/favicon.png' %}" />

    <style>
    .logo-text-custom {
       color: #000;
    }
    .logo-text-custom:hover {
       text-decoration: none;
       color: #000;
    }
    .fa-check-circle:hover {
      cursor: pointer;
    }
    </style>

    {% block extraCss %}
    {% endblock %}

</head>
<!-- end::Head -->
<!-- end::Body -->
<!-- <body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default"  > -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-brand--minimize m-footer--push m-aside--offcanvas-default">
<!-- begin:: Page -->

<!-- Modal for end of day hours summary -->
{% is_eod as eod %}
{% if eod %}
{% with member=request.user|get_member %}
    <div class="modal fade" id="eodPopup" tabindex="-1" role="dialog" aria-labelledby="quickAddModal"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-info">
                        Day Summary
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                    <h5 class="text-info"> Hey {{ request.user.get_short_name }}! </h5>
                    You have worked
                    <span style="font-size: 1.3em;"
                          class="text-info mt-2"> {{ member.actual_hours_today|floatformat:2 }} </span>
                    hours on billable work and
                    <span style="font-size: 1.3em;"
                          class="text-info mt-2"> {{ member.value_added_hours_today|floatformat:2 }} </span>
                    hours on non-billable work today. </p>
                    <p>
                        If these hours seem inaccurate, then don't forget to <a
                            href="/user_management/members/{{ member.id }}/input_hours">input your hours for the
                        day!</a>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Got it!</button>
                </div>
            </div>
        </div>
    </div>
{% endwith %}
{% endif %}

<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
    <header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav" style="padding-left:1.5rem;">
                    <!-- BEGIN: Horizontal Menu -->
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                            id="m_aside_header_menu_mobile_close_btn">
                        <i class="la la-close"></i>
                    </button>
                    <div id="m_header_menu"
                         class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                            <li class="m-menu__item"
                                data-menu-submenu-toggle="click">
                                <a href="{% url 'index' %}" class="m-brand__logo-wrapper">
                                    <img src="{% static 'img/bloom-logo.png' %}" height="60" />
                                </a>
                            </li>
                            <li class="m-menu__item"
                                data-menu-submenu-toggle="click">
                                <a href="{% url 'index' %}" class="m-brand__logo-wrapper logo-text-custom">
                                  <h5 style="padding-top: 6px;">
                                      <span class="m-menu__item-here"></span>
                                      SparkView
                                  </h5>
                                </a>
                            </li>

                              {# Client area #}
                              <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                              data-menu-submenu-toggle="click" aria-haspopup="true"  style="padding-left:1.5rem;">
                              <a href="#" class="m-menu__link m-menu__toggle">
                                <span class="m-menu__item-here"></span>
                                <span class="m-menu__link-text">
                                  Clients
                                </span>
                                <i class="m-menu__hor-arrow la la-angle-down"></i>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                              </a>
                              <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                <ul class="m-menu__subnav">
                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="/clients" class="m-menu__link ">
                                      <span class="m-menu__link-text">
                                        My Accounts
                                      </span>
                                    </a>
                                  </li>
{#                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                    <a href="/clients/accounts/team" class="m-menu__link ">#}
{#                                      <span class="m-menu__link-text">#}
{#                                        My Team's Accounts#}
{#                                      </span>#}
{#                                    </a>#}
{#                                  </li>#}
{#                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                    <a href="/clients/accounts/report_hours" class="m-menu__link ">#}
{#                                      <span class="m-menu__link-text">#}
{#                                        Report Hours#}
{#                                      </span>#}
{#                                    </a>#}
{#                                  </li>#}
                                  {% if request.user.is_staff %}
                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="/clients/accounts/all" class="m-menu__link ">
                                      <span class="m-menu__link-text">
                                        Active Accounts
                                      </span>
                                    </a>
                                  </li>
                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="/clients/accounts/inactive" class="m-menu__link ">
                                      <span class="m-menu__link-text">
                                        Inactive Accounts
                                      </span>
                                    </a>
                                  </li>
                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="/clients/accounts/lost" class="m-menu__link ">
                                      <span class="m-menu__link-text">
                                        Lost Accounts
                                      </span>
                                    </a>
                                  </li>
                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                    <a href="/clients/accounts/new" class="m-menu__link ">
                                      <span class="m-menu__link-text">
                                        Add New Account
                                      </span>
                                    </a>
                                  </li>
                                  {% endif %}
                                </ul>
                              </div>
                            </li>
{#                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"#}
{#                                data-menu-submenu-toggle="click" aria-haspopup="true">#}
{#                                <a href="#" class="m-menu__link m-menu__toggle">#}
{#                                    <span class="m-menu__item-here"></span>#}
{#                                    <span class="m-menu__link-text">#}
{#                  										Budgets#}
{#                  									</span>#}
{#                                    <i class="m-menu__hor-arrow la la-angle-down"></i>#}
{#                                    <i class="m-menu__ver-arrow la la-angle-right"></i>#}
{#                                </a>#}
{#                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">#}
{#                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>#}
{#                                    <ul class="m-menu__subnav">#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'budget:add_client' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-ello"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													All platforms#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'budget:adwords' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-google"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													AdWords#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'budget:bing' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-windows"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													Bing Ads#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'budget:facebook' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-facebook"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													Facebook#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        {% if request.user.is_staff %}#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'accounts:adwords' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-google"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													Activate - Adwords#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'accounts:bing' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-windows"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													Activate - Bing Ads#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="{% url 'accounts:facebook' %}" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon socicon-facebook"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													Activate - Facebook#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        {% endif %}#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </li>#}
{#                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"#}
{#                                data-menu-submenu-toggle="click" aria-haspopup="true">#}
{#                                <a href="#" class="m-menu__link m-menu__toggle">#}
{#                                    <span class="m-menu__item-here"></span>#}
{#                                    <span class="m-menu__link-text">#}
{#                  										Tools#}
{#                  									</span>#}
{#                                    <i class="m-menu__hor-arrow la la-angle-down"></i>#}
{#                                    <i class="m-menu__ver-arrow la la-angle-right"></i>#}
{#                                </a>#}
{#                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">#}
{#                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>#}
{#                                    <ul class="m-menu__subnav">#}
{#                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                            <a href="https://adwords-campaign-builder.herokuapp.com/login/?next=/campaigns/new/" class="m-menu__link ">#}
{#                                                <i class="m-menu__link-icon m-nav__link-icon fa fa-tags"></i>#}
{#                                                <span class="m-menu__link-text">#}
{#                        													SKAG Builder#}
{#                        												</span>#}
{#                                            </a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </li>#}

                            {# User management #}
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                                data-menu-submenu-toggle="click" aria-haspopup="true">
                                <a href="#" class="m-menu__link m-menu__toggle">
                                    <span class="m-menu__item-here"></span>
                                    <span class="m-menu__link-text">
                  										Members
                  									</span>
                                    <i class="m-menu__hor-arrow la la-angle-down"></i>
                                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                                </a>
                                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                                    <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                                    <ul class="m-menu__subnav">
                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                            <a href="/user_management/profile" class="m-menu__link ">
                      												<span class="m-menu__link-text">
                      													Profile
                      												</span>
                                            </a>
                                        </li>
                                        <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                            <a href="/notifications" class="m-menu__link ">
                                              <span class="m-menu__link-text">
                                                Notifications Center
                                              </span>
                                            </a>
                                        </li>
                                        {% if request.user.is_staff %}
                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                <a href="/user_management/backups" class="m-menu__link ">
                                                  <span class="m-menu__link-text">
                                                    Backups
                                                  </span>
                                                </a>
                                            </li>
                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                <a href="/user_management/members" class="m-menu__link ">
                          												<span class="m-menu__link-text">
                          													Members
                          												</span>
                                                </a>
                                            </li>
                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                <a href="/user_management/members/training" class="m-menu__link ">
						                                      <span class="m-menu__link-text">
							                                      Member Training
						                                      </span>
                                                </a>
                                            </li>
                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                <a href="/user_management/members/new" class="m-menu__link ">
						                                      <span class="m-menu__link-text">
							                                      Add New Member
						                                      </span>
                                                </a>
                                            </li>
                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                <a href="/user_management/skills" class="m-menu__link ">
						                                      <span class="m-menu__link-text">
							                                      Skills
						                                      </span>
                                                </a>
                                            </li>
                                            <hr/>
                                            <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                                <a href="/user_management/teams" class="m-menu__link ">
						                                      <span class="m-menu__link-text">
							                                      Teams
						                                      </span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </li>

                            {% if request.user.is_staff %}
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                            data-menu-submenu-toggle="click" aria-haspopup="true">
                            <a href="#" class="m-menu__link m-menu__toggle">
                              <span class="m-menu__item-here"></span>
                              <span class="m-menu__link-text">
                                Admin
                              </span>
                              <i class="m-menu__hor-arrow la la-angle-down"></i>
                              <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
                              <span class="m-menu__arrow m-menu__arrow--adjust"></span>
                              <ul class="m-menu__subnav">
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/agency_overview" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Agency Overview
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/account_spend_progression" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      PPC Account Spend Progression
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/cm_capacity" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Paid Capacity
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/am_capacity" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      AM Capacity
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/seo_capacity" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      SEO Capacity
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/strat_capacity" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Strat Capacity
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/account_capacity" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Account Capacity
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/hour_log" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Hour Reporting
                                    </span>
                                  </a>
                                </li>
{#                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">#}
{#                                  <a href="/reports/facebook" class="m-menu__link ">#}
{#                                    <span class="m-menu__link-text">#}
{#                                      Facebook#}
{#                                    </span>#}
{#                                  </a>#}
{#                                </li>#}
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/promos" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Promos
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/actual_hours" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Actual Hours
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/account_history" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Account History
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/monthly_reporting" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Monthly Reporting
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/flagged_accounts" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Flagged Accounts
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/performance_anomalies" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Performance Anomalies
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/outstanding_notifications" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Outstanding Notifications
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/oops" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Oops
                                    </span>
                                  </a>
                                </li>
                                  <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/high_fives" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      High Fives
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/onboarding" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Onboarding
                                    </span>
                                  </a>
                                </li>
                                <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                  <a href="/reports/sales" class="m-menu__link ">
                                    <span class="m-menu__link-text">
                                      Sales
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </li>
                          {% endif %}
{#                          <li class="m-menu__item m-menu__item--rel" aria-haspopup="false">#}
{#                          <a href="https://docs.google.com/forms/d/e/1FAIpQLSeCjfnKOTa4vVjx7EBlUG3yfKZUOaFyzcU54hlR0FcaCSRYbA/viewform" class="m-menu__link" target="_blank">#}
{#                            <span class="m-menu__item-here"></span>#}
{#                            <span class="m-menu__link-text">#}
{#                              Report a Bug#}
{#                            </span>#}
{#                          </a>#}
{#                          </li>#}
{#                          <li class="m-menu__item m-menu__item--rel" aria-haspopup="false">#}
{#                          <a href="https://docs.google.com/document/d/1KplVandb4H8w1gUMG9tHZlxka1oJAXZFC3IJEoAHw1s/edit?usp=sharing" class="m-menu__link" target="_blank">#}
{#                            <span class="m-menu__item-here"></span>#}
{#                            <span class="m-menu__link-text">#}
{#                              User Manual#}
{#                            </span>#}
{#                          </a>#}
{#                          </li>#}
                        </ul>
                    </div>
                    <!-- END: Horizontal Menu -->
                    <!-- BEGIN: Topbar -->
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light">
                            <!--BEGIN: Search Form -->
                            <form class="m-header-search__form">
                                <div class="m-header-search__wrapper">
                                    <span class="m-header-search__icon-search">
                                        <i class="fa fa-search"></i>
                                    </span>
                                    <span class="m-header-search__input-wrapper">
                                        <input autocomplete="off" type="text" name="q"
                                               class="m-header-search__input typeahead form-control m-input tt-input"
                                               value="" placeholder="Search...">
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                              <!-- Begin notifications -->
                              {% with notifications=request.user|get_unread_notifications %}
                              <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                  data-dropdown-toggle="click" data-dropdown-persistent="1">
                                  <input value="{{ notifications.count }}" id="notif_count" style="display:none;" />
                                  <a href="#" class="m-nav__link m-dropdown__toggle">
                                    {% if notifications.count > 0 %}
                                    <span class="m-nav__link-badge m-badge text-center">{{ notifications.count }}</span>
                                    <!-- <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger notif-dot"></span> -->
                                    {% endif %}
                                    <span class="m-nav__link-icon"><i class="fa fa-bell" style="font-size:1.5rem;{% if notifications.count > 0 %}color:#f4516c;{% endif %}"></i></span>
                                  </a>
                                  <div class="m-dropdown__wrapper">
                                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                      <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                          <div class="m-dropdown__content">
                                            <div class="tab-content">
                                              <div class="tab-pane active show" id="topbar_notifications_notifications" role="tabpanel">
                                                <div class="m-scrollable m-scroller ps" data-scrollable="true" data-height="250" data-mobile-height="200" style="height: 250px; overflow: hidden;">
                                                  <div class="m-list-timeline m-list-timeline--skin-light">
                                                    <div class="m-list-timeline__items">
                                                      {% if notifications.count == 0 %}
                                                      <div class="m-list-timeline__item">
                                                        <span class="m-list-timeline__text">Nothing to see here!</span>
                                                      </div>
                                                      {% else %}
                                                        {% for notification in notifications %}
                                                        <div class="m-list-timeline__item">
                                                          <span class="m-list-timeline__badge m-list-timeline__badge--{{ notification.colour }}"></span>
                                                          {% if notification.link != None %}<a style="text-decoration: none;" href="{{ notification.link }}" class="m-list-timeline__text">{% else %}<span class="m-list-timeline__text">{% endif %}{{ notification.message }}{% if notification.link != None %}</a>{% else %}</span>{% endif %}
                                                          <span class="m-list-timeline__time">
                                                            <i class="fa fa-check-circle notif-check" style="color:#ddd;" data-checked="0" data-notification-id="{{ notification.id }}"></i>
                                                          </span>
                                                        </div>
                                                        {% endfor %}
                                                      {% endif %}
                                                    </div>
                                                  </div>
                                                <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 4px; height: 250px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 220px;"></div></div></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                  </div>
                              </li>
                              {% endwith %}
                              <!-- End notifications -->
                              <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                  data-dropdown-toggle="click">
                                  <a href="#" class="m-nav__link m-dropdown__toggle">
                                      <span class="m-topbar__userpic m--hide">
                                          <img src="{% static 'assets/app/media/img/users/user4.jpg' %}"
                                               class="m--img-rounded m--marginless m--img-centered"
                                               alt=""/>
                                      </span>
                                      <span class="m-nav__link-icon m-topbar__usericon">
                                          <span class="m-nav__link-icon-wrapper">
                                              <i class="fa fa-user"></i>
                                          </span>
                                      </span>
                                      <span class="m-topbar__username m--hide">
                                          {{ request.user.username }}
                                      </span>
                                  </a>
                                  <div class="m-dropdown__wrapper">
                                      <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                      <div class="m-dropdown__inner">
                                          <div class="m-dropdown__header m--align-center">
                                              <div class="m-card-user m-card-user--skin-light">
                                                  <div class="m-card-user__pic">
                                                      <img src="{% static 'assets/app/media/img/client-logos/logo3.png' %}"
                                                           class="m--img-rounded m--marginless" alt=""/>
                                                  </div>
                                                  <div class="m-card-user__details">
																	<span class="m-card-user__name m--font-weight-500">
																		<a href="/user_management/profile">
																			{{ request.user.get_full_name }}
																		</a>
																	</span>
                                                      <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                          {{ request.user.email }}
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="m-dropdown__body">
                                              <div class="m-dropdown__content">
                                                  <ul class="m-nav m-nav--skin-light">
                                                      <li class="m-nav__item">
                                                          <div class="row">
                                                              <div class="col-md-4">
                                                                  <a href="{% url 'logout' %}"
                                                                     class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                      Logout
                                                                  </a>
                                                              </div>
                                                              <div class="col-md-4">
                                                                  <a href="{% url 'change_password' %}"
                                                                     class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                      Change password
                                                                  </a>
                                                              </div>
                                                          </div>
                                                      </li>
                                                  </ul>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END: Topbar -->
                </div>
            </div>
        </div>
    </header>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body" {% if request.user.id == 56 %}style="background: rgba(240, 158, 255, 0.7)"<!-- TODO: Temporary joke for Amelie, remove this eventually -->{% endif %}>
        <!-- BEGIN: Left Aside -->
        {% block leftAside %}
        {% endblock %}

        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    <footer class="m-grid__item		m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        2019 &copy; SparkView - <a href="/release_notes">Release notes</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- end::Footer -->
</div>
<!-- begin::Scroll Top -->
<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500"
     data-scroll-speed="300">
    <i class="la la-arrow-up"></i>
</div>
<!-- end::Scroll Top -->
<!--begin::Base Scripts -->
<script src="{% static 'assets/vendors/base/vendors.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demo/demo6/base/scripts.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/components/forms/wizard/wizard.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/components/forms/widgets/select2.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/components/percircle/js/percircle.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/crud/forms/widgets/bootstrap-switch.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/components/forms/widgets/bootstrap-datepicker.js' %}"
        type="text/javascript"></script>
<script src="{% static 'assets/demo/default/custom/components/forms/widgets/bootstrap-daterangepicker.js' %}"
        type="text/javascript"></script>
{#<script src="{% static 'assets/demo/default/custom/components/portlets/tools.js' %}"#}
{#        type="text/javascript"></script>#}
<script src="{% static 'assets/app/js/datatables/datatables.min.js' %}"
        type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"
        type="text/javascript"></script>
<!--end::Base Scripts -->
<!--begin::Page Snippets -->
<script src="{% static 'assets/app/js/moment.js' %}"></script>
<script src="{% static 'assets/app/js/humanize.min.js' %}"></script>
<script src="{% static 'assets/app/js/Chart.min.js' %}"></script>
<script type="text/javascript">
    // Instantiate the Bloodhound suggestion engine
    var clients = new Bloodhound({

        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('cname'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            wildcard: '%QUERY',
            url: '/search?query=%QUERY',
            transform: function (response) {
                // Map the remote source JSON array to a JavaScript object array
                return $.map(response, function (elem) {
                    return {
                        cname: elem.name,
                        url: elem.url,
                        username: elem.username
                    };
                });
            }
        }
    });

    var users = new Bloodhound({

        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
            wildcard: '%QUERY',
            url: '/search?query=%QUERY',
            transform: function (response) {
                // Map the remote source JSON array to a JavaScript object array
                return $.map(response, function (elem) {
                    return {
                        username: elem.username,
                        member_url: elem.member_url
                    };
                });
            }
        }
    });

    // Instantiate the Typeahead UI
    $('input.typeahead').typeahead({
            hint: !0,
            highlight: !0,
            limit: 10,
            minLength: 2,
        },
        {
            name: 'clients',
            display: 'cname',
            source: clients,
            templates:
                {
                    header: '<h6 class="search-heading">Clients</h6>',
                    suggestion: function (data) {
                        if ("cname" in data) {
                            return "<a href=" + data.url + ">" + data.cname + "</a>";
                        } else {
                            return "<div></div>"
                        }
                    },


                }
        },
        {
            name: 'users',
            display: 'username',
            source: users,
            templates:
                {
                    header: '<h6 class="search-heading">Members</h6>',
                    suggestion: function (data) {
                        if ("username" in data) {
                            return "<a href=" + data.member_url + ">" + data.username + "</a>";
                        } else {
                            return "<div></div>"
                        }
                    },
                }
        });

</script>

<script>
    /**
     * This is where we will handle notification confirmation
     */
    $(document).ready(function () {
        let $notificationChecks = $('.notif-check');
        let $notifCount = $('#notif_count');
        let $notifDot = $('.notif-dot');
        $notificationChecks.click(function () {
            let $el = $(this);
            let $notif = $(this).closest('.m-list-timeline__item');
            $.ajax({
                url: '/notifications/confirm',
                data: {
                    'notification_id': $(this).data('notification-id')
                },
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                type: 'POST',
                success: function (data) {
                    // console.log(data);
                    $el.data('checked', '1');
                    $el.css('color', 'rgb(41, 163, 41)');
                    $notif.fadeOut();
                    $notifCount.val(parseInt($notifCount.val()) - 1);
                    if (parseInt($notifCount.val()) == 0) {
                        $notifDot.hide();
                    }
                }
            });
        });
    });

    /**
     *  End of day summary popup
     */
    {% with member=request.user|get_member %}
    function eodSummary()
    {
        let now = new Date();
        let pastFourPM = now >= new Date(now.getFullYear(), now.getMonth(), now.getDate(), 16, 0, 0, 0);
        let hasViewedToday = '{{ member.viewed_summary_today }}';

        if (!pastFourPM || hasViewedToday === 'True') {
            // don't display if not time yet or user has already viewed today
            return;
        }

        $('#eodPopup').modal({
            backdrop: 'static', // unclosable by (accidentally) clicking backdrop
            show: true
        });

        // store that the user viewed this today
        $.ajax({
            url: '/user_management/view_summary',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            type: 'POST',
            success: function () {
                console.log('Success');
            }
        });
    }
    {% endwith %}

    eodSummary();

</script>

<script src="{% static 'assets/vendors/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
<script src="{% static 'assets/app/js/custom.js' %}"></script>
<!--end::Page Snippets -->
{% block extraJs %}
{% endblock %}
</body>
<!-- end::Body -->
</html>
