<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SparkView - Release Notes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            SparkView Release Notes
        </h1>
        <p class="subtitle">
            This page serves as an archive for release notes and information about each version. The green version is currently deployed.
        </p>
        <hr/>
        <br/>
        <div class="card">
            <div class="card-content">
                <div class="tags has-addons are-large">
                    <span class="tag">April 24th, 2019</span>
                    <span class="tag is-success">v1.0.3</span>
                </div>
                <div class="content">
                    <span><a href="https://github.com/makeitbloom/bloom-master/releases/tag/v1.0.3" target="_blank">Github link</a></span>
                    <ul>
                        <li>Can now add "Mandates" to clients (services that have a start and end date)</li>
                        <li>Can make high-five and incident reports in SparkView now</li>
                        <li>Serious simplification of the main navigation menu</li>
                        <li>Removed some tabs on the member page</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-content">
                <div class="tags has-addons are-large">
                    <span class="tag">April 16th, 2019</span>
                    <span class="tag is-info">v1.0.2</span>
                </div>
                <div class="content">
                    <span><a href="https://github.com/makeitbloom/bloom-master/releases/tag/v1.0.2" target="_blank">Github link</a></span>
                    <ul>
                        <li>Can now view historical data in Team Lead Dashboards</li>
                        <li>Actual hours, available hours, and allocated hours will now be stored monthly per member</li>
                        <li>Several bug fixes of the team lead dashboard</li>
                        <li>Fix onboarding checklist</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-content">
                <div class="tags has-addons are-large">
                    <span class="tag">April 8th, 2019</span>
                    <span class="tag is-info">v1.0.1</span>
                </div>
                <div class="content">
                    <span><a href="https://github.com/makeitbloom/bloom-master/releases/tag/v1.0.1" target="_blank">Github link</a></span>
                    <ul>
                        <li>Added team leads dashboard: grouped reports filterable by team and role, data charts</li>
                        <li>Added project yesterday spend to budgets</li>
                        <li>Added management fee to account history report</li>
                        <li>Added opportunity and pitched reasons to the sales report</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-content">
                <div class="tags has-addons are-large">
                    <span class="tag">April 3rd, 2019</span>
                    <span class="tag is-info">v1.0.0</span>
                </div>
                <div class="content">
                    <span><a href="https://github.com/makeitbloom/bloom-master/releases/tag/v1.0.0" target="_blank">Github link</a></span>
                    <ul>
                        <li>Added services concept: can now flag opportunities and log sales pitches</li>
                        <li>Added negative keywords to text based campaign groups</li>
                        <li>Added sales report (outlines every service's status of every account)</li>
                        <li>Change in service status will now be logged and stored in the database</li>
                        <li>Various bug fixes</li>
                        <li>This is the base version. Everything that has been made in SparkView up until this point.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>