{% extends 'user_management/profile/layout.html' %}

{% load notification_tags %}


{% block content %}
    <div class="m-content">
        {# Notification stuff #}
        {% with notifications=request.user|get_unread_notifications %}
            {% if notifications.count > 0 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
                    <strong>Heads Up!</strong> You have unread notifications.
                </div>
            {% endif %}
        {% endwith %}
        {% if backups.count > 0 %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Reminder!</strong> You currently are backing up {{ backups.count }} accounts. Don't forget to
                check on them!
            </div>
        {% endif %}
        {% if starAccounts.count > 0 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Flagged account alert!</strong> You are assigned to {{ starAccounts.count }} flagged accounts.
                You can find them in the <strong>Flagged Accounts</strong> section below.
            </div>
        {% endif %}
        {#  Main content #}
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" style="font-size: 1.5rem;">
                                    Filter
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <form class="m-form" method="GET" action="/user_management/members/{{ member.id }}/dashboard">
                            <div class="row">
                                <div class="col-5">
                                    <select class="form-control" name="filter-role" multiple id="filter-role">
                                        {% for role in roles %}
                                            <option value="{{ role.id }}">{{ role }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-5">
                                    <select class="form-control" name="filter-team" multiple id="filter-team">
                                        {% for team in teams %}
                                            <option value="{{ team.id }}">{{ team }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-2">
                                    <input type="submit" class="btn btn-info m-btn" value="Filter">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text" style="font-size: 1.5rem;">
                                    Hours Report
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                <div class="bbox shadow p-3 bg-white rounded" style="text-align:center;"
                                     data-toggle="m-tooltip" data-original-title="Actual Hours / Allocated Hours">
                                    <h4 class="m--padding-10">
                                        Team Capacity
                                    </h4>
                                    <h2 class="text-center inner-text text-info" id="capacity-display">
                                        {{ capacity_rate|floatformat:2 }}%
                                    </h2>
                                    <canvas id="capacity-chart" width="200" height="200"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="bbox shadow p-3 bg-white rounded" style="text-align:center;"
                                     data-toggle="m-tooltip" data-original-title="Allocated Hours / Actual Hours">
                                    <h4 class="m--padding-10 justify-content-center">
                                        Team Efficiency
                                    </h4>
                                    <h2 class="text-center inner-text text-warning" id="efficiency-display">
                                        {{ utilization_rate|floatformat:2 }}%
                                    </h2>
                                    <canvas id="efficiency-chart" width="200" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-md-6">
                                <div class="bbox shadow p-3 bg-white rounded" style="text-align:center;">
                                    <h4 class="m--padding-10 justify-content-center">
                                        Team Training Hours
                                    </h4>
                                    <h2 class="text-center inner-text text-success">
                                        {{ total_hours_trained }}
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row m-row--no-padding m-row--col-separator-xl pt-3">
                            <div class="col-md-12">
                                <table class='table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline'
                                       id="my_clients_datatable" style="table-layout: fixed;">
                                    <thead class="thead-inverse">
                                    <tr class="main-table-header">
                                        <th>Member</th>
                                        <th>Role</th>
                                        <th>
                                            Actual Hours
                                        </th>
                                        <th>
                                            Allocated Hours
                                        </th>
                                        <th>
                                            Available Hours
                                        </th>
                                        <th>
                                            Efficiency Rate
                                        </th>
                                        <th>
                                            Capacity Rate
                                        </th>
                                        <th>
                                            Training Hours
                                        </th>
                                        <th>
                                            Date of Last Log
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for member in members %}
                                        <tr>
                                            <td>
                                                <a href="/user_management/members/{{ member.id }}">{{ member.user.get_full_name }}</a>
                                            </td>
                                            <td>
                                                {{ member.role.name }}
                                            </td>
                                            <td>
                                                {{ member.actualHoursThisMonth|floatformat:2 }}
                                            </td>
                                            <td>
                                                {{ member.allocated_hours_month|floatformat:2 }}
                                            </td>
                                            <td>
                                                {{ member.hours_available|floatformat:2 }}
                                            </td>
                                            <td>
                                                {{ member.utilization_rate|floatformat:2 }}%
                                            </td>
                                            <td>
                                                {{ member.capacity_rate|floatformat:2 }}%
                                            </td>
                                            <td>
                                                {{ member.training_hours_month|floatformat:2 }}
                                            </td>
                                            <td>
                                                {{ member.most_recent_hour_log }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        $('#filter-team').select2({
            closeOnSelect: false,
            placeholder: "Filter Teams"
        });

        $('#filter-role').select2({
            closeOnSelect: false,
            placeholder: "Filter Roles"
        });

        // capacity percentage pie chart
        let capacityPercentage = parseInt($('#capacity-display').text());
        if (capacityPercentage > 100) {
            capacityPercentage = 100; // display 100 on the chart if greater than 100
        }
        let ctx1 = $('#capacity-chart')[0].getContext('2d');
        let capacityChart = new Chart(ctx1, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [capacityPercentage, 100 - capacityPercentage],
                    backgroundColor: [
                        'rgba(241, 57, 18, 0.5)',
                        'rgba(241, 233, 231, 0.5)'
                    ],
                    borderColor: [
                        'rgba(241, 57, 18, 0.5)',
                        'rgba(241, 233, 231, 0.5)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                tooltips: {
                    enabled: false
                },
                rotation: 0.5 * Math.PI,
                animation: {
                    animateRotate: true
                }
            }
        });

        // efficiency percentage pie chart
        let efficiencyPercentage = parseInt($('#efficiency-display').text());
        if (efficiencyPercentage > 100) {
            efficiencyPercentage = 100; // display 100 on the chart if greater than 100
        }
        let ctx2 = $('#efficiency-chart')[0].getContext('2d');
        let efficiencyChart = new Chart(ctx2, {
            type: 'doughnut',
            data: {
                datasets: [{
                    data: [efficiencyPercentage, 100 - efficiencyPercentage],
                    backgroundColor: [
                        'rgba(27, 135, 205, 0.5)',
                        'rgba(241, 233, 231, 0.5)'
                    ],
                    borderColor: [
                        'rgba(27, 135, 205, 0.5)',
                        'rgba(241, 233, 231, 0.5)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                tooltips: {
                    enabled: false
                },
                rotation: 0.5 * Math.PI,
                animation: {
                    animateRotate: true
                }
            }
        });
    </script>
{% endblock %}