{% extends 'user_management/profile/layout.html' %}

{% load notification_tags %}


{% block content %}
    <div class="m-content">
        {# Notification stuff #}
        {% with notifications=request.user|get_unread_notifications %}
            {% if notifications.count > 0 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
                    <strong>Heads Up!</strong> You have unread notifications.
                </div>
            {% endif %}
        {% endwith %}
        {% if backups.count > 0 %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Reminder!</strong> You currently are backing up {{ backups.count }} accounts. Don't forget to
                check on them!
            </div>
        {% endif %}
        {% if star_accounts.count > 0 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Flagged account alert!</strong> You are assigned to {{ star_accounts.count }} flagged accounts.
                You can find them in the <strong>Flagged Accounts</strong> section below.
            </div>
        {% endif %}
        {#  Main content #}
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--responsive-mobile-">
                    <div class="m-portlet__head collapse-trigger" data-toggle="collapse" data-target="#hours-body">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Your High Fives
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="row m-row--no-padding m-row--col-separator-xl">
                            <div class="col-12">
                                <table class='table table-hover dataTable order-column my_clients_datatable'>
                                    <thead class="thead-light">
                                    <tr class="main-table-header">
                                        <th>
                                            Date
                                        </th>
                                        <th class="w-75">
                                            Description
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for hf in high_fives %}
                                        <tr>
                                            <td>
                                                {{ hf.date }}
                                            </td>
                                            <td>
                                                <div style="max-height: 70px; overflow: auto;">
                                                    {{ hf.description }}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
