{% extends 'main_refactor.html' %}

{% block main_body %}
    <!-- TODO: this is a temp solution since the navbar takes up height -->
    <div class="columns" style="min-height: 92vh; margin-bottom: 0; padding-bottom: 0;">
        <div class="column is-1" style="padding: 2em 0;">
            <aside class="menu">
                <ul class="menu-list">
                    <li>
                        <a class="has-text-centered" href="/dashboard" style="padding: 1.5em 0;" id="accounts_tab">
                            <div class="icon"><i class="fas fa-tachometer-alt" style="font-size: 1.3em; margin-bottom: 0.5em;"></i></div>
                            <p style="font-size: 0.9em;">Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a class="has-text-centered" href="/user_management/members/{{ member.id }}/input_hours" style="padding: 1.5em 0;"
                           id="input_hours_tab">
                            <div class="icon"><i class="fas fa-clock" style="font-size: 1.3em; margin-bottom: 0.5em;"></i></div>
                            <p style="font-size: 0.9em;">Input Hours</p>
                        </a>
                    </li>
                    <li>
                        <a class="has-text-centered" href="/user_management/members/{{ member.id }}/timesheet" style="padding: 1.5em 0;"
                           id="timesheet_tab">
                            <div class="icon"><i class="fas fa-file-alt" style="font-size: 1.3em; margin-bottom: 0.5em;"></i></div>
                            <p style="font-size: 0.9em;">Timesheet</p>
                        </a>
                    </li>
                    <li>
                        <a class="has-text-centered" href="/user_management/members/{{ member.id }}/reports" style="padding: 1.5em 0;"
                           id="reports_tab">
                            <div class="icon"><i class="fas fa-flag" style="font-size: 1.3em; margin-bottom: 0.5em;"></i></div>
                            <p style="font-size: 0.9em;">Reports</p>
                        </a>
                    </li>
                    <li>
                        <a class="has-text-centered" href="/user_management/members/{{ member.id }}/promos" style="padding: 1.5em 0;"
                           id="promos_tab">
                            <div class="icon"><i class="fas fa-calendar-alt" style="font-size: 1.3em; margin-bottom: 0.5em;"></i></div>
                            <p style="font-size: 0.9em;">Promos</p>
                        </a>
                    </li>
                    <li>
                        <a class="has-text-centered" href="/user_management/members/{{ member.id }}/performance" style="padding: 1.5em 0;"
                           id="performance_tab">
                            <div class="icon"><i class="fas fa-star-half-alt" style="font-size: 1.3em; margin-bottom: 0.5em;"></i></div>
                            <p style="font-size: 0.9em;">Performance</p>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column is-11 has-background-light"
             style="padding: 3em 2.5em 3em 2em; {% if request.user.id == 56 %}background:#fbbcf3 !important;{% endif %}">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}