{% extends 'main_refactor.html' %}

{% block main_body %}
    <!-- TODO: this is a temp solution since the navbar takes up height -->
    <div class="columns" style="min-height: 92vh; margin-bottom: 0; padding-bottom: 0;">
        <div class="column is-1" style="padding: 2em 0;">
            <aside class="menu">
                <ul class="menu-list">
                    <li>
                        <a href="/user_management/members/{{ member.id }}" style="padding: 1.5em 0;"
                           class="has-text-centered" id="accounts_tab">
                            <div class="icon"><i class="fas fa-poll-h" style="font-size: 1.5em;"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="/user_management/members/{{ member.id }}/input_hours" style="padding: 1.5em 0;"
                           class="has-text-centered" id="input_hours_tab">
                            <div class="icon"><i class="fas fa-clock" style="font-size: 1.5em;"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="/user_management/members/{{ member.id }}/timesheet" style="padding: 1.5em 0;"
                           class="has-text-centered" id="timesheet_tab">
                            <div class="icon"><i class="fas fa-file-alt" style="font-size: 1.5em;"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="/user_management/members/{{ member.id }}/reports" style="padding: 1.5em 0;"
                           class="has-text-centered" id="reports_tab">
                            <div class="icon"><i class="fas fa-flag" style="font-size: 1.5em;"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="/user_management/members/{{ member.id }}/promos" style="padding: 1.5em 0;"
                           class="has-text-centered" id="promos_tab">
                            <div class="icon"><i class="fas fa-calendar-alt" style="font-size: 1.5em;"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="/user_management/members/{{ member.id }}/performance" style="padding: 1.5em 0;"
                           class="has-text-centered" id="performance_tab">
                            <div class="icon"><i class="fas fa-star-half-alt" style="font-size: 1.5em;"></i></div>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="column is-11 has-background-light" style="padding: 3em 2.5em 3em 2em; {% if request.user.id == 56 %}background:#ffb6c1 !important;{% endif %}">
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}