{% extends 'main_refactor.html' %}
{% load staticfiles %}

{% block main_body %}
    <div class="section has-background-light" style="min-height: 91vh; margin-bottom: 0; padding-bottom: 0;">
        <div class="container">
            <h1 class="title">My Profile</h1>
            <div class="columns">
                <div class="column is-narrow">
                    <div class="level">
                        <img src="{{ member.image_url }}" id="member_image">
                    </div>
                    <form id="update_image_form" method="POST" action="/profile/upload_image"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file">
                            <label class="file-label">
                                <input class="file-input" type="file" name="upload_image" id="upload_image"
                                       accept="image/jpeg, image/png">
                                <div class="file-cta">
                                    <div class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </div>
                                    <div class="file-label">
                                        Choose a file…
                                    </div>
                                </div>
                            </label>
                        </div>
                    </form>
                </div>
                <div class="column is-4">
                    <h4 class="title is-4">{{ member.user.get_full_name }}</h4>
                    <h6 class="subtitle is-6">{{ member.role }}</h6>
                    <h6 class="subtitle is-6">{{ member.user.email }}</h6>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        $('#upload_image').change(() => {
            $('#update_image_form').submit();
        });
    </script>
{% endblock %}