{% extends 'main_refactor.html' %}
{% load staticfiles %}

{% block main_body %}
    <div class="section has-background-light" style="min-height: 91vh; margin-bottom: 0; padding-bottom: 0;">
        <div class="container">
            <h1 class="title">My Profile</h1>
            <div class="columns">
                <div class="column is-6">
                    <h4 class="title is-4">{{ member.user.get_full_name }}</h4>
                    <h6 class="subtitle is-6">{{ member.role }}</h6>
                    <form id="change_password_form">
                        <div class="field">
                            <label class="label">New Password</label>
                            <div class="control">
                                <input class="input" type="password" name="new_password" id="new_password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Confirm New Password</label>
                            <div class="control">
                                <input class="input" type="password" name="confirm_new_password"
                                       id="confirm_new_password">
                            </div>
                        </div>
                        <div class="field">
                            <button id="change_password_confirm_button" class="button" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="column is-narrow">
                    <div class="level">
                        <img src="{{ member.image.url }}" id="member_image">
                    </div>
                    <form id="update_image_form" method="POST" action="/user_management/profile/upload_image"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="file">
                            <label class="file-label">
                                <input class="file-input" type="file" name="upload_image" id="upload_image"
                                       accept="image/jpeg, image/png">
                                <div class="file-cta">
                                    <div class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </div>
                                    <div class="file-label">
                                        Choose a file…
                                    </div>
                                </div>
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        let newPassword = $('#new_password');
        let confirmNewPassword = $('#confirm_new_password');
        $('#change_password_form').submit((e) => {
            e.preventDefault();

            if (newPassword.val() === '' || confirmNewPassword.val() === '') {
                toastr.error('Please enter a password.');
                return;
            }

            if (newPassword.val() !== confirmNewPassword.val()) {
                toastr.error('Your two passwords do not match!');
                return;
            }

            $.ajax({
                url: '',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: $('#change_password_form').serialize(),
                success: () => {
                    toastr.success('Successfully updated your password!');
                    newPassword.val('');
                    confirmNewPassword.val('');
                }
            });
        });

        $('#upload_image').change(() => {
            $('#update_image_form').submit();
        });
    </script>
{% endblock %}