{% extends 'user_management/profile/layout.html' %}
{% load staticfiles %}

{% load template_filters %}
{% load notification_tags %}
{% load humanize %}
{% load custom_filters %}
{% load template_filters %}

{% block extraCss %}
    <style>
        #my_skills_datatable td, th {
            text-align: center;
        }

        .onboard-badge:hover {
            cursor: pointer;
        }

        .summary-spend-row {
            font-size: 0.9rem;
        }

    </style>
{% endblock %}



{% block content %}
    <!-- Modal for unchecking mandate completed (confirmation) -->
    <div class="modal fade" id="mandateConfirmation" tabindex="-1" role="dialog" aria-labelledby="mandateConfirmation"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary">
                        Reopen Mandate
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>This mandate is currently marked as completed. Are you sure you want to reopen it?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-toggle="modal" data-target="#mandateConfirmation">Cancel
                    </button>
                    <button type="button" class="btn btn-primary" id="reopenMandate">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="m-content">

        {% if backups.count > 0 %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Reminder!</strong> You currently are backing up {{ backups.count }} accounts. Don't forget to
                check on them!
            </div>
        {% endif %}
        {% if star_accounts.count > 0 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Flagged account alert!</strong> You are assigned to {{ star_accounts.count }} flagged accounts.
                You can find them in the <strong>Flagged Accounts</strong> section below.
            </div>
        {% endif %}
        <!-- MAIN CONTENT -->
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--responsive-mobile-">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Todo List - {{ today|date:"l F j, Y" }}
                                    <i class="far fa-calendar-alt"
                                       style="cursor: pointer;" id="datepicker"></i>
                                    <form id="todoForm" method="GET">
                                        <input class="d-none" id="todoDate" name="todoDate"/>
                                    </form>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body" id="todoList">
                        {% for todo in todos %}
                            <div class="row" style="border: 1px solid #f4f5f8; padding: 1rem 1rem 1rem 1rem;">
                                <div class="col-md-1">
                                    <label class="m-checkbox pb-1">
                                        <input type="checkbox" class="complete-todo"
                                               data-todo-id="{{ todo.id }}"
                                               {% if todo.completed %}disabled checked{% endif %}/>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-10">
                                    <div class="row">
                                        <a href="{{ todo.link }}">{{ todo.description }}</a>
                                    </div>
                                    <div class="row">
                                            <span class="badge badge-pill badge-{{ todo.colour }}">
                                                {{ todo.get_type_display }}
                                            </span>
                                    </div>
                                </div>
                                <!-- if phase task, display resolve button -->
                                {% if todo.type == 3 %}
                                    <div class="col-md-1">
                                        <button class="btn btn-primary btn-sm" data-task-id="{{ todo.phase_task_id }}"
                                                data-toggle="modal" data-target="#resolve_task_modal">Resolve
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if todos.count == 0 %}
                            You're all caught up for the day!
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Accounts -->
                {% if accounts.count > 0 %}
                    <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                        My Accounts
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            {% for account in accounts %}
                                <div class="row" style="border: 1px solid #f4f5f8; padding: 1rem 1rem 1rem 1rem;">
                                    <div class="col-2">
                                        <a href="/clients/accounts/{{ account.id }}">{{ account.client_name }}</a>
                                        <p>My hours this month:
                                            {{ accountHours|get_item_from_list:account.id }}/{{ accountAllocation|get_item_from_list:account.id }}</p>
                                        <div class="m--space-30">
                                            {% with aw=account.adwords.all bing=account.bing.all fb=account.facebook.all %}
                                                <span class="m-badge {% if aw %}m-badge--primary{% endif %}"
                                                      data-toggle="m-tooltip"
                                                      data-original-title="
                                                        {% if aw %}
                                                            {% for a in aw %}
                                                          {{ a.dependent_account_name }}{% if not forloop.last %},{% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            No AdWords Account
                                                        {% endif %}">A</span>
                                                <span class="m-badge {% if bing %}m-badge--success{% endif %}"
                                                      data-toggle="m-tooltip"
                                                      data-original-title="
                                                        {% if bing %}
                                                            {% for b in bing %}

                                                          {{ b.account_name }}{% if not forloop.last %},{% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            No Bing Account
                                                        {% endif %}">B</span>
                                                <span class="m-badge {% if fb %}m-badge--info{% endif %}"
                                                      data-toggle="m-tooltip"
                                                      data-original-title="
                                                        {% if fb %}
                                                            {% for f in fb %}

                                                          {{ f.account_name }}{% if not forloop.last %},{% endif %}
                                                            {% endfor %}
                                                        {% else %}
                                                            No Facebook Account
                                                        {% endif %}">F</span>
                                            {% endwith %}
                                        </div>
                                        <div class="m--space-30">
                                            Phase {{ account.phase }}, Day {{ account.phase_day }}:
                                            {% for task in account.current_phase_tasks %}
                                                <span class="m-badge {% if task.complete %}m-badge--success{% endif %}"
                                                      data-toggle="m-tooltip"
                                                      data-original-title="{{ task.task.message }}"></span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div class="row summary-spend-row">
                                            <div class="col-md-2"><b>Current</b>:
                                                {{ account.currency }}{{ account.current_spend|format_money }}
                                            </div>
                                            <div class="col-md-2"><b>Budget</b>:
                                                {{ account.currency }}{{ account.current_budget|format_money }}
                                            </div>
                                            <div class="col-md-2">
                                                <b>Avg Projected</b>:
                                                {{ account.currency }}{{ account.project_average|format_money }}
                                            </div>
                                            <div class="col-md-2">
                                                <b>Yest Projected</b>:
                                                {{ account.currency }}{{ account.project_yesterday|format_money }}
                                            </div>
                                            <div class="col-md-2">
                                                <b>Yest Spend</b>:
                                                {{ account.currency }}{{ account.yesterday_spend|format_money }}
                                            </div>
                                            <div class="col-md-2">
                                                <b>Target Daily Spend</b>:
                                                {{ account.currency }}{{ account.calculated_daily_recommended|floatformat:2|intcomma }}
                                            </div>
                                        </div>
                                        <div class="progress m-progress--lg"
                                             style="position: relative!important; height:30px !important;">
                                            <div id="{{ account.id }}_progressbar"
                                                 class="progress-bar {% if account.underpacing_average %}bg-warning{% elif account.project_average > account.current_budget %}bg-danger{% else %}bg-success{% endif %}"
                                                 role="progressbar"
                                                 style="width: {{ account.spend_percentage }}%;"
                                                 aria-valuemin="0" aria-valuemax="100"
                                                 aria-valuenow="{{ account.spend_percentage }}"
                                                 data-toggle="m-tooltip" data-placement="top" title=""
                                                 data-original-title="{{ account.current_spend }}/{{ account.current_budget }}">
                                                {{ account.spend_percentage|floatformat:2 }}%
                                            </div>
                                            <div class="black-marker"
                                                 style="width: {{ black_marker }}%"
                                                 aria-valuenow="{{ black_marker }}"
                                                 aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <!-- end accounts -->
                {% if onboarding_accounts.count > 0 %}
                    <!-- Onboarding accounts -->
                    <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                        Onboarding Accounts
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            {% for account in onboarding_accounts %}
                                <div class="onboard-account"
                                     style="border: 1px solid #f4f5f8; padding: 1rem 1rem 0rem 1rem;">
                                    <div class="row">
                                        <div class="col-12">
                                            <a href="/clients/accounts/{{ account.id }}"><h4 style="display:inline;"
                                                                                             {% if account.late_onboard_reason != None %}data-toggle="m-tooltip"
                                                                                             data-original-title="{{ account.late_onboard_reason }}"{% endif %}>{{ account.client_name }}</h4>
                                            </a>&nbsp;&nbsp;<span
                                                class="m-badge onboard-badge m-badge--{% if account.is_late_to_onboard %}danger{% else %}info{% endif %}"
                                                data-account-id="{{ account.id }}"
                                                style="margin-bottom: 0.5rem;"
                                                {% if account.is_late_to_onboard %}data-toggle="modal"
                                                data-target="#late_onboard_modal"{% endif %}>{{ account.onboarding_duration_elapsed }}</span>
                                        </div>
                                    </div>
                                    <br/>
                                    {% if account.has_ppc %}
                                        <div class="row">
                                            <div class="col-1">
                                            <span class="m-badge m-badge--{% if account.is_late_to_onboard %}danger late-onboard{% else %}info{% endif %} m-badge--wide m-badge--rounded"
                                                  data-account-id="{{ account.id }}"
                                                  {% if account.is_late_to_onboard %}data-toggle="modal"
                                                  data-target="#late_onboard_modal"{% endif %}
                                                  style="width:100%; {% if account.ppc_onboarding_steps_complete %}background:#34bfa3;{% endif %}">
                                                {% if account.ppc_onboarding_steps_complete %}Complete
                                                    {% else %}{% if not account.is_late_to_onboard %}On pace{% else %}
                                                        Late{% endif %}{% endif %}
                                            </span>
                                            </div>
                                            <div class="col-11">
                                                <div class="m-list-badge m--margin-bottom-20">
                                                    <div class="m-list-badge__label m--font-info">PPC</div>
                                                    <div class="m-list-badge__items">
                                                        {% for step in account.ppc_steps %}
                                                            <a href="/clients/accounts/onboard/{{ account.id }}"
                                                               class="m-list-badge__item m-list-badge__item--{% if step.complete %}success{% else %}metal{% endif %}">{{ step.step.name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if account.has_seo %}
                                        <div class="row">
                                            <div class="col-1">
                                            <span class="m-badge m-badge--{% if account.is_late_to_onboard %}danger late-onboard{% else %}info{% endif %} m-badge--wide m-badge--rounded"
                                                  data-account-id="{{ account.id }}"
                                                  {% if account.is_late_to_onboard %}data-toggle="modal"
                                                  data-target="#late_onboard_modal"{% endif %}
                                                  style="width:100%; {% if account.seo_onboarding_steps_complete %}background:#34bfa3;{% endif %}">
                                                {% if account.seo_onboarding_steps_complete %}Complete
                                                    {% else %}{% if not account.is_late_to_onboard %}On pace{% else %}
                                                        Late{% endif %}{% endif %}</span>
                                            </div>
                                            <div class="col-11">
                                                <div class="m-list-badge m--margin-bottom-20">
                                                    <div class="m-list-badge__label m--font-info">SEO</div>
                                                    <div class="m-list-badge__items">
                                                        {% for step in account.seo_steps %}
                                                            <a href="/clients/accounts/onboard/{{ account.id }}"
                                                               class="m-list-badge__item m-list-badge__item--{% if step.complete %}success{% else %}metal{% endif %}">{{ step.step.name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% if account.has_cro %}
                                        <div class="row">
                                            <div class="col-1">
                                            <span class="m-badge m-badge--{% if account.is_late_to_onboard %}danger late-onboard{% else %}info{% endif %} m-badge--wide m-badge--rounded"
                                                  data-account-id="{{ account.id }}"
                                                  {% if account.is_late_to_onboard %}data-toggle="modal"
                                                  data-target="#late_onboard_modal"{% endif %}
                                                  style="width:100%; {% if account.cro_onboarding_steps_complete %}background:#34bfa3;{% endif %}">
                                                {% if account.cro_onboarding_steps_complete %}Complete
                                                    {% else %}{% if not account.is_late_to_onboard %}On pace{% else %}
                                                        Late{% endif %}{% endif %}</span>
                                            </div>
                                            <div class="col-11">
                                                <div class="m-list-badge m--margin-bottom-20">
                                                    <div class="m-list-badge__label m--font-info">CRO</div>
                                                    <div class="m-list-badge__items">
                                                        {% for step in account.cro_steps %}
                                                            <a href="/clients/accounts/onboard/{{ account.id }}"
                                                               class="m-list-badge__item m-list-badge__item--{% if step.complete %}success{% else %}metal{% endif %}">{{ step.step.name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end Onboarding accounts -->
                {% endif %}
                {% if backups.count > 0 %}
                    <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                        My Backup Accounts
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable">
                                <thead class="thead-inverse">
                                <tr class="main-table-header">
                                    <th>
                                        Client
                                    </th>
                                    <th>Account</th>
                                    <th>
                                        My Actual Hours
                                    </th>
                                    <th>
                                        Total Actual Hours
                                    </th>
                                    <th>
                                        Total Allocated Hours
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for backup in backups %}
                                    <tr>
                                        <td>
                                            {{ backup.account.parentClient.name }}
                                        </td>
                                        <td>
                                            <a href="/clients/accounts/{{ backup.account.id }}">{{ backup.account.client_name }}</a>
                                        </td>
                                        <td>
                                            {# backupHours|get_item_from_list:account.id #} 0
                                        </td>
                                        <td>
                                            {{ backup.account.hoursWorkedThisMonth|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ backup.account.all_hours|floatformat:2 }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                {% if mandates|length > 0 %}
                    <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                        My Mandates
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <thead class="thead-default">
                                <tr>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Account
                                    </th>
                                    <th>
                                        Cost
                                    </th>
                                    <th>
                                        Hourly Rate
                                    </th>
                                    <th>
                                        Hours
                                    </th>
                                    <th>
                                        Date Range
                                    </th>
                                    <th>
                                        Mandate Completed
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for mandate in mandates %}
                                    <tr style="text-align:center">
                                        <td>
                                            {{ mandate.mandate_type.name }}
                                        </td>
                                        <td>
                                            <a href="/clients/accounts/{{ mandate.account.id }}">{{ mandate.account.client_name }}</a>
                                        </td>
                                        <td>
                                            {{ mandate.cost|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ mandate.hourly_rate|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ mandate.calculated_hours|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ mandate.start_date_pretty }} - {{ mandate.end_date_pretty }}
                                        </td>
                                        <td>
                                            <label class="m-checkbox">
                                                <input type="checkbox" class="mandate-completed" id="{{ mandate.id }}"
                                                        {% if mandate.completed %} checked {% endif %}>
                                                <span></span>
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {% if star_accounts.count > 0 %}
                    <!-- Being starred accounts (admin only) -->
                    <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                                        Flagged Accounts
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <table class="table table-striped table-bordered table-hover table-checkable dataTable"
                                   id="star_clients_datatable">
                                <thead class="thead-inverse">
                                <tr class="main-table-header">
                                    <th>
                                        Client
                                    </th>
                                    <th>Account</th>
                                    <th>
                                        Total Actual Hours
                                    </th>
                                    <th>
                                        Total Allocated Hours
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for account in star_accounts %}
                                    <tr>
                                        <td>
                                            {{ account.parentClient.name }}
                                        </td>
                                        <td>
                                            <a href="/clients/accounts/{{ account.id }}">{{ account.client_name }}</a>
                                        </td>
                                        <td>
                                            {{ account.hoursWorkedThisMonth|floatformat:2 }}
                                        </td>
                                        <td>
                                            {{ account.all_hours|floatformat:2 }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- End starred accounts -->
                {% endif %}
            </div>
        </div>

        <!--End::Main Portlet-->
    </div>

    <!-- Late onboard account -->
    <div class="modal fade" id="late_onboard_modal" tabindex="-1" role="dialog" aria-labelledby="m_position_allocation">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reason for late onboarding</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="m-form" method="POST" action="/user_management/late_onboard">
                    {% csrf_token %}
                    <input name="account_id" id="m_account_id" type="text" value="" style="display:none;"/>
                    <div class="modal-body">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Reason:</label>
                                        <input type="text" name="late_reason" class="form-control m-input"
                                               maxlength="140" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Submit" class="btn btn-brand">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End onboard modal -->

    <div class="modal fade" id="resolve_task_modal" tabindex="-1" role="dialog" aria-labelledby="m_position_allocation">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Resolve account task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="m-form" method="POST" action="/notifications/cycle/confirm">
                    {% csrf_token %}
                    <input name="task_id" id="m_task_id" type="text" value="" style="display:none;"/>
                    <input name="flagged" id="flagged" type="text" value="False" style="display:none;"/>
                    <div class="modal-body">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>BC Link:</label>
                                        <input type="text" name="bc_link" id="bc_link" class="form-control m-input"
                                               maxlength="140" required/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Complete Task" class="btn btn-brand">
                        <button type="button" id="flag_task_btn" class="btn btn-danger">Flag</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        $('body').on('change', '.complete-todo', function () {
            let todoID = $(this).data('todo-id');

            // send request if checking off todo
            if (this.checked) {
                $.ajax({
                    url: '',
                    data: {
                        'todo_id': todoID,
                    },
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: 'POST',
                    success: () => {
                        $(this).prop('disabled', 'disabled');
                        // refresh list
                        $('#todoList').load(location.href + ' #todoList>*', '');
                    }
                });
            }
        });

        // instantiate datepicker, set default date, and submit with input value on date change
        let $calendar = $('#datepicker');
        let dateParts = '{{ today }}'.split('-');
        let date = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]); // JS counts months from 0 (dateParts[1])
        $calendar.datepicker('setDate', date);
        $calendar.on('changeDate', () => {
            let date = $calendar.datepicker('getFormattedDate');

            $('#todoDate').val(date);
            $('#todoForm').submit();
        });

        $(document).ready(function () {
            let $flagTaskBtn = $('#flag_task_btn');

            $('#late_onboard_modal').on('show.bs.modal', function (e) {
                let account_id = $(e.relatedTarget).data('account-id');
                $('#m_account_id').attr('value', account_id);
            });

            $('#resolve_task_modal').on('show.bs.modal', function (e) {
                let task_id = $(e.relatedTarget).data('task-id');
                $('#m_task_id').attr('value', task_id);
            });

            $flagTaskBtn.click(function () {
                $.ajax({
                    url: '/notifications/cycle/confirm',
                    data: {
                        'task_id': $('#m_task_id').val(),
                        'bc_link': $('#bc_link').val(),
                        'flagged': 'True'
                    },
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    type: 'POST',
                    success: function (data) {
                        window.location.href = '/user_management/profile';
                    }
                });
            });

            // mandate completed checkbox
            let $mandateCompleteBoxes = $('.mandate-completed');
            let $modal = $('#mandateConfirmation');
            let handlerAttached = false;
            $mandateCompleteBoxes.change(function () {
                let checked = this.checked;
                let mandateId = this.id;

                // display confirmation modal if already checked
                if (!checked) {
                    $modal.modal('toggle');
                    this.checked = true;

                    // only attach click handler once
                    if (handlerAttached) {
                        return;
                    } else {
                        // arrow function to avoid 'this' redefinition
                        $('#reopenMandate').click(() => {
                            sendRequest(checked, mandateId);
                            this.checked = false;
                            $modal.modal('toggle');
                        });
                        handlerAttached = true;
                    }
                } else {
                    sendRequest(checked, mandateId);
                }
            });

            function sendRequest(checked, mandateId) {
                $.ajax({
                    url: '',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    type: 'POST',
                    data: {
                        'checked': checked,
                        'mandate-id': mandateId
                    },
                    success: function () {
                        let inPrefix = checked ? '' : 'in';
                        toastr.success('Mandate successfully marked as ' + inPrefix + 'complete.');
                    }
                });
            }
        });
    </script>
{% endblock %}
