{% extends 'user_management/profile/layout_refactor.html' %}

{% block main_content %}
    <div class="card">
        <div class="card-content">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h4 class="title is-4">
                            Promos
                        </h4>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="/clients/promos/edit" class="button is-info">Edit Promos</a>
                    </div>
                    <div class="level-item">
                        <button id="add_promo_btn" class="button is-primary">Add Promo</button>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                <tr>
                    <th>
                        Account
                    </th>
                    <th>
                        Promo Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Update Status
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for promo in promos %}
                    <tr>
                        <td>
                            <a href="/clients/accounts/{{ promo.account.id }}">{{ promo.account }}</a>
                        </td>
                        <td>
                            {{ promo }}
                        </td>
                        <td>
                            {{ promo.desc }}
                        </td>
                        <td>
                            {{ promo.start_date }}
                        </td>
                        <td>
                            {{ promo.end_date }}
                        </td>
                        <td>
                            {% if promo.confirmed_started is None %}
                                <button class="button j-confirm-promo" data-promo-id="{{ promo.id }}"
                                        data-account-id="{{ promo.account.id }}" data-confirmation-type="0">Confirm
                                    Started
                                </button>
                            {% elif promo.confirmed_ended is None %}
                                <button class="button j-confirm-promo" data-promo-id="{{ promo.id }}"
                                        data-account-id="{{ promo.account.id }}" data-confirmation-type="1">Confirm
                                    Ended
                                </button>
                            {% else %}
                                Promo ended on {{ promo.confirmed_ended }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal modal-fx-fadeInScale" id="add_promo_modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <form id="add_promo_form">
                    <div class="level">
                        <div class="level-left">
                            <h5 class="title is-5">Add Promo</h5>
                        </div>
                        <div class="level-right">
                            <button class="button button-color" type="submit">
                                Confirm
                            </button>
                        </div>
                    </div>
                    <input name="account_id" type="text" value="{{ account.id }}" style="display:none;"/>
                    <div class="columns">
                        <div class="column is-4">
                            <label class="label">Name:</label>
                            <input type="text" name="promo-name" class="input" required/>
                        </div>
                        <div class="column is-4">
                            <label class="label">Start Date:</label>
                            <input type="text" name="start-date" class="input datepicker-here"
                                   data-time-format="hh:ii" autocomplete="off"
                                   data-language="en" placeholder="Set start date here" required
                                   data-timepicker="true">
                        </div>
                        <div class="column is-4">
                            <label class="label">End Date:</label>
                            <input type="text" name="end-date" class="input datepicker-here"
                                   data-time-format="hh:ii" autocomplete="off"
                                   data-language="en" placeholder="Set end date here" required
                                   data-timepicker="true">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Description:</label>
                        <input type="text" maxlength="140" name="promo-desc" class="input" required/>
                    </div>
                    <div class="columns">
                        <div class="column is-8">
                            <label class="label">Account</label>
                            <div class="select is-fullwidth">
                                <select name="account_id">
                                    {% for account in accounts %}
                                        <option value="{{ account.id }}">{{ account.client_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="column is-2" style="margin-top: 1.5em;">
                            <label class="checkbox">
                                <input type="checkbox" name="has-aw"/>
                                AW
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="has-fb"/>
                                FB
                            </label>
                        </div>
                        <div class="column is-2" style="margin-top: 1.5em;">
                            <label class="checkbox">
                                <input type="checkbox" name="has-bing"/>
                                Bing
                            </label>
                            <label class="checkbox">
                                <input type="checkbox" name="has-other"/>
                                Other
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extraJs %}
    <script>
        let csrftoken = '{{ csrf_token }}';
        let $promoCheck = $('.j-confirm-promo');

        $promoCheck.click(function () {
            $(this).addClass('is-loading');
            let confirmation_type = $(this).data('confirmation-type');
            let promo_type = $(this).data('promo-id');
            let account_id = $(this).data('account-id');

            let $clickedBtn = $(this);

            $.ajax({
                url: '/clients/promos/confirm',
                data: {
                    'account_id': account_id,
                    'promo_id': promo_type,
                    'confirmation_type': confirmation_type
                },
                headers: {'X-CSRFToken': csrftoken},
                type: 'POST',
                success: function () {
                    toastr.success('Successfully updated promo!');
                    $clickedBtn.removeClass('is-loading');
                    $clickedBtn.attr('disabled', true);
                }
            });
        });

        $('#promos_tab').addClass('is-active');

        $('.modal-close, .modal-background, .close-modal').click(() => {
            $('.modal').removeClass('is-active');
        });

        $('#add_promo_form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/clients/accounts/new_promo',
                headers: {'X-CSRFToken': csrftoken},
                type: 'POST',
                data: $(this).serialize(),
                success: () => {
                    $('.modal').removeClass('is-active');
                    toastr.success('Successfully added a new promo!');
                    setTimeout(() => {
                        location.reload();
                    }, 500);
                }
            });
        });

        $('#add_promo_btn').click(function () {
            $('#add_promo_modal').addClass('is-active');
        });
    </script>
{% endblock %}