{% extends 'user_management/profile/layout.html' %}

{% load notification_tags %}


{% block content %}
    <div class="m-content">

        {% if backups.count > 0 %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Reminder!</strong> You currently are backing up {{ backups.count }} accounts. Don't forget to
                check on them!
            </div>
        {% endif %}
        {% if star_accounts.count > 0 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Flagged account alert!</strong> You are assigned to {{ star_accounts.count }} flagged accounts.
                You can find them in the <strong>Flagged Accounts</strong> section below.
            </div>
        {% endif %}
        <!-- reporting portlet -->
        <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
            {% csrf_token %}
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                            {{ last_month_str }} Reports
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <table class='table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline'
                       id="reports_datatable">
                    <thead class="thead-inverse">
                    <tr class="main-table-header">
                        <th>
                            Account
                        </th>
                        <th>
                            Report Type
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            AM
                        </th>
                        <th>
                            Sent to AM
                        </th>
                        <th>
                            Sent to Client
                        </th>
                        <th>No Report</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for report in reports %}
                        <tr>
                            <td>
                                <a href="/clients/accounts/{{ report.account.id }}">
                                    {{ report.report_name }}
                                </a>
                                {% if forloop.counter > non_backups_length and forloop.counter <= with_backups_length %}
                                    <div class="badge badge-info badge-pill">Backup</div>
                                {% endif %}
                            </td>
                            <td>
                                {% if report.report_type != None %}
                                    {{ report.get_report_type_display }}
                                {% else %}

                                {% endif %}
                            </td>
                            <td>
                                {% if report.due_date == None %}
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <input type="text" data-account="{{ report.account.id }}"
                                                   class="form-control m_datepicker"
                                                   readonly="" placeholder="Set Due Date Here">
                                        </div>
                                    </div>
                                {% else %}
                                    {{ report.due_date }}
                                {% endif %}
                            </td>
                            <td>
                                {{ report.account.main_am }}
                            </td>
                            <td>
                                <label class="m-checkbox">
                                    <input type="checkbox" class="sent-to-am"
                                           data-account="{{ report.account.id }}"
                                            {% if report.received_by_am %} checked disabled{% endif %}>
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <label class="m-checkbox">
                                    <input type="checkbox" class="sent-to-client"
                                           data-account="{{ report.account.id }}" {% if report.sent_by_am %}
                                           checked disabled{% endif %}>
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger m-btn no-report"
                                            data-account="{{ report.account.id }}"
                                            data-toggle="modal" data-target="#m_no_report">
                                    No report
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end reporting portlet -->
    </div>

    <!-- Set KPI modal -->
    <div class="modal fade" id="m_no_report" tabindex="-1" role="dialog" aria-labelledby="m_no_report">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">This account will have no report for this month. Are you sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form class="m-form" method="POST">
                    {% csrf_token %}
                    <input name="account_id" id="no_report_acc_id" type="text" value="" style="display:none;"/>
                    <input name="month" id="no_report_month" type="text" value="{{ reporting_month }}" style="display:none;" />
                    <input name="year" id="no_report_month" type="text" value="{{ reporting_year }}" style="display:none;" />
                    <input name="action" type="text" value="no_report" style="display: none;" />
{#                    <div class="modal-body">#}
{#                        <div class="m-portlet__body">#}
{#                            <div class="form-group m-form__group">#}
{#                                <div class="row">#}
{#                                    <div class="col-md-6">#}
{#                                        <label>Target ROAS:</label>#}
{#                                        <input type="text" name="set-roas" class="form-control m-input"#}
{#                                               value="{{ account.target_roas }}"/>#}
{#                                    </div>#}
{#                                    <div class="col-md-6">#}
{#                                        <label>Target CPA:</label>#}
{#                                        <input type="text" name="set-cpa" class="form-control m-input"#}
{#                                               value="{{ account.target_cpa }}"/>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="modal-footer">
                        <input type="submit" value="Confirm" class="btn btn-brand" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End set KPIs -->
{% endblock %}

{% block extraJs %}
    <script>
        $(document).ready(function () {
            let $sentToAmCheck = $('.sent-to-am');
            let $sentToClientCheck = $('.sent-to-client');
            let $dueDatePickers = $('.m_datepicker');

            $dueDatePickers.datepicker({
                todayHighlight: !0,
                autoclose: !0,
                format: 'yyyy-mm-dd',
                orientation: "bottom left",
                templates: {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                }
            }).on('show.bs.modal', function (event) {
                event.stopPropagation();
            });

            $('#m_no_report').on('show.bs.modal', function (e) {
              let account_id = $(e.relatedTarget).data('account');
              $('#no_report_acc_id').attr('value', account_id);
            });

            let csrftoken = $("[name=csrfmiddlewaretoken]").val();

            /**
             * Checks off report box
             * @param  {string} el  jQuery element
             * @param  {string} url string
             * @return {}
             */
            let checkReportBox = function (el, url) {
                $.ajax({
                    url: '/clients/reports/' + url,
                    data: {
                        'account_id': el.data('account'),
                        'month': {{ reports.0.month }},
                        'year': {{ reports.0.year }}
                    },
                    headers: {'X-CSRFToken': csrftoken},
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                    }
                });
            };

            let setDueDate = function (el) {
                $.ajax({
                    url: '/clients/reports/set-due-date',
                    data: {
                        'account_id': el.data('account'),
                        'month': {{ reports.0.month }},
                        'due_date': el.val()
                    },
                    headers: {'X-CSRFToken': csrftoken},
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                    }
                });
            };

            $dueDatePickers.change(function () {
                setDueDate($(this));
                $(this).attr('disabled', 'disabled');
            });


            $sentToAmCheck.click(function () {
                if ($(this).is(':checked')) {
                    checkReportBox($(this), 'confirm_sent_am');
                    $(this).attr('disabled', 'disabled');
                }
            });

            $sentToClientCheck.click(function () {
                if ($(this).is(':checked')) {
                    checkReportBox($(this), 'confirm_sent_client');
                    $(this).attr('disabled', 'disabled');
                }
            });


        });
    </script>
{% endblock %}