{% extends 'user_management/profile/layout.html' %}

{% load notification_tags %}
{% load template_filters %}

{% block content %}
    <div class="m-content">
        {% with notifications=request.user|get_unread_notifications %}
            {% if notifications.count > 0 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
                    <strong>Heads Up!</strong> You have unread notifications.
                </div>
            {% endif %}
        {% endwith %}
        {% if backups.count > 0 %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Reminder!</strong> You currently are backing up {{ backups.count }} accounts. Don't forget to
                check on them!
            </div>
        {% endif %}
        {% if star_accounts.count > 0 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Flagged account alert!</strong> You are assigned to {{ star_accounts.count }} flagged accounts.
                You can find them in the <strong>Flagged Accounts</strong> section below.
            </div>
        {% endif %}
        <!-- Member skills -->
        <div class="m-portlet m-portlet--mobile m-portlet--body-progress-">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" style="font-size: 1.3rem;">
                            Member Skills
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                <table class='table table-striped table-bordered table-hover table-checkable dataTable no-footer dtr-inline'
                       id="my_skills_datatable">
                    <thead class="thead-inverse">
                    <tr class="main-table-header">
                        {% for member_skill in member_skills %}
                            <th>
                                {{ member_skill.skill.name }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for member_skill in member_skills %}
                            <td>
                                <span class="m-badge m-badge--{{ score_badges|get_item_from_list:member_skill.score }}"></span>
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- end member skills -->
    </div>
{% endblock %}