{% extends 'user_management/profile/layout.html' %}

{% load notification_tags %}


{% block content %}
    <div class="m-content">
        {# Notification stuff #}
        {% with notifications=request.user|get_unread_notifications %}
            {% if notifications.count > 0 %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
                    <strong>Heads Up!</strong> You have unread notifications.
                </div>
            {% endif %}
        {% endwith %}
        {% if backups.count > 0 %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Reminder!</strong> You currently are backing up {{ backups.count }} accounts. Don't forget to
                check on them!
            </div>
        {% endif %}
        {% if star_accounts.count > 0 %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <strong>Flagged account alert!</strong> You are assigned to {{ star_accounts.count }} flagged accounts.
                You can find them in the <strong>Flagged Accounts</strong> section below.
            </div>
        {% endif %}
        {#  Main content #}
        <div class="row">
            <div class="col-xl-12">
                <div class="m-portlet m-portlet--responsive-mobile-">
                    <div class="m-portlet__head collapse-trigger" data-toggle="collapse" data-target="#hours-body">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Todo List
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <h4>
                            Promos Starting/Ending Today
                        </h4>
                        {% for promo in promos_today %}
                            <div class="row" style="border: 1px solid #f4f5f8; padding: 1rem 1rem 1rem 1rem;">
                                <div class="col-md-1">
                                    <label class="m-checkbox">
                                        <input type="checkbox"/>
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col-md-11">
                                    <a href="/clients/accounts/{{ promo.account_id }}">{{ promo }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
